@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  opacity: 0;
  animation: fade-in 1.1s linear 0s 1 forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
section {
  margin-bottom: 1rem;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 2rem 0;
}
h1 {
  font-size: 3vw;
}
@media (max-width: 500px) {
  h1 {
    font-size: 6vw;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 6vw;
  }
}
h2 {
  font-size: 2.5vw;
}
@media (max-width: 500px) {
  h2 {
    font-size: 5.5vw;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 5.5vw;
  }
}
p {
  font-size: 2vw;
}
@media (max-width: 500px) {
  p {
    font-size: 3vw;
  }
}
@media (max-width: 1024px) {
  p {
    font-size: 4vw;
  }
}
a {
  text-decoration: none;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 2rem 0;
  font-size: 2vw;
}
@media (max-width: 500px) {
  nav {
    margin: 2.5rem 0 1.5rem 0;
    font-size: 4.5vw;
  }
}
@media (max-width: 1024px) {
  nav {
    margin: 3rem 0 2rem 0;
    font-size: 3.5vw;
  }
}
nav a {
  background: black;
  border: 0.3rem solid black;
  border-radius: 0.2rem;
  width: 15%;
  height: 5rem;
  text-align: center;
  transition: background 0.2s, border 0.2s;
}
@media (max-width: 500px) {
  nav a {
    width: 17%;
    height: 2.5rem;
  }
}
@media (max-width: 1024px) {
  nav a {
    width: 17%;
    height: 3rem;
  }
}
nav a:hover {
  background: gray;
  border: 0.3rem solid gray;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about img {
  width: 35%;
  margin: 2rem 0 0 0;
}
@media (max-width: 500px) {
  #about img {
    width: 65%;
    margin: 4rem 0 2rem 0;
  }
}
@media (max-width: 1024px) {
  #about img {
    width: 65%;
    margin: 4rem 0 2rem 0;
  }
}
#about p {
  margin: 0 5rem;
  line-height: 1.5;
  font-size: 2.2rem;
}
#skills-workhistory {
  display: flex;
  justify-content: center;
}
#skills-workhistory h3 {
  font-size: 4rem;
}
#skills-workhistory .header-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 15rem;
}
#skills-workhistory .header-list ul {
  font-size: 3rem;
}
#skills-workhistory .header-list li {
  margin: 2rem 0;
}
#showcase,
#contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  #showcase {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  #showcase {
    flex-wrap: wrap;
  }
}
#showcase img {
  width: 95%;
  height: auto;
}
@media (max-width: 500px) {
  #showcase img {
    width: 22%;
    margin: 0 0 1.2rem 0;
  }
}
@media (max-width: 1024px) {
  #showcase img {
    width: 22%;
    margin: 0 0 1.2rem 0;
  }
}
#showcase p {
  text-align: center;
}
#projects p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p button {
  width: 40%;
}
@media (max-width: 500px) {
  p button {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  p button {
    width: 55%;
  }
}
button,
img {
  margin: 1rem;
}
img {
  border-radius: 0.2rem;
}
button {
  border-radius: 0.2rem;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 15%;
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  transition: background 0.2s;
}
@media (max-width: 500px) {
  button {
    margin: 1.5rem;
    width: 35%;
    font-size: 4vw;
  }
}
@media (max-width: 1024px) {
  button {
    margin: 1.5rem;
    width: 35%;
    font-size: 4vw;
  }
}
button:hover {
  background: gray;
}
button a {
  transition: color 0.2s;
}
button a:hover {
  color: white;
}
i {
  cursor: pointer;
  color: black;
  font-size: 5rem;
  transition: color 0.2s;
}
@media (max-width: 500px) {
  i {
    font-size: 3rem;
  }
}
@media (max-width: 1024px) {
  i {
    font-size: 4rem;
  }
}
i:hover {
  color: gray;
}
#contact {
  width: 100%;
  margin-top: 5rem;
}
