/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Neucha', cursive;
  background-color: #61605b;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.container .header {
  width: 100%;
  margin: 15px auto;
  height: 80px;
  display: flex;
  border-bottom: 3px solid black;
  padding: 10px;
}
.nav--bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav--bar .left-side {
  width: 40%;
  display: flex;
}
.nav--bar a {
  width: 45% ;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 auto;
  padding: 0 8px;
  display: flex;
  justify-content: space-around;
  color: white;
}
@media (max-width: 500px) {
  .nav--bar a {
    font-size: 1.2rem;
    width: 50%;
  }
}
.nav--bar a:hover {
  color: #4cb7a8;
}
.nav--bar .right-side {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 40%;
}
@media (max-width: 500px) {
  .nav--bar .right-side {
    width: 30%;
  }
}
.nav--bar img {
  height: 52px;
}
.face__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 500px) {
  .face__content {
    justify-content: center;
    align-self: center;
  }
}
.face__content .main-img img {
  height: 350px;
  width: 80%;
  border: 4px solid #4cb7a8;
  border-radius: 8%;
  margin-top: 20px;
  box-shadow: 10px 10px 7px #4cb7a8;
  justify-self: center;
  margin-bottom: 12px;
}
@media (max-width: 500px) {
  .face__content .main-img img {
    display: none;
  }
}
.face__content .about-me {
  color: white;
  width: 70%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.face__content .about-me h1 {
  font-size: 2rem;
  border-bottom: 2px solid black;
  letter-spacing: 0.5rem;
  color: white;
  margin: 15px auto;
  width: 90%;
}
.middle-con {
  width: 95%;
  height: 150px;
  margin: 30px auto;
  padding: 10px auto;
  background: linear-gradient(to bottom, black, #61605b);
  border: 3px solid transparent;
  border-image: linear-gradient(0deg, #4cb7a8, transparent);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.middle-con h1 {
  font-size: 2rem;
  border-bottom: 2px solid black;
  letter-spacing: 0.5rem;
  color: white;
}
.middle-con p {
  font-size: 1.2rem;
  color: white;
  width: 75%;
  font-weight: lighter;
  word-spacing: 3px;
}
@media (max-width: 500px) {
  .middle-con p {
    width: 100%;
  }
}
.job-history {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 500px) {
  .job-history {
    flex-direction: column;
    width: 95%;
    justify-content: center;
  }
}
.job-history .job {
  color: white;
  background: linear-gradient(to bottom, black, #61605b);
  border: 3px solid transparent;
  border-image: linear-gradient(0deg, #4cb7a8, transparent);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.job-history .job h3 {
  font-size: 2rem;
  border-bottom: 2px solid black;
  letter-spacing: 0.5rem;
  color: white;
  text-align: center;
}
.job-history .job p {
  font-size: 1.2rem;
  color: white;
  width: 75%;
  font-weight: lighter;
  word-spacing: 3px;
}
.con {
  background: black;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con h1 {
  color: #4cb7a8;
  font-size: 1rem;
}
.main-contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 20px 0;
  width: 100%;
}
@media (max-width: 500px) {
  .main-contact {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }
}
.main-contact .info {
  font-family: 'Crushed', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, black, #61605b);
  border: 3px solid transparent;
  border-image: linear-gradient(0deg, #4cb7a8, transparent);
  border-image-slice: 1;
  color: white;
  padding: 40px 2%;
}
@media (max-width: 500px) {
  .main-contact .info {
    width: 95%;
  }
}
.main-contact .name {
  color: #4cb7a8;
  font-size: 2rem;
  border-bottom: 3px solid white;
}
.main-contact .name .phone,
.main-contact .name .email {
  font-size: 1.8rem;
  letter-spacing: 8px;
}
.chances-img img {
  width: 100%;
}
@media (max-width: 500px) {
  .chances-img img {
    width: 95%;
    margin: 8px;
  }
}
