/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Poor Story', cursive;
}
/* End of Reset*/
html {
  font-size: 62.5%;
}
.main-container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0px 4.5%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
header {
  display: flex;
  justify-content: flex-end;
}
header nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
header a {
  text-decoration: none;
  padding: 3%;
}
@media (max-width: 500px) {
  header a {
    width: 99%;
    font-size: 2.2rem;
    border-bottom: 2px dotted black;
    border-radius: 10%;
  }
}
.top-container {
  background-color: blanchedalmond;
  width: 100%;
  padding: 1.5%;
  border-radius: 5%;
  text-align: center;
  color: black;
}
@media (max-width: 500px) {
  .top-container {
    margin-top: 3%;
  }
}
.top-container img {
  border-radius: 10%;
  margin: 10px 1.5%;
  padding-top: 1.7%;
}
@media (max-width: 500px) {
  .top-container img {
    display: none;
  }
}
.top-container h1 {
  font-size: 4.5rem;
}
.top-container p {
  font-size: 2.2rem;
  padding: 1.5% 0px;
}
.top-container .personal-quote {
  border-top: 1px dashed black;
}
.top-container button {
  padding: 10px 7%;
  font-size: 2.2rem;
  border-radius: 20%;
  background-color: teal;
  color: indigo;
  margin-left: 3.7%;
}
.middle-container {
  display: flex;
  width: 100%;
  font-size: 1.8rem;
  margin-top: 25px;
  color: black;
}
@media (max-width: 500px) {
  .middle-container {
    flex-direction: column;
    width: 100%;
  }
}
.middle-container section {
  width: 49%;
}
@media (max-width: 500px) {
  .middle-container section {
    width: 100%;
    margin-bottom: 2%;
  }
}
.middle-container section h2 {
  font-size: 2.2rem;
  color: indigo;
}
.middle-container section .skills {
  border: 1px solid green;
  padding: 1.5%;
  background-color: lightgray;
}
.middle-container .about-me {
  text-align: center;
  padding-right: 2%;
}
.middle-container .about-me h2 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}
.middle-container .about-me p {
  padding: 5px;
}
.bottom-container {
  width: 100%;
  font-size: 1.6rem;
  color: black;
}
.bottom-container h2 {
  font-size: 2.2rem;
  color: indigo;
}
.bottom-container table {
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;
}
.bottom-container table th {
  background-color: darkgoldenrod;
}
.bottom-container table th,
.bottom-container table td {
  border: 1px solid green;
  padding: 15px;
  text-align: left;
}
.bottom-container table tr:nth-child(even) {
  background-color: darkgray;
}
@media (max-width: 500px) {
  .bottom-container table {
    width: 100%;
  }
}
.bottom-container footer {
  display: flex;
  justify-content: flex-end;
  padding: 3.2%;
}
.bottom-container footer .contact-option {
  padding: 1.7%;
  text-align: center;
  font-size: 1.8rem;
}
.bottom-container footer p {
  border: 5px double darkgoldenrod;
  margin: 1.2%;
}
.bottom-container footer a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .bottom-container footer {
    width: 100%;
  }
}
