/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.section-title {
  font-size: 2rem;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.table-column-33pct {
  width: 33%;
  text-align: center;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: #3a3a3a;
  background-color: rgba(255, 255, 255, 0.705);
}
.main-container {
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
}
.main-container nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(167, 167, 167, 0.74);
  margin-bottom: 30px;
}
.main-container nav a {
  padding: 20px 2%;
  margin: 0 1%;
  text-decoration: none;
  color: black;
}
.main-container nav a:hover {
  text-decoration: underline;
  color: #faf4ff;
}
.main-container h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
}
.main-container .intro h2 {
  font-size: 2rem;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.main-container .skills h2 {
  font-size: 2rem;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.main-container .skills div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}
.main-container .skills div p {
  width: 25%;
  text-align: center;
  padding: 15px;
}
@media (max-width: 500px) {
  .main-container .skills div p {
    width: 50%;
  }
}
.main-container .work h2 {
  font-size: 2rem;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.main-container .work div {
  display: flex;
  justify-content: space-evenly;
}
.main-container .contact h2 {
  font-size: 2rem;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.fab {
  font-size: 7rem;
}
.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #3b5998;
}
.fa-less {
  color: #1A3053;
}
.fa-js {
  color: #F6DA1D;
}
.fa-node-js {
  color: #81C142;
}
.fa-react {
  color: #00d8ff;
}
.fa-git {
  color: #F05033;
}
.work .experience-table {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 90%;
  margin: 0 auto;
}
.work .experience-table .table-header {
  font-size: 1.9rem;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
}
.work .experience-table .table-header p {
  width: 33%;
  text-align: center;
}
.work .experience-table .table-content p {
  width: 33%;
  text-align: center;
  padding: 15px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(167, 167, 167, 0.74);
  padding: 10px 5%;
}
@media (max-width: 500px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form input {
  padding: 5px 0;
  margin: 5px 0;
}
footer p {
  text-align: center;
  padding: 40px 0;
}
