/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #16161d;
}
.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
.container nav {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
.container nav a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  padding-bottom: 2px;
  text-decoration: none;
  margin-right: 3%;
  border-bottom: 2px solid #F5DA81;
}
.container nav a:hover {
  border-top: 2px solid #F5DA81;
}
.container header h1 {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  font-size: 1.84em;
  margin-bottom: 15px;
  margin-top: 15px;
}
.container header h3 {
  margin-top: 5px;
  font-size: 1.2em;
  margin-bottom: 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
}
.container header p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  font-weight: 400;
}
.container header button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  font-size: 1.05em;
  background-color: #d4d100;
  border: 0;
  width: 23.8%;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.container header button:hover {
  background-color: #F5DA81;
}
.container header img {
  opacity: 1;
}
.container .text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
}
.container .section {
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #d4d100;
  background-color: rgba(233, 2, 2, 0.788);
  margin-bottom: 20px;
  margin-left: 1%;
}
.container .section h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .section p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  font-size: 0.9em;
  margin-top: 10px;
}
.container .section ul {
  margin-bottom: 15px;
}
.container .section ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container table {
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #16161d;
  text-align: left;
}
.container table th {
  padding-right: 20px;
  padding-bottom: 8px;
}
.container table td {
  padding-top: 10px;
  font-weight: 400;
  padding-left: 10px;
}
.container .section p {
  margin-bottom: 20px;
}
