/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.Container {
  display: flex;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  flex-direction: column;
}
section nav {
  flex-shrink: 2;
  display: flex;
  width: 100%;
  border: 1px black solid;
  justify-content: space-around;
  flex-direction: row;
  margin: 2% 0;
  z-index: 1;
}
section nav a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
section nav .links {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
}
section nav .links:hover {
  background-color: aqua;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header {
  width: 100%;
  border-bottom: 1px solid pink;
  display: flex;
  align-content: center;
  margin-top: 3%;
  padding-bottom: 3%;
}
header h1 {
  font-size: 2.4rem;
  text-emphasis: bold;
  margin: 0 auto;
}
.portrait {
  margin-top: 5%;
  border: 2px solid black;
  width: 282px;
  height: 404px;
  background-image: url(../img/me.jpg);
  background-repeat: none;
  background-size: 282px 404px;
  flex-shrink: 2;
}
.topInfo {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.aboutMe {
  flex-shrink: 2;
  width: 60%;
  float: right;
  margin-top: 5%;
  border: 1px solid black;
}
.aboutMe h2 {
  font-size: 4.2rem;
  text-align: center;
  margin: 5% 0%;
  font-weight: 700;
}
.aboutMe ul {
  font-size: 1.8rem;
  text-align: center;
}
.aboutMe ul li {
  margin: 3% 0;
}
.Info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  margin: 2.5% 0;
  text-align: center;
}
.Info h2 {
  font-size: 3.2rem;
  margin: 2% 0;
}
.Info div {
  text-align: left;
  margin-left: 2%;
  margin-top: 0.75%;
  margin-bottom: 0.75%;
}
.Info div p {
  font-size: 1.8rem;
}
footer {
  width: 100%;
}
footer nav {
  flex-shrink: 2;
  display: flex;
  width: 100%;
  border: 1px black solid;
  justify-content: space-around;
  flex-direction: row;
  margin: 2% 0;
  z-index: 1;
}
footer nav a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
footer nav .links {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
}
footer nav .links:hover {
  background-color: aqua;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.copyrights {
  margin: 2% 0;
  text-align: center;
  font-size: 1.4rem;
}
