/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  color: #670319;
}
a:link:hover,
a:visited:hover {
  text-decoration: underline;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html {
  background: #eceeeb;
}
.container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container .main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border: 2px solid #670319;
  border-width: 0 0 2px 0;
  margin-bottom: 4rem;
}
@media screen and (max-width: 500px) {
  .container .main-nav {
    flex-direction: column;
    align-items: center;
  }
}
.container .main-nav .main-nav__bar {
  display: flex;
  flex-direction: column;
  width: 45.4rem;
  padding-left: 2rem;
}
@media screen and (max-width: 500px) {
  .container .main-nav .main-nav__bar {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.container .main-nav h1 {
  font-family: 'Uncial Antiqua', sans-serif;
  font-size: 280%;
  color: #670319;
}
@media screen and (max-width: 500px) {
  .container .main-nav h1 {
    font-size: 250%;
    align-self: center;
  }
}
.container .main-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
}
.container .main-nav nav a {
  font-size: 125%;
  font-weight: bold;
  color: inherit;
}
.container .main-nav nav a:hover {
  color: #435937;
}
.container .main-nav .main-nav__profile {
  order: -1;
  width: 28%;
  max-width: 22.4rem;
  min-width: 19.2rem;
  height: 22.4rem;
  position: relative;
  top: 25%;
  border-radius: 2rem 0;
}
@media screen and (max-width: 500px) {
  .container .main-nav .main-nav__profile {
    top: 0;
    margin-top: 4rem;
  }
}
.container .main-nav .main-nav__profile img {
  width: 100%;
  height: auto;
  outline: 0.5rem solid #eceeeb;
}
.container main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 5%;
  justify-content: space-between;
}
.container main section {
  border-radius: 2rem 0;
  width: 47.5%;
  background: white;
  line-height: 1.2;
  padding: 1rem;
  text-align: justify;
}
.container main section h2 {
  font-size: 125%;
  font-weight: bold;
  color: inherit;
  margin: 1em 0;
}
@media screen and (max-width: 500px) {
  .container main section {
    width: 100%;
  }
}
.container main section:nth-child(2n-1) {
  margin-top: 4rem;
}
@media screen and (max-width: 500px) {
  .container main section:nth-child(2n-1) {
    margin: 2rem 0;
  }
}
.container main section:nth-child(2n) {
  margin-bottom: 4rem;
}
@media screen and (max-width: 500px) {
  .container main section:nth-child(2n) {
    margin: 2rem 0;
  }
}
.container main table {
  width: 100%;
}
.container main table caption {
  font-size: 125%;
  font-weight: bold;
  color: inherit;
  margin: 1em 0;
}
.container main table tr {
  border-top: 1px solid black;
}
.container main table td {
  padding: 1rem;
}
.container main .contact__details {
  display: flex;
  flex-direction: column;
}
.container main .contact__details span {
  margin-bottom: 1em;
}
.container footer {
  margin: 4rem 5% 0rem 5%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
