/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  text-align: center;
  background-color: lightgray;
}
html .mainContainer,
body .mainContainer {
  width: 90%;
  background-color: darkgray;
  margin: 0 auto;
}
html .mainContainer .topNav,
body .mainContainer .topNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 2em;
}
html .mainContainer .topNav a,
body .mainContainer .topNav a {
  color: #fff;
  margin-left: 3em;
}
@media (max-width: 500px) {
  html .mainContainer .topNav .topNav,
  body .mainContainer .topNav .topNav {
    justify-content: center;
  }
}
html .mainContainer .top-content,
body .mainContainer .top-content {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  padding: 1em 2em;
  text-align: left;
  background-color: white;
}
html .mainContainer .top-content .proPic,
body .mainContainer .top-content .proPic {
  width: 175px;
}
html .mainContainer .top-content h1,
body .mainContainer .top-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
html .mainContainer .top-content h3,
body .mainContainer .top-content h3 {
  font-size: 1.8em;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}
html .mainContainer .top-content p,
body .mainContainer .top-content p {
  margin: 1em 0;
  font-size: 1.2em;
}
html .mainContainer .top-content button,
body .mainContainer .top-content button {
  font-size: 1em;
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  background-color: darkgray;
  color: white;
}
html .mainContainer .bottomSection,
body .mainContainer .bottomSection {
  display: flex;
  flex-direction: column;
  margin: 2em;
  text-align: left;
}
html .mainContainer .bottomSection .topRow,
body .mainContainer .bottomSection .topRow {
  display: flex;
}
html .mainContainer .bottomSection .topRow .text,
body .mainContainer .bottomSection .topRow .text {
  width: 48%;
}
html .mainContainer .bottomSection .topRow .text h2,
body .mainContainer .bottomSection .topRow .text h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.2em;
}
html .mainContainer .bottomSection .topRow .text p,
body .mainContainer .bottomSection .topRow .text p {
  font-size: 1.2em;
}
html .mainContainer .bottomSection .topRow .skills,
body .mainContainer .bottomSection .topRow .skills {
  width: 48%;
  margin-left: 2em;
}
html .mainContainer .bottomSection .topRow .skills h3,
body .mainContainer .bottomSection .topRow .skills h3 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
html .mainContainer .bottomSection .topRow .skills ul,
body .mainContainer .bottomSection .topRow .skills ul {
  border: 1px solid black;
  border-radius: 5px;
}
html .mainContainer .bottomSection .topRow .skills ul li,
body .mainContainer .bottomSection .topRow .skills ul li {
  font-size: 1.4em;
  border-bottom: 1px solid black;
  padding: 0.5em;
}
html .mainContainer .bottomSection .topRow .skills ul li:last-child,
body .mainContainer .bottomSection .topRow .skills ul li:last-child {
  border-bottom: none;
}
html .mainContainer .bottomSection .bottomRow h2,
body .mainContainer .bottomSection .bottomRow h2 {
  font-size: 2em;
  font-weight: 600;
}
html .mainContainer .bottomSection .bottomRow .history,
body .mainContainer .bottomSection .bottomRow .history {
  display: flex;
  flex-direction: column;
}
html .mainContainer .bottomSection .bottomRow .history .historyRows,
body .mainContainer .bottomSection .bottomRow .history .historyRows {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
html .mainContainer .bottomSection .bottomRow .history .historyRows:first-child,
body .mainContainer .bottomSection .bottomRow .history .historyRows:first-child {
  font-weight: 600;
  font-size: 1.3em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
html .mainContainer .bottomSection .bottomRow .history .historyRows:nth-child(even),
body .mainContainer .bottomSection .bottomRow .history .historyRows:nth-child(even) {
  background-color: lightgray;
}
html .contactbottom h3,
body .contactbottom h3 {
  padding-top: 12px;
  font-size: 2em;
  font-weight: 600;
}
html .contactbottom p,
body .contactbottom p {
  padding-bottom: 0.5em;
}
html .contactbottom hr,
body .contactbottom hr {
  border-color: black;
}
html footer,
body footer {
  background-color: #808080;
}
