/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
body {
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
}
/* Header Styles */
header {
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  header * {
    padding-top: 20px;
  }
}
header nav {
  margin-top: 50px;
  width: 610px;
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  color: #ffb6c1;
  height: 50px;
  width: 100%;
}
@media (max-width: 400px) {
  header nav a {
    border-bottom: 1px solid gray;
    height: 60px;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: #333333;
}
@media (max-width: 400px) {
  header nav a:first-child {
    border-top: 1px solid gray;
  }
}
@media (max-width: 768px) {
  header nav {
    width: 100%;
    margin: 38px 3%;
  }
}
@media (max-width: 400px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 768px) {
  header .logo {
    order: -1;
    display: block;
    margin: 30px auto 0;
  }
}
@media (max-width: 400px) {
  header .logo {
    align-self: center;
    justify-content: center;
  }
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
@media (max-width: 768px) {
  .cta .cta-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 768px) {
  .cta img {
    display: none;
  }
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .top-content div {
    padding-left: 2%;
    padding-right: 2%;
  }
  .main-content .top-content div p {
    padding-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .main-content .top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .main-content .middle-img {
    padding-left: 2%;
    padding-right: 2%;
    height: 90%;
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  padding-right: 20px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .main-content .bottom-content div {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/* Contact Styles */
.contact p {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .contact {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 400px) {
  .contact {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 40px;
}
