/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
li {
  font-size: 1.6rem;
}
.main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.main .upper-nav {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 800px;
  background-color: #ff808c;
  border-radius: 0px 0px 10px 10px;
  z-index: 2;
}
.main .upper-nav a {
  font-size: 1.8rem;
  color: #d5fffa;
  background-color: #e8e3b3;
  margin: 10px 1%;
  padding: 5px 2%;
  border: 1px solid black;
  border-radius: 5px;
}
.main .upper-nav a:hover {
  color: #e8e3b3;
  background-color: #d5fffa;
}
@media (max-width: 500px) {
  .main .upper-nav {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
  }
  .main .upper-nav a {
    width: 60%;
    text-align: center;
  }
}
.main .main-header {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6ca8e8;
  padding: 70px 0% 20px 0%;
  border-radius: 0px 0px 10px 10px;
}
.main .main-header img {
  width: 50%;
}
.main .main-header h1 {
  padding: 10px 0%;
}
.main .main-header p {
  font-size: 2.2rem;
}
.main .main-header .header-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 20%;
  padding: 10px 0%;
}
.main .main-header .header-links a {
  color: #d5fffa;
}
.main .main-header .header-links a:hover {
  color: #e8e3b3;
}
@media (max-width: 500px) {
  .main .main-header {
    width: 100%;
    border-radius: 0;
  }
  .main .main-header img {
    width: 60%;
  }
  .main .main-header .header-links {
    justify-content: space-evenly;
    width: 60%;
  }
}
.main .about-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -50px;
  padding: 70px 2.5% 20px 2.5%;
}
.main .about-skills .about {
  width: 65%;
}
.main .about-skills .about h2 {
  margin-bottom: 5px;
}
.main .about-skills .skills {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
.main .about-skills .skills h3 {
  margin: 5px 0% 10px 0%;
  border-bottom: 1px solid black;
}
.main .about-skills .skills li {
  margin-bottom: 2px;
}
@media (max-width: 500px) {
  .main .about-skills .skills h3 {
    margin-bottom: 0px;
  }
}
.main .contact-info {
  width: 100%;
  height: 200px;
  margin-top: -50px;
  padding: 20px 0% 20px 0%;
}
.main .contact-info div {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  background-color: #6ca8e8;
  border-radius: 10px;
}
.main .contact-info div p {
  padding: 5px 20%;
}
.main .contact-info div a {
  align-self: center;
  font-size: 1.8rem;
  color: #d5fffa;
  background-color: #e8e3b3;
  margin: 10px 1%;
  padding: 5px 2%;
  border: 1px solid black;
  border-radius: 5px;
}
.main .contact-info div a:hover {
  color: #e8e3b3;
  background-color: #d5fffa;
}
@media (max-width: 500px) {
  .main .contact-info div {
    padding-top: 10px;
    border-radius: 0;
  }
}
.main .portfolio {
  width: 100%;
  margin-top: -30px;
  padding: 70px 2.5% 20px 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .portfolio h2 {
  padding: 10px 0%;
  font-size: 3rem;
}
.main .portfolio div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0%;
}
.main .portfolio div img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 20px 0%;
  border: 3px solid black;
  border-radius: 16px;
}
.main .work-history {
  width: 100%;
  align-self: flex-start;
  background-color: #6ca8e8;
  padding: 20px 20%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main .work-history h2 {
  text-align: center;
  margin-bottom: 10px;
}
.main .work-history h3 {
  margin: 5px 0%;
}
.main .work-history p {
  line-height: 1.8rem;
}
@media (max-width: 500px) {
  .main .work-history {
    border-radius: 0;
  }
}
