/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 2.5rem;
  color: white;
}
h2 {
  font-size: 1.7rem;
  color: white;
}
p {
  font-size: 1.3rem;
  color: white;
}
.container {
  font-family: 'Old Standard TT', serif;
  background-color: #f2fffb;
}
nav {
  font-size: 1.5rem;
  background-color: #c7e7df;
}
nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav .nav-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0.1px solid black;
  border-bottom: 0.1px solid black;
}
nav .nav-bar a:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  background-color: #e0fff7;
  font-size: 1.6rem;
}
nav a {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
  text-decoration: none;
}
body .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .photo .profile {
  width: 80%;
  height: auto;
  border-radius: 10%;
}
body .bod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .bod .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  width: 95%;
  background-color: #7a9d96;
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
}
body .bod .intro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}
body .bod .intro p {
  color: white;
  padding: 20px;
}
body .bod .intro button {
  background-color: #c7e7df;
  color: black;
  height: 50px;
  border-radius: 15px;
  font-size: 1.4rem;
  cursor: pointer;
}
body .bod .intro button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.bottom-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.bottom-section .skills {
  border: 0.5px solid black;
  background-color: #7a9d96;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
}
.bottom-section .skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.bottom-section .skills p {
  padding: 5px;
}
.bottom-section .work {
  border: 0.5px solid black;
  background-color: #7a9d96;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
}
.bottom-section .work h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.bottom-section .work p {
  padding: 5px;
}
.contact {
  border: 0.5px solid black;
  width: 100%;
  background-color: #7a9d96;
  border-radius: 0px;
  padding: 15px;
  margin: 0px;
}
.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.contact p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  nav .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .nav-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 0.1px solid black;
  }
  body .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .bottom-section .skills {
    width: 100%;
  }
  body .bottom-section .work {
    width: 100%;
  }
  body .bottom-section .contact .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
