/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Nanum Gothic", sans-serif;
  height: 100%;
}
h1 {
  font-size: 3rem;
  font-family: "Fjalla One", sans-serif;
}
p {
  font-size: 2rem;
  line-height: 1.25;
  padding: 10px 0;
}
.container {
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
}
.container header {
  display: flex;
  justify-content: flex-end;
}
.container header nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  margin-left: 3%;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container header nav {
    background: #751e1a;
  }
}
.container header nav a {
  text-decoration: none;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .container header nav a {
    color: antiquewhite;
  }
}
.container .showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .showcase-text {
  padding: 10px;
}
.container .obj-stmnt {
  margin-bottom: 20px;
}
.container .btn {
  width: 150px;
  height: 45px;
  background: gray;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .why-me {
  display: flex;
  justify-content: space-between;
}
.container .why-me .about-me {
  width: 48%;
}
.container .why-me .skills {
  font-size: 2rem;
}
.container .why-me .skills h1 {
  margin-bottom: 10px;
}
.container .why-me .skills ul {
  border: 1px solid lightgray;
}
.container .why-me .skills li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.container h1 {
  margin-top: 10px;
}
.container .employment {
  font-size: 1.6rem;
  padding: 20px;
}
.container .employment td,
.container .employment th {
  height: 50px;
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.container .contact-form h1 {
  padding: 10px;
  margin-left: 40px;
  font-size: 62px;
}
.container .contact-form form {
  width: 100%;
  margin-top: 20px;
  height: 270px;
}
.container .contact-form form h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.container .contact-form form input {
  width: 35%;
  height: 30px;
  margin-bottom: 15px;
}
.container footer {
  text-align: center;
  height: 50px;
  background-color: gray;
}
