/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 20px auto;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.container {
  max-width: 880px;
  width: 80%;
}
header {
  display: flex;
  justify-content: flex-end;
}
header nav {
  width: 40%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: black;
  text-decoration: none;
}
.top-section {
  background-color: #DCDCDC;
}
.top-section .section-1 {
  padding: 40px 20px 20px 20px;
}
.top-section .section-1 .profile-pic {
  width: 30%;
  height: 30%;
}
.top-section .section-1 h1 {
  font-size: 2rem;
}
.top-section .section-1 p {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.top-section .section-2 {
  padding: 0px 20px 20px 20px;
  height: 125px;
}
.top-section .section-2 button {
  margin-top: 15px;
  background-color: gray;
  color: white;
  border: gray;
  width: 20%;
  height: 28%;
}
.mid-section {
  display: flex;
}
.mid-section .section-3 {
  width: 50%;
  height: auto;
  padding: 20px 20px 0px 0px;
}
.mid-section .section-3 h2 {
  font-size: 1.1875rem;
  margin-bottom: 10px;
}
.mid-section .section-3 p {
  font-size: 0.75rem;
}
.mid-section .section-4 {
  width: 50%;
  height: auto;
  padding: 20px 0px 0px 0px;
}
.mid-section .section-4 h2 {
  font-size: 1.1875rem;
  padding-bottom: 10px;
  height: 15%;
}
.mid-section .section-4 ul {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.mid-section .section-4 ul li {
  height: 20%;
  border: 0.5px solid #DCDCDC;
  padding-top: 1.5%;
  font-size: 0.75rem;
}
.section-5 {
  height: auto;
}
.section-5 h2 {
  margin-top: 20px;
  font-size: 1.1875rem;
}
.section-5 div {
  margin: 20px;
  background-color: #DCDCDC;
}
.section-5 div h3 {
  font-size: 1rem;
}
.section-5 div p {
  margin-top: 10px;
  font-size: 0.75rem;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #696969;
  color: white;
  height: 50px;
}
footer h3 {
  height: 20px;
  padding-top: 20px;
  font-size: 0.6875rem;
}
@media (max-width: 500px) {
  header {
    height: 200px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 5%;
  }
  header nav a {
    border: 1px solid black;
    height: 25%;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 5%;
  }
  .top-section .section-2 {
    padding: 0px 20px 20px 20px;
    height: 125px;
  }
  .top-section .section-2 button {
    margin-top: 15px;
    background-color: gray;
    color: white;
    border: gray;
    width: 100px;
    height: 28%;
    font-size: 0.75rem;
  }
  .mid-section {
    display: block;
  }
  .mid-section .section-3 {
    width: 100%;
  }
  .mid-section .section-4 {
    width: 100%;
  }
  .section-5 {
    height: auto;
  }
  .section-5 h2 {
    margin-top: 20px;
    font-size: 1.1875rem;
  }
  .section-5 div {
    margin: 20px;
    background-color: #DCDCDC;
  }
  .section-5 div h3 {
    font-size: 1rem;
  }
  .section-5 div p {
    margin-top: 10px;
    font-size: 0.75rem;
  }
}
