/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
h2 {
  padding-top: 2rem;
}
.skills {
  width: 100%;
  height: 500px;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 30px;
}
.skills h2 {
  padding-bottom: 5rem;
}
.education {
  width: 100%;
  height: 700px;
  text-align: center;
  font-size: 2.5rem;
}
.education h2 {
  padding-bottom: 5rem;
}
.experience {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.experience h2 {
  padding-bottom: 5rem;
}
.tagline {
  width: 100%;
  height: 980px;
  background-color: #272932;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tagline h1 {
  color: #FFFFFF;
  font-size: 4rem;
  line-height: 6rem;
}
.name {
  color: #00A7E1;
}
.tagline-bottom {
  padding-bottom: 2rem;
}
.button {
  border: 2px solid #FFFFFF;
  font-size: 2rem;
  color: #FFFFFF;
  width: 20rem;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.button:hover {
  color: #00A7E1;
  border: 2px solid #00A7E1;
}
nav {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #FFFFFF;
  border-bottom: 3px solid #00A7E1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}
nav a:hover {
  border-bottom: 2px solid #00A7E1;
  padding: 0.5rem;
}
nav .home-button {
  color: #00A7E1;
}
.text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}
.text-item h4 {
  padding-bottom: 3rem;
}
.text-item h5 {
  padding-bottom: 3rem;
}
.text-item p {
  padding-bottom: 5rem;
}
.text-item img {
  padding-bottom: 3rem;
}
.pic-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.body-item img {
  width: 100px;
  height: 100px;
}
.text-item img {
  width: 100px;
  height: 100px;
}
.education-box-wrapper {
  width: 100%;
  background-color: #F2F2F2;
}
.education-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 3rem;
  align-items: flex-start;
  width: 70%;
  margin: 0 auto;
}
.education-wrapper h4 {
  padding-bottom: 3rem;
}
.education-wrapper h5 {
  padding-bottom: 3rem;
}
.education-wrapper p {
  padding-bottom: 5rem;
}
.education-wrapper img {
  padding-bottom: 3rem;
}
.education-wrapper img {
  width: 100px;
  height: 100px;
}
.education-item {
  width: 50%;
}
.education-item:first-of-type {
  border-right: 3px solid #00A7E1;
  padding-right: 3rem;
}
.education-item:last-of-type {
  padding-left: 3rem;
}
.pipe {
  color: #00A7E1;
  font-weight: bold;
}
.column-container {
  display: flex;
}
.column-container h4 {
  padding-bottom: 3rem;
}
.column-container h5 {
  padding-bottom: 3rem;
}
.column-container p {
  padding-bottom: 5rem;
}
.column-container img {
  padding-bottom: 3rem;
}
.experience-title {
  border-bottom: 2px solid #00A7E1;
  padding-bottom: 3rem;
  width: 50rem;
  margin: 5rem auto 5rem;
  line-height: 3rem;
}
.experience-column {
  width: 50%;
  text-align: left;
  line-height: 4rem;
}
.experience-column:first-of-type {
  border-right: 3px solid #00A7E1;
  padding-right: 3rem;
}
.experience-column:last-of-type {
  text-align: right;
  padding-left: 4rem;
}
.form-wrapper {
  width: 100%;
  height: 420px;
  background-color: #F2F2F2;
}
.form-container {
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  line-height: 4rem;
}
.form-container .form-title {
  font-size: 2.5rem;
  text-align: center;
  color: #00A7E1;
}
#fname {
  width: 40rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}
#email {
  width: 40rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}
#subject {
  width: 40rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}
#submit-button:hover {
  color: #00A7E1;
}
footer {
  width: 100%;
  height: 5rem;
  background-color: #272932;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  border-bottom: 2px solid #00A7E1;
}
footer a:hover {
  border-bottom: 2px solid #00A7E1;
}
.footer-images {
  width: 2.5rem;
  padding: 0 0.2rem;
}
