/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 32.5%;
}
html body {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 20px ridge red;
  background-image: url(../laxin\snoopy\house\back.jpg);
  background-repeat: no-repeat;
  background-position: static;
  background-size: cover;
}
.Container nav {
  margin: 2% auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.Container nav a {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: red;
  font-size: 4rem;
  text-shadow: 2px 2px black;
}
.Container nav a:hover {
  color: white;
}
.Container h1 {
  font-weight: bolder;
  font-size: 5rem;
  color: red;
  text-shadow: 2px 2px black;
}
.Container div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 0;
  padding: 2%;
}
.Container div img {
  width: 45%;
  border: 5px groove red;
  border-radius: 5%;
  box-shadow: 2px 2px black;
}
.Container div div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.Container div div h2 {
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: red;
  text-shadow: 2px 2px black;
  margin: 0 0 2% 0;
}
.Container div div .tBtn {
  text-decoration: none;
  color: red;
  font-size: 3rem;
  text-shadow: 1px 1px black;
  margin-top: 2%;
  padding: 1%;
  box-shadow: 2px 2px black;
}
.Container div div .tBtn:hover {
  color: white;
  background: red;
}
.Container div div button {
  background: white;
  border: 1px solid red;
  color: red;
  box-shadow: 2px 2px black;
  margin-top: 2%;
}
.Container div div p,
.Container div div li,
.Container div div ul {
  width: 45%;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  line-height: 1.5;
}
.Container div div p ul,
.Container div div li ul,
.Container div div ul ul {
  line-height: 2;
}
.Container div div p a,
.Container div div li a,
.Container div div ul a {
  color: red;
  text-shadow: 1px 1px black;
  margin: 2%;
}
.Container div div p a:hover,
.Container div div li a:hover,
.Container div div ul a:hover {
  color: white;
}
