/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  max-width: 800px;
  color: #0c0b0b;
  background-image: linear-gradient(to bottom right, whitesmoke, darkgray);
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}
.container .nav-bar {
  font-size: 1.2rem;
  margin-top: 2.5%;
}
.container a {
  color: #0c0b0b;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
.container a:hover {
  background-color: #555;
}
.container a:active {
  background-color: black;
}
.container a:visited {
  background-color: #ccc;
}
.container .a-tags {
  padding: 0.4rem;
}
.container header {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}
.container h1 {
  font-size: 2.4rem;
  margin-top: 2%;
}
.container .top-content {
  display: flex;
  font-size: 2.5rem;
  margin: 1%;
  margin-top: 5%;
}
.container .top-content p {
  padding: 2%;
  font-size: 1em;
}
.container .top-content h1 {
  font-size: 1.4rem;
}
.container .top-content img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 30%;
  height: 30%;
}
.container .top-content p {
  padding: 2%;
}
.container .bottom-boxes {
  display: flex;
}
.container .bottom-boxes h3 {
  font-size: 3rem;
  margin-bottom: 2%;
}
.container .bottom-boxes ul {
  font-size: 2.5em;
  padding: 3%;
}
.container .bottom-boxes ul li {
  list-style-type: circle;
}
.container .bottom-boxes .bottom-box {
  width: 50%;
  height: 15rem;
  background-color: #e6e6e6;
  margin: 1%;
  border-radius: 3.1%;
  padding: 2%;
}
.container .bottom-boxes h3 {
  text-decoration: underline;
}
.container .second-content {
  font-size: 2rem;
  margin-top: 5%;
  padding: 2%;
  margin-bottom: 6%;
  display: flex;
}
.container .second-content p {
  padding: 1%;
}
.container .bottom-section {
  padding: 2%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    color: #0c0b0b;
    background-image: linear-gradient(to bottom right, whitesmoke, darkgray);
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
  }
  .container .nav-bar {
    display: flex;
    font-size: 1.2rem;
    margin-top: 2.5%;
    flex-wrap: wrap;
  }
  .container a {
    color: #0c0b0b;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container a:hover {
    background-color: #555;
  }
  .container a:active {
    background-color: black;
  }
  .container a:visited {
    background-color: #ccc;
  }
  .container .a-tags {
    padding: 0.4rem;
  }
  .container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1%;
  }
  .container h1 {
    font-size: 2.4rem;
    margin-top: 2%;
  }
  .container .top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin: 1%;
    margin-top: 5%;
    padding-left: 10%;
  }
  .container .top-content p {
    width: 90%;
    margin-left: 1%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: -8%;
    line-height: 2.6rem;
  }
  .container .top-content h1 {
    font-size: 1.4rem;
  }
  .container .top-content img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 84%;
    margin-left: 2%;
    height: 30%;
  }
  .container .top-content p {
    padding: 2%;
  }
  .container .bottom-boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .bottom-boxes h3 {
    font-size: 3rem;
    margin-bottom: 2%;
  }
  .container .bottom-boxes ul {
    font-size: 2.5em;
    padding: 3%;
  }
  .container .bottom-boxes ul li {
    list-style-type: circle;
  }
  .container .bottom-boxes .bottom-box {
    width: 46%;
    height: 19rem;
    background-color: #e6e6e6;
    margin: 2%;
    border-radius: 3.1%;
    line-height: 1.8rem;
    padding: 3%;
  }
  .container .bottom-boxes h3 {
    text-decoration: underline;
  }
  .container .second-content {
    font-size: 2rem;
    margin-top: 5%;
    padding: 2%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-right: 1%;
    flex-wrap: wrap;
  }
  .container .second-content p {
    padding: 1%;
    width: 91%;
    font-size: 1.2em;
    margin-left: 3%;
    line-height: 2.6rem;
  }
  .container .flex-wrap {
    flex-wrap: wrap;
  }
  .container .bottom-section {
    padding: 2%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .bottom-section h4 {
    margin-top: -15%;
  }
}
