/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  line-height: 1px;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
  padding: 40px 0;
  background-color: lightgray;
  color: #162c5d;
}
@media (max-width: 700px) {
  .container header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 40px 0;
    background-color: lightgray;
    color: #162c5d;
  }
}
.container header nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
@media (max-width: 700px) {
  .container header nav {
    width: 80%;
  }
}
.container header h1 {
  font-size: 4rem;
  padding: 40px;
}
@media (max-width: 700px) {
  .container header h1 {
    font-size: 3rem;
    padding: 40px;
  }
}
.container header nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 700px) {
  .container header nav a {
    font-size: 1.5rem;
  }
}
.container header nav a:hover {
  color: #162c5d;
  font-weight: bolder;
}
.container .intro-paragraph {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  line-height: 1;
}
.container .intro-paragraph h2 {
  letter-spacing: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #162c5d;
}
.container .intro-paragraph p {
  letter-spacing: 1;
}
.container .skills {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  line-height: 1;
}
.container .skills h2 {
  letter-spacing: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #162c5d;
}
.container .skills p {
  letter-spacing: 1;
}
.container .contact {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  line-height: 1;
}
.container .contact h2 {
  letter-spacing: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #162c5d;
}
.container .contact p {
  letter-spacing: 1;
}
.container .work-history {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  line-height: 1;
}
.container .work-history h2 {
  letter-spacing: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #162c5d;
}
.container .work-history p {
  letter-spacing: 1;
}
