html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 920px) {
  html {
    background-color: yellow;
  }
}
@media (max-width: 500px) {
  html {
    background-color: red;
  }
}
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 1.6rem;
}
h1 {
  font-size: 5rem;
  font-weight: 500;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}
h3 {
  font-size: 3rem;
  font-weight: 300;
}
p {
  font-size: 2rem;
  font-weight: 300;
}
button {
  padding: 1rem 3rem;
  border: none;
  color: white;
  font-size: 2rem;
  background-color: darkgray;
  transition-property: background-color;
  transition-duration: 0.5s;
}
button:hover {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #818181;
}
header {
  display: flex;
  justify-content: flex-end;
}
header nav {
  display: flex;
  border-bottom: solid 1px black;
  margin-bottom: 1rem;
}
header a {
  margin: 1rem 0 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  transition-property: color;
  transition-duration: 0.5s;
}
header a:hover {
  transition-property: color;
  transition-duration: 0.5s;
  background-color: gray;
}
.main-content {
  background-color: #e9ecef;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
.main-content section {
  width: 95%;
  margin: 0 auto;
}
.main-content .img-container {
  width: 30%;
}
.main-content .img-container img {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.main-content h1 {
  margin: 2rem 0;
}
.main-content p {
  margin: 1.5rem 0;
}
.main-content button {
  margin: 3rem 0;
}
.main-content hr {
  margin: 3rem 0;
}
.about-and-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}
.about-and-skills section {
  width: 46%;
  margin: 2%;
}
.about-and-skills section h2,
.about-and-skills section h3 {
  margin-bottom: 2rem;
}
.about-and-skills .skill {
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
}
.work-history h2 {
  text-align: center;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
  margin: 2rem;
}
thead th:nth-child(1) {
  width: 30%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 35%;
}
th {
  border-bottom: 1px solid black;
  padding: 2rem 0;
  font-size: 2rem;
}
td {
  padding: 20px;
}
tr:nth-child(2),
tr:nth-child(4) {
  background-color: #e9ecef;
}
footer {
  background-color: #e9ecef;
  padding: 5rem;
}
