/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  color: #e0e0e0;
  font-size: 2rem;
  padding-bottom: 4%;
  padding-top: 2%;
  text-align: center;
}
header {
  background-image: url("../images/wallpaper.jpg");
  height: 92.5%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
header h1 {
  font-size: 4rem;
  color: #e0e0e0;
  padding: 12% 0 0 16%;
}
header p {
  color: #e0e0e0;
  font-size: 1.5rem;
  padding: 1% 0 0 16%;
  width: 40%;
}
header .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #e0e0e0;
  font-size: 2rem;
  padding: 1%;
  width: 20%;
}
header nav {
  padding: 1%;
  width: 30%;
}
header nav a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1.5rem;
  padding: 1%;
}
header .JeremyImg {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-left: 100%;
  position: absolute;
  height: calc(100vh - 70px);
  transform: translateX(-150%);
  transition: transform 0.8s ease-in-out;
}
@media screen and (max-width: 600px) {
  header .JeremyImg {
    transform: translateX(-65%);
  }
  header h1 {
    padding: 12% 0 0 2%;
    width: 40%;
  }
  header p {
    padding: 2% 0 0 2%;
    width: 40%;
    font-size: 1.5rem;
  }
  header .navBar {
    padding: 0% 3%;
  }
  header nav {
    width: 80%;
    align-self: flex-start;
    padding-left: 30%;
    flex-direction: row;
  }
  header nav a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1060px) {
  header .JeremyImg {
    transform: translateX(-90%);
  }
  header h1 {
    padding: 12% 0 0 2%;
    width: 40%;
  }
  header p {
    padding: 2% 0 0 2%;
    width: 40%;
  }
  header .navBar {
    padding: 0% 3%;
  }
  header nav {
    width: 62%;
    align-self: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1061px) and (max-width: 1450px) {
  header .JeremyImg {
    transform: translateX(-100%);
  }
}
.myWork {
  background-image: url("../images/backgroundTree.jpg");
  background-size: cover;
  height: 50rem;
  background-repeat: no-repeat;
}
.myWork ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.myWork .backLine {
  display: flex;
  justify-content: center;
  padding-left: 1%;
}
.myWork li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 200px;
}
.myWork li img {
  height: 201px;
}
.myWork .textContainer {
  padding: 5%;
  width: 45%;
}
.myWork p {
  color: #e0e0e0;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  .myWork li {
    height: 10%;
    flex-direction: column;
  }
  .myWork .textContainer {
    width: 90%;
  }
  .myWork li img {
    height: 10rem;
  }
}
@media (max-width: 800px) {
  .myWork {
    height: 1200px;
  }
}
.divider {
  background-color: #b9bdce;
  background-size: cover;
  height: 1%;
  background-repeat: no-repeat;
}
.services {
  background-image: url("../images/coverphotowolf.png");
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services ul {
  display: flex;
  list-style-type: disc;
  flex-direction: column;
}
.services li {
  color: #e0e0e0;
  font-size: 1.8rem;
  padding: 3%;
  width: 150%;
}
footer {
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav {
  padding: 1%;
  width: 15%;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1.5rem;
  padding: 1%;
}
footer p {
  color: #e0e0e0;
  font-size: 1.5rem;
  padding-top: 4%;
}
button {
  border-radius: 8px;
  background-color: #1c2f49;
  padding: 10%;
  text-decoration: none;
}
button:hover {
  background-color: #b9bdce;
}
