/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* LESS VARIABLES */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.container header {
  margin-top: 15px;
}
.container nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.container nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #10120F;
  padding-right: 18px;
  margin-left: 29px;
}
.container .intro .aboutme {
  margin-top: 15px;
  max-width: 900px;
  width: 100%;
  height: 500px;
  background-color: #e9ecef;
}
.container .intro .aboutme img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 20px;
}
.container .intro .aboutme h1 {
  font-size: 5rem;
  margin-left: 20px;
}
.container .intro .aboutme .first {
  margin-left: 29px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.container .intro .aboutme .second {
  font-size: 1.5rem;
  padding-top: 20px;
  border-top: 1px solid #C5C7C2;
  margin-left: 29px;
  margin-right: 20px;
  margin-top: 15px;
}
.container .intro .aboutme button {
  margin-top: 10px;
  margin-left: 27px;
  padding-top: 5px 20px;
  color: #ffffff;
  border: 1px solid #707070;
  background-color: #707070;
}
.container .info {
  display: flex;
  flex-direction: row;
}
.container .info .information {
  width: 300px;
}
.container .info .information .listen {
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .info .information .thrid {
  font-size: 1.5rem;
}
.container .info .skills {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 100px;
}
.container .info .skills .skillset {
  font-size: 3rem;
  margin-bottom: 20px;
}
.items {
  width: 300px;
  height: 180px;
  border: 1px solid silver;
}
.items .hobby {
  border-bottom: 1px solid silver;
  padding: 15px;
  font-size: 1.5rem;
}
.container .work h2 {
  font-size: 3rem;
}
.container .work {
  display: flex;
  flex-direction: row;
}
.container .portfolio img {
  width: 300px;
  height: 200px;
}
.container .client img {
  width: 300px;
  height: 205px;
  margin-top: 30px;
  margin-left: 100px;
}
footer {
  width: 100%;
  background-color: #707070;
  height: 100px;
  margin-top: 20px;
}
footer p {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
}
