/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
/* Header Styles */
header {
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header nav {
  margin-top: 40px;
  width: 69.318%;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 768px) {
  header nav {
    width: 100%;
    margin: 38px 3%;
  }
}
@media (max-width: 400px) {
  header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
@media (max-width: 400px) {
  header nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    border-bottom: 1px solid gray;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
@media (max-width: 400px) {
  header nav a:hover {
    background: gray;
  }
}
@media (max-width: 400px) {
  header nav:first-child {
    border-top: 1px solid gray;
  }
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 10.341%;
}
@media (max-width: 768px) {
  header .logo {
    order: -1;
    display: block;
    margin: 30px auto 0;
  }
}
@media (max-width: 400px) {
  header .logo {
    order: -1;
    margin: 20px 0;
  }
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cta {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .cta {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: .5rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9.318% 0 0;
}
@media (max-width: 768px) {
  .cta .cta-text {
    margin: 0 5% 0 0;
  }
  .cta .cta-text h1 {
    letter-spacing: 0;
  }
}
@media (400px) {
  .cta .cta-text {
    margin: 0;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 1.6rem;
  background: white;
  width: 43.59%;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 768px) {
  .cta img {
    display: none;
  }
}
@media (max-width: 768px) and (max-width) {
  .cta img {
    display: block;
    max-width: 80%;
    margin: 55px 0 0 0;
  }
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .main-content .top-content {
    flex-wrap: wrap;
    height: 300px;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .main-content .middle-img {
    width: 100%;
    margin: 25px auto;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  padding-right: 6.818%;
}
@media (max-width: 768px) {
  .main-content .bottom-content {
    margin: 75px 2% 35px;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    flex-wrap: wrap;
    align-content: space-between;
    height: 440px;
  }
}
/* Contact Styles */
.contact p {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .contact {
    margin: 20px 2%;
  }
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 20px;
}
