/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-image: url("../nyan.gif");
  background-repeat: repeat;
}
html {
  font-size: 62.5%;
  font-family: Futura, Helvetica, Arial, sans-serif;
}
.container {
  max-width: 880px;
  margin: 0 auto 20px;
  background: rgba(234, 243, 246, 0.5);
  color: #383838;
  border-radius: 5px;
}
.container .nav-bar {
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 2%;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 500px) {
  .container .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container .nav-bar a {
  font-size: 2rem;
  text-decoration: none;
  color: gray;
  text-shadow: 1px 1px 5px #888888;
  margin: 20px 3%;
}
@media (max-width: 500px) {
  .container .nav-bar a {
    font-size: 3rem;
  }
}
.container header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(227, 227, 227, 0.8);
  width: 95%;
  margin: 20px auto 0;
  padding: 20px 2%;
  border-radius: 5px;
}
.container header img {
  max-width: 550px;
  width: 45%;
  height: auto;
}
@media (max-width: 500px) {
  .container header img {
    width: 100%;
  }
}
.container header h1 {
  font-size: 4rem;
  margin-top: 20px;
  width: 100%;
}
.container header h3 {
  font-size: 2rem;
  margin: 30px 0;
}
.container header p {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 30px 10% 0 0;
  border-top: 2px solid gray;
  margin-bottom: 20px;
}
.container header .button {
  font-size: 3rem;
  color: white;
  background-color: gray;
  padding: 10px 40px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.container header .button:hover {
  cursor: pointer;
}
.container .main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container .main-content {
    flex-direction: column;
    align-items: stretch;
  }
}
.container .main-content .about-me {
  width: 50%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 2%;
  box-shadow: 1px 1px 10px #888888;
}
@media (max-width: 500px) {
  .container .main-content .about-me {
    width: 100%;
  }
}
.container .main-content .about-me h5 {
  font-size: 3rem;
}
.container .main-content .about-me p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 20px;
}
.container .main-content .skills {
  width: 45%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 2%;
  box-shadow: 1px 1px 10px #888888;
}
@media (max-width: 500px) {
  .container .main-content .skills {
    width: 100%;
  }
}
.container .main-content .skills h5 {
  font-size: 3rem;
  text-align: center;
}
.container .main-content .skills .ability {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px;
}
.container .experience {
  width: 95%;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 2%;
  box-shadow: 1px 1px 10px #888888;
}
.container .experience h5 {
  font-size: 3rem;
}
.container .experience table {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  margin-top: 20px;
}
.container .experience table tr {
  border-top: 2px solid gray;
}
.container .experience table tr td {
  font-size: 1.6rem;
  text-align: start;
  padding: 20px 5%;
}
.container .experience table .title-bar {
  background-color: gray;
}
.container .experience table .title-bar th {
  font-size: 3rem;
  text-align: start;
  padding: 20px 5%;
}
.container .hit-me-up {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
}
.container .hit-me-up .sizing {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 2%;
  box-shadow: 1px 1px 10px #888888;
  max-width: 600px;
  width: 100%;
}
.container .hit-me-up .sizing h5 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.container .hit-me-up .sizing form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-height: 500px;
  width: 100%;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container .hit-me-up .sizing form {
    flex-wrap: nowrap;
    max-height: 1000px;
  }
}
.container .hit-me-up .sizing form div {
  margin: 20px 0 0;
}
.container .hit-me-up .sizing form .text-stuff {
  margin-left: 0;
}
.container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.container footer p {
  font-size: 1.6rem;
  margin: 20px 0 40px;
  text-align: center;
}
