/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* variables */
/* mixins */
.button {
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 10px;
  background-color: #555555;
  color: white;
}
.h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.mid-sections-styling {
  width: 500px;
}
.table {
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
/* code */
.container {
  margin: 0px 40px;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 65px;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
.top-section {
  border: solid 1px #E9ECEF;
  background-color: #E9ECEF;
  border-radius: 5px;
  margin-bottom: 40px;
}
.top-section .top-content {
  margin: 50px 20px;
}
.top-section .top-content h1 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
.top-section .top-content hr {
  margin: 25px 0px 25px 0px;
}
.top-section .top-content button {
  margin-top: 20px;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 10px;
  background-color: #555555;
  color: white;
}
.mid-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.mid-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.mid-section .mid-sections {
  width: 500px;
}
.mid-section .mid-section-left {
  line-height: 1.6;
}
.mid-section .mid-section-right p {
  border: solid 1px #E9ECEF;
}
.mid-section .mid-section-right ul {
  border: solid 1px lightgray;
  border-left: solid 1px #E9ECEF;
  border-right: solid 1px #E9ECEF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mid-section .mid-section-right ul li {
  border-bottom: solid 1px #E9ECEF;
  padding: 15px 0px 15px 15px;
}
table {
  margin-bottom: 30px;
}
table tb,
table th {
  width: 100%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
