/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body,
header,
a,
p,
button,
h1,
h2,
h3 {
  font-size: 1.6rem;
}
/* Variables Here */
/* Mixins Here */
.font-class {
  color: black;
  font-size: 1.8rem;
}
.p-spacing {
  line-height: 22px;
}
.topcontent-spacing {
  padding-left: 1.1%;
  padding-right: 1.1%;
  padding-top: 10px;
  padding-bottom: 80px;
}
.text-padding {
  padding-left: 3.06%;
  padding-right: 3.06%;
}
.top-content-text-widths {
  width: 94%;
}
.button-styling {
  padding: 11px 13px;
  border-radius: 5px;
  font-size: 2rem;
  border: 1px solid black;
  color: white;
  background: black;
}
.footer-padding {
  padding-top: 20px;
  padding-bottom: 38px;
}
/* Styling below here */
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
.container header {
  padding: 35px 0%;
}
.container header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container header nav a {
  text-decoration: none;
  color: black;
}
.container header nav a:hover {
  color: gray;
}
.container .top-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background: #cfcec7;
  border-radius: 6px;
  padding-left: 1.1%;
  padding-right: 1.1%;
  padding-top: 10px;
  padding-bottom: 80px;
}
.container .top-content .toptext {
  width: 94%;
  padding-top: 54px;
  padding-bottom: 35px;
  border-bottom: 1px solid black;
}
.container .top-content .toptext h1 {
  font-size: 6rem;
  padding: 10px 0px;
}
.container .top-content .toptext p {
  font-size: 2rem;
}
.container .top-content .bottomtext {
  padding-top: 26px;
  width: 94%;
}
.container .top-content .bottomtext p {
  font-size: 1.8rem;
  padding-bottom: 26px;
}
.container .top-content .bottomtext button {
  padding: 11px 13px;
  border-radius: 5px;
  font-size: 2rem;
  border: 1px solid black;
  color: white;
  background: black;
}
.container .middle-content {
  display: flex;
  flex-flow: row-nowrap;
  padding-top: 35px;
}
.container .middle-content .lefttext {
  width: 48%;
}
.container .middle-content .lefttext h3 {
  font-size: 3.5rem;
}
.container .middle-content .lefttext p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  line-height: 22px;
}
.container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 38px;
  border-radius: 5px;
  background: black;
}
.container footer p {
  color: white;
}
