/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.containter {
  width: 900px;
  margin: auto;
}
html,
body {
  height: 100%;
}
nav {
  margin: 1%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  background-color: #E3D6D6;
}
nav a {
  justify-content: center;
  text-decoration: none;
  color: blue;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}
.intro {
  display: flex;
  justify-content: space-around;
  background-color: #5986B8;
  margin: 1%;
  padding: 2%;
}
.intro h1 {
  font-size: 35px;
  text-align: center;
}
.intro h2 {
  color: #130E17;
  text-align: center;
  font-size: 20px;
}
.intro .info {
  line-height: 1.4;
  margin: 1%;
  padding: 2%;
  width: 50%;
  flex-direction: column;
}
.skills {
  margin: 1%;
  padding: 2%;
  background-color: #43578C;
  color: #E3D6D6;
  display: flex;
  justify-content: space-around;
  line-height: 1.4;
}
.skills h2 {
  flex-wrap: wrap;
  font-size: 20px;
  display: inline-block;
}
.skills div {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.skills .test-list {
  width: 30%;
}
.skills img {
  max-width: 25%;
}
.work-history {
  margin: 1%;
  padding: 2%;
  line-height: 1.4;
  background-color: #130E17;
  color: #E3D6D6;
  display: flex;
}
.work-history h2 {
  font-size: 20px;
}
.work-history img {
  max-width: 50%;
}
.work-history .ending {
  flex-direction: column;
}
@media (max-width: 500px) {
  .containter {
    width: 90%;
    margin: auto;
  }
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro div {
    align-items: center;
    width: 100%;
  }
  .intro .title {
    align-items: center;
  }
  .intro img {
    padding-left: 15%;
  }
  .skills img {
    display: none;
  }
  .work-history {
    flex-direction: column;
  }
  .work-history img {
    display: none;
  }
  .work-history p {
    line-height: 1.4;
  }
}
