/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  padding: 30px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img{
  display: flex;
  align-items: flex-start;
  padding: 20px;
}


.top-nav{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, p, nav, tr, th{
  font-family: 'Raleway', sans-serif;
}


p{
  line-height: 1.4;
  margin-left: 15px;
}

.top-section {
  margin: 20px;
  padding: 30px;
  align-content: flex-start;
  margin-bottom: 50px;
  background-color: lightgray;
}
.top-section h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}
.top-section p{
  margin-bottom: 20px;
}
.button {
 
  padding: 40px;

}
.main-content {
  display: flex;
  margin-bottom: 50px;
}
.main-content h2{
  font-size: x-large;
  margin-bottom: 20px;
}
.main-content1{
  margin-left: 35px;
  width: 45%;
}
.main-content h3{
  font-size: x-large;
  margin-bottom: 20px;

}
.main-content2 p{
  line-height: 1.8;
}
.main-content2{
  margin-left: 25px;
  width: 45%;
  padding: 20px;
}

.bottom-content{
  line-height: 1.8;
  padding: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
  justify-items: left;
}


.footer-content{
  background-color: gray;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  
}
}