/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 20px;
  /*border: 1px solid red;*/
}
