/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.table {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  max-width: 800px;
  width: 100%;
  padding: 25px 0;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
header a {
  display: inline-block;
  text-decoration: none;
  padding: 0.3rem;
  color: black;
}
.middle {
  background-color: #E9ECEF;
  height: 500px;
  position: relative;
}
.middle .container {
  position: absolute;
  bottom: 0;
}
.middle .container .person {
  position: relative;
  top: -40px;
  border-bottom: 1px solid lightgray;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1%;
}
.middle .container .person h1 {
  font-size: 5.4rem;
  padding-bottom: 1%;
}
.middle .container .person h4 {
  font-size: 2.2rem;
}
.middle .rolled {
  padding-left: 3%;
}
.middle .rolled button {
  background-color: #808080;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  border-radius: 0.4rem;
  width: 25%;
  padding-top: 0.1rem;
  margin-top: 2rem;
}
.middle img {
  padding: 3%;
  width: 51%;
  position: relative;
  bottom: 36px;
}
.upperBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.upperBottom .listen {
  width: 74%;
  padding-right: 2.7rem;
}
.upperBottom .listen h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.upperBottom .stuff {
  padding-right: 2.7rem;
}
.upperBottom .stuff h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.upperBottom .stuff li {
  border: 0.15rem solid #E9ECEF;
  padding-left: 1rem;
  font-size: 3rem;
}
.lowerBottom {
  display: block;
}
.lowerBottom h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.lowerBottom table {
  border-collapse: collapse;
  width: 100%;
}
.lowerBottom table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.lowerBottom table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.lowerBottom table tr:nth-child(even) {
  background-color: #E9ECEF;
}
footer {
  text-align: center;
  padding-top: 4rem;
  background-color: #808080;
  margin: 2.1rem;
  color: white;
  padding-bottom: 4rem;
}
footer p {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
  header a {
    border: 0.2rem solid #808080;
  }
  header .rolled {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1rem;
  }
}
