/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My Code starts here */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 1.6rem;
}
nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
a {
  color: black;
  text-decoration: none;
  margin: 20px 2%;
}
@media (max-width: 500px) {
  a {
    color: black;
    text-decoration: none;
    padding: 27px 0;
    margin: 0;
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
    font-size: 2rem;
  }
}
a:hover {
  color: darkgray;
}
.home .intro {
  margin: 0 9%;
  background: lightgray;
}
@media (max-width: 500px) {
  .home .intro {
    margin-top: 50px;
  }
}
.home .intro img {
  width: 50%;
  margin: 60px 30px 30px 30px;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 85%;
  }
}
.home .intro h1 {
  margin: 0 4%;
  font-size: 3.76rem;
}
.home .intro p {
  margin: 12px 4.25%;
}
.home .intro pre {
  margin: 12px 4.25%;
}
.home .invite {
  border-top: 1px solid gray;
  height: 165px;
}
.home .invite p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.home .invite a {
  margin-bottom: 50px;
  margin-left: 30px;
  text-decoration: underline;
  width: 23%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .invite a {
    padding: 16px 4%;
    margin: 0;
    border-bottom: none;
    display: block;
    text-align: left;
    font-size: 1.6rem;
  }
}
.home .invite a:hover {
  color: white;
}
.home .skills {
  margin: 0 9%;
  display: flex;
}
.home .skills .skills-listen {
  width: 48%;
  margin: 40px 40px 40px 0;
}
.home .skills .skills-listen h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.home .skills .skills-listen p {
  margin: 23px 0;
  line-height: 1.1;
}
.home .skills .skills-stuff {
  margin: 40px 40px 40px 0;
}
.home .skills .skills-stuff h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}
.home .skills .skills-stuff ul {
  list-style-type: disc;
  line-height: 2;
}
.home .history {
  margin: 0 9%;
}
.home .history h3 {
  font-size: 2rem;
  font-weight: bold;
}
.home .history table {
  margin: 10px 0;
  width: 100%;
}
.home .history th {
  font-weight: bold;
  border-top: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.home .history td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.home .history tr:nth-child(even) {
  background-color: #f2f2f2;
}
.home footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background: darkgray;
}
.home footer p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
