/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  background-color: lightgray;
}
.container {
  background-color: darkgray;
  max-width: 800px;
  margin: 0 auto;
}
.container nav {
  background-color: #ACE184;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding-right: 10px;
}
.container nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding-left: 20px;
}
.container .top {
  background-color: cadetblue;
  padding-left: 20px;
}
.container .top img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}
.container .top h1 {
  font-size: 4.5rem;
  margin-top: 20px;
}
.container .top h2 {
  font-size: 2.7rem;
  margin-top: 10px;
}
.container .top hr {
  width: 90%;
  margin: 15px 5%;
}
.container .top p {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container .bottom {
  background-color: darkgray;
}
.container .copyright {
  background-color: #ACE184;
  height: 50px;
  text-align: center;
}
.container .copyright p {
  padding-top: 20px;
  font-size: 1.6rem;
}
