/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  color: #3A5C98;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
  text-align: center;
  margin: 10px 0;
}
h2 {
  font-size: 2.72rem;
}
header {
  width: 30%;
  margin-left: 65%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}
.intro .bio {
  margin-top: 30px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.intro .bio img {
  width: 50%;
  height: auto;
}
.intro .bio h1 {
  margin: 5px 0;
}
.intro .skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
@media (max-width: 500px) {
  .intro .skill {
    margin-top: 10px;
  }
}
.intro .skill h2 {
  margin-bottom: 10px;
}
.intro .skill p {
  margin: 5px 0 5px 10%;
  border: 2px solid blue;
  width: 40%;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  background: lightblue;
  color: red;
}
@media (max-width: 500px) {
  .intro .skill p {
    width: 60%;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .bottom {
    flex-direction: column;
  }
}
.bottom h2 {
  margin-bottom: 10px;
}
.bottom .work {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .bottom .work {
    margin-top: 10px;
  }
}
.bottom .work li {
  list-style-type: square;
  margin: 5px 0;
}
.bottom .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
@media (max-width: 500px) {
  .bottom .contact {
    margin-top: 10px;
  }
}
.bottom .contact p {
  margin: 5px 5px 5px 0;
}
.portfolios {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
}
@media (max-width: 500px) {
  .portfolios {
    flex-direction: column;
    align-items: center;
  }
}
.portfolios .item {
  border: 1px solid red;
  width: 31%;
  height: 300px;
  margin: 10px 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 500px) {
  .portfolios .item {
    width: 50%;
  }
}
.portfolios .item h3,
.portfolios .item p {
  margin: 10px 0;
}
