/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  color: #3D7D99;
  text-align: center;
  font-weight: bolder;
  margin: 1%;
}
h2 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.8rem;
  color: #CA5744;
  text-align: center;
  margin: 1%;
  font-weight: lighter;
}
h3 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1.1rem;
}
p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.6rem;
  margin: 2%;
  text-align: left;
}
ul {
  list-style-type: circle;
  text-align: left;
}
li {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.8rem;
}
.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-left: 9%;
  width: 84%;
}
.navHeader img {
  width: 10%;
  margin-top: 7%;
}
@media (max-width: 500px) {
  .navHeader img {
    width: 25%;
  }
}
.navHeader nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
  margin-bottom: 3%;
  border: 1px grey;
}
@media (max-width: 500px) {
  .navHeader nav {
    flex-direction: column;
  }
}
.navHeader nav a {
  padding: 1%;
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  color: #3D7D99;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px dotted #A2CDD2;
}
@media (max-width: 500px) {
  .navHeader nav a {
    width: 100%;
  }
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}
.intro div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 20%;
  padding: 10%;
  margin: 1%;
  margin-left: 3%;
  margin-right: 3%;
  width: 23%;
  padding: 2%;
  margin: 3%;
  background: #CCE3E6;
  border-radius: 5%;
}
.intro div h1 {
  font-weight: lighter;
  font-family: 'Yantramanav', sans-serif;
}
@media (max-width: 500px) {
  .intro div {
    width: 100%;
  }
}
.intro #introAbout {
  width: 30%;
  margin: 1%;
}
@media (max-width: 500px) {
  .intro #introAbout {
    width: 100%;
  }
}
.intro .profile {
  width: 22%;
  height: 22%;
  border-radius: 50%;
  padding: 2%;
  margin: 2%;
}
@media (max-width: 500px) {
  .intro .profile {
    width: 50%;
  }
}
.intro h1 {
  color: #3D7D99;
}
.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .timeline {
    flex-direction: column;
  }
}
.timeline div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 20%;
  padding: 10%;
  margin: 1%;
  margin-left: 3%;
  margin-right: 3%;
  width: 23%;
  padding: 2%;
  margin: 3%;
  background: #CCE3E6;
  border-radius: 5%;
}
.timeline div h1 {
  font-weight: lighter;
  font-family: 'Yantramanav', sans-serif;
}
@media (max-width: 500px) {
  .timeline div {
    width: 100%;
  }
}
.timeline h1 {
  color: #3D7D99;
}
.timeline .subtitle {
  font-weight: lighter;
  font-style: italic;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .skills {
    flex-direction: column;
  }
}
.skills div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 22%;
  padding: 10%;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
  width: 23%;
  padding: 2%;
  margin: 3%;
  background: #CCE3E6;
  border-radius: 5%;
}
.skills div h1 {
  font-weight: lighter;
  font-family: 'Yantramanav', sans-serif;
}
@media (max-width: 500px) {
  .skills div {
    width: 100%;
  }
}
.skills .profile {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin: 5%;
}
.skills h1 {
  color: #3D7D99;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 10%;
  width: 80%;
  border-top: 1px solid #A2CDD2;
}
footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
  margin-bottom: 3%;
  border: 1px grey;
  margin: 1%;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  footer nav {
    flex-direction: column;
  }
}
footer nav a {
  padding: 1%;
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  color: #3D7D99;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px dotted #A2CDD2;
  border-bottom: none;
}
@media (max-width: 500px) {
  footer nav a {
    width: 100%;
  }
}
