/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
}
body {
  height: 100%;
  font-size: 1.45rem;
  line-height: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 95%;
  }
}
.container .navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding: 20px 0;
}
.container .navigation-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 260px;
}
@media (max-width: 500px) {
  .container .navigation-container nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
.container .navigation-container nav .nav__button {
  text-decoration: none;
  color: black;
}
.container .intro {
  padding: 20px;
  background: #EEE5DE;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.container .intro .intro__img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.container .intro .intro__self {
  width: 100%;
  border-bottom: 1px solid black;
}
.container .intro .intro__self h1 {
  margin-top: 30px;
  font-size: 3rem;
}
.container .intro .intro__self h2 {
  margin: 10px 0;
}
.container .intro p,
.container .intro a {
  margin: 15px 0;
}
.container .intro .intro__button {
  text-decoration: none;
  color: white;
  background: #A78D84;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 2rem;
}
.container .mid-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 30px 0;
}
@media (max-width: 500px) {
  .container .mid-content {
    flex-direction: column;
  }
}
.container .mid-content h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.container .mid-content .mid-content__story {
  width: 48%;
}
@media (max-width: 500px) {
  .container .mid-content .mid-content__story {
    width: 100%;
    margin-bottom: 30px;
  }
}
.container .mid-content .mid-content__strengths {
  width: 48%;
}
@media (max-width: 500px) {
  .container .mid-content .mid-content__strengths {
    width: 100%;
  }
}
.container .mid-content .mid-content__strengths li {
  border: 1px solid lightgray;
  padding: 5px 10px;
}
.container .work-history h1 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
}
.container .work-history .work-history__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
.container .work-history .work-history__table td,
.container .work-history .work-history__table th {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 8px;
}
.container .work-history .work-history__table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container .work-history .work-history__table tr:hover {
  background-color: #ddd;
}
.container .work-history .work-history__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #EEE5DE;
  font-weight: bold;
}
.container footer {
  background: #A78D84;
  color: white;
  text-align: center;
  height: 60px;
}
.container footer .copyright {
  padding-top: 20px;
}
