/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid red;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  font-size: 62.5%;
}
body .container header {
  width: 80%;
  font-family: "Open Sans Condensed", sans-serif;
  justify-content: space-between;
  text-align: left;
  border: 1px solid red;
}
body .container header h1 {
  font-size: 2rem;
  border: 1px solid red;
}
body .container header nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  border: 1px solid red;
}
body .container header nav a {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 1.4rem;
  color: gray;
  text-decoration: none;
}
body .container header nav a:hover {
  text-decoration: underline;
}
body .container section {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.5rem;
  margin: 10px 0;
}
body .container section h2 {
  display: flex;
  align-items: center;
  color: gray;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.8rem;
  margin: 10px 0;
}
body .container section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
body .container section .text .right {
  display: flex;
  justify-content: flex-end;
}
body .container footer {
  width: 80%;
  font-family: "Open Sans Condensed", sans-serif;
  justify-content: space-between;
  text-align: center;
  background: lightgray;
  border: 1px solid red;
}
body .container footer nav {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 35px;
  border: 1px solid red;
}
body .container footer nav a {
  display: flex;
  justify-content: flex-end;
  margin-right: 65px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
body .container footer nav a:hover {
  text-decoration: underline;
}
body .container table {
  width: 80%;
  border: 1px solid black;
}
