/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.centered {
  margin: 0 auto;
  border-bottom: solid black;
}
.flex-center {
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aDecoration {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  border-bottom: solid black;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  font-size: 2rem;
}
.container .pSize {
  font-size: 1.8rem;
}
.container header {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}
.container header nav {
  justify-content: space-between;
  margin: 3%;
}
.container header nav a {
  padding: 2%;
  text-decoration: none;
}
.container .mainHeadLine {
  width: 85%;
  background-color: ivory;
}
.container .mainHeadLine h1 {
  font-size: 4.5rem;
}
.container .mainHeadLine h3 {
  font-size: 2.5rem;
}
.container .mainHeadLine .mainPhotoSection {
  margin: 5%;
  padding-bottom: 2%;
  justify-content: flex-start;
  border-bottom: 3px solid lightgrey;
}
.container .mainHeadLine .jamarPhoto {
  width: 350px;
  height: 350px;
}
.container .mainHeadLine .teamUpSection {
  margin: 5%;
  padding-bottom: 10%;
  font-size: 4rem;
}
.container .mainHeadLine .teamUpSection button {
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: gray;
  color: white;
  padding: 1%;
}
.container .mainHeadLine button a {
  text-decoration: none;
}
.container .aboutMe {
  width: 85%;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container .aboutMe .aboutMeBoxes {
  flex-direction: column;
  width: 43%;
  max-width: 500px;
}
