/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #b5f0ff;
}
.flex-center {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding: 1%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: auto;
}
.flex-space {
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
}
.spacing {
  margin: 2%;
  padding: 3%;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  background-color: lightcyan;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: darkblue;
}
nav a:hover {
  background-color: royalblue;
}
.about {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  width: auto;
}
@media (max-width: 500px) {
  .about {
    width: 90%;
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
.about .Self-Photo {
  width: auto;
  align-items: center;
}
.about .intro {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 30%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .about .intro {
    width: 90%;
  }
}
.about .intro h2 {
  margin: 2%;
  padding: 3%;
  font-size: 2rem;
  color: navy;
}
.about .intro p {
  margin: 2%;
  padding: 3%;
  font-size: 1.4rem;
  color: navy;
}
.about .intro .button {
  margin: 2%;
  padding: 3%;
  background-color: lightcyan;
  border: 1px solid black;
  color: royalblue;
}
.skills {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 2%;
  padding: 3%;
  align-items: center;
}
.skills h2 {
  font-size: 2rem;
  margin: 2%;
  padding: 3%;
}
