/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* variables */
/* mixins */
/* elements would be repeated */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5b6b73;
}
h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  border: 0.5rem solid black;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  text-align: center;
}
hr {
  width: 100%;
  border: 0.1rem solid black;
}
/* header */
#header {
  width: 100%;
}
#header .navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}
#header .navigation a {
  text-align: center;
  width: 20%;
  margin-top: 2rem;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}
/* top section */
#top-section .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top-section .intro img {
  width: 30%;
  margin: 3rem;
}
#top-section .intro h1 {
  font-size: 3.5rem;
}
/* bottom section */
#bottom-section .skills {
  background-color: aqua;
  border: 1px solid black;
}
#bottom-section .work-history {
  background-color: aqua;
  border: 1px solid black;
}
/* contact information*/
#contact {
  background-color: aqua;
  border: 1px solid black;
}
/* footer */
#footer {
  background-color: aqua;
  border: 1px solid black;
}
