/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*new less code and variables */
/*Mixins*/
.border {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border: 1px solid black;
}
.margin {
  margin-bottom: 20px;
}
.container {
  width: 800px;
  margin: 50px auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.container header {
  width: 100%;
  background: gray;
  margin-bottom: 30px;
}
.container header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container header nav a {
  color: #33cc33;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 2rem;
}
.rickpic {
  height: 200px;
  width: 40%;
  background-color: #33cc33;
  border-radius: 50%;
}
body {
  width: 100%;
  background-image: url(../rick-and-morty-wallpaper-portal-wallpaper-001.jpg);
}
body .backgroundheader {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: lightgray;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-radius: 8px;
  padding: 2rem;
}
body .name {
  font-size: 3rem;
}
body .under {
  font-size: 2rem;
  padding: 2rem;
}
body .under2 {
  border-top: 1px solid black;
  padding: 2rem;
  font-size: 20px;
}
button {
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  background: gray;
  border-radius: 8px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.content .middle-content {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}
.content .middle-content .lestinup {
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  width: 50%;
}
.content .middle-content .lestinup h4 {
  font-size: 2rem;
  padding: 2rem;
}
.list1 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.list1 h4 {
  font-size: 25px;
  margin-bottom: 1rem;
}
.list1 ul {
  padding: 2rem;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border: 1px solid black;
}
.list1 ul li {
  border-bottom: 1px solid black;
  padding: 1rem;
}
.bottom {
  display: flex;
  background-color: lightgray;
  padding: 5rem;
  margin-top: 30px;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.bottom h4 {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
}
.bottom .head-titles {
  display: flex;
  flex-direction: row;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border: 1px solid black;
  font-size: 2rem;
  justify-content: space-between;
}
.titles1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.titles2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.titles3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
