/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.container {
  background-color: black;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../background.jpg");
  line-height: 1.2;
  min-height: 100%;
  color: white;
  font-size: 1.7rem;
}
.article {
  position: absolute;
  background: black;
  line-height: 1.4;
  padding: 25px;
}
.main-content,
.education {
  position: relative;
  background: black;
  border: 2px solid silver;
  padding: 16px;
}
.portrait {
  width: 25%;
  height: 25%;
  border-radius: 16px;
  border: 1px solid white;
}
h1,
h2,
h3,
h4 {
  font-size: 2.8rem;
  font-family: 'EB Garamond';
}
header {
  display: flex;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px solid silver;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: black;
  font-family: 'EB Garamond';
  width: 100%;
  height: 120px;
  font-size: 2.5rem;
  text-align: center;
  color: silver;
  padding: 15px;
}
nav a {
  text-decoration: none;
  color: silver;
}
nav a:hover {
  color: blue;
}
.mainlogo {
  border-radius: 16px;
  text-align: center;
  background: black;
}
/* Styling the logos for the stacks */
.stack-logos {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* Styling the logos for the stacks */
}
.stack-logos .logos {
  height: 70%;
  width: 100px;
  opacity: 0.88;
  border-radius: 8px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #444;
  background-color: black;
}
.stack-logos .logos .logos:hover {
  background-color: #444;
}
.button1 {
  width: 120px;
  height: 58px;
  color: white;
  font-size: 1.7rem;
  background-color: aqua;
  border-radius: 12px;
  font-size: 1.1em;
  font-family: 'EB Garamond';
  text-align: center;
  border: 2px solid white;
}
.button1 a {
  color: black;
}
.button2 {
  width: 120px;
  height: 58px;
  color: white;
  font-size: 1.7rem;
  background-color: silver;
  border-radius: 12px;
  font-size: 1.1em;
  font-family: 'EB Garamond';
  text-align: center;
  border: 2px solid white;
}
.button2 a {
  color: black;
}
footer {
  border-top: 2px solid white;
  font-size: 1.1em;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    font-size: 1.5rem;
  }
  .container nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
    font-family: 'EB Garamond';
    width: 100%;
    height: 120px;
    font-size: 2rem;
    text-align: center;
    color: silver;
    padding: 8px;
  }
  .container nav a {
    text-decoration: none;
    color: silver;
  }
  .container nav a:hover {
    color: blue;
  }
}
