/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    width: 720px;
    margin-left: 15px;
  }
}
@media (max-width: 400px) {
  .container {
    width: 380px;
    margin-left: auto;
  }
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  header nav {
    width: 70%;
  }
}
@media (max-width: 400px) {
  header nav {
    display: flex;
    width: 100%;
  }
  header nav li:first-child {
    margin-left: 0px;
  }
}
header nav ul {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 768px) {
  header nav ul {
    width: 100%;
  }
  header nav ul li:first-child {
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  header nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
}
@media (max-width: 400px) {
  header nav ul li {
    border-bottom: 1px solid black;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
@media (max-width: 768px) {
  header nav ul li a {
    font-size: 90%;
  }
}
@media (max-width: 400px) {
  header nav ul li a {
    font-size: 100%;
    padding: 5px;
  }
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 768px) {
  header .logo {
    width: 20%;
    margin-left: 100px;
  }
}
@media (max-width: 400px) {
  header .logo {
    order: -1;
    width: 50%;
    align-self: center;
    margin-left: 0px;
    margin: 10px;
  }
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cta {
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .cta {
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .cta img {
    width: 330px;
    height: 330px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  .cta img {
    height: 190px;
    width: 190px;
    margin-right: 0px;
    align-self: center;
    margin-top: 25px;
  }
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
@media (max-width: 768px) {
  .cta .cta-text {
    font-size: 56px;
    margin-right: 62px;
  }
}
@media (max-width: 400px) {
  .cta .cta-text {
    margin-right: 5px;
    font-size: 40px;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 768px) {
  .main-content {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
@media (max-width: 400px) {
  .main-content {
    margin-top: 25px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
  }
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .main-content .top-content {
    justify-content: center;
    flex-direction: column;
  }
  .main-content .top-content .text-content:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .main-content .top-content .text-content {
    margin-bottom: 25px;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .main-content .middle-img {
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    justify-content: center;
    flex-direction: column;
  }
  .main-content .bottom-content .text-content:last-child {
    margin-bottom: 0px;
  }
}
.main-content .bottom-content p {
  padding-right: 20px;
}
@media (max-width: 400px) {
  .main-content .bottom-content .text-content {
    margin-bottom: 25px;
  }
}
@media (max-width: 400px) {
  .contact {
    font-size: 12px;
  }
}
.contact p {
  margin: 15px 0;
}
footer {
  text-align: center;
  margin: 40px 0 20px;
}
@media (max-width: 768px) {
  footer {
    margin-bottom: 10px;
    margin-top: 25px;
  }
}
