/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  margin: 0 auto;
  font-size: 62.7%;
}
.container nav {
  display: flex;
  justify-content: flex-end;
  margin: 20px 50px;
}
.container nav ul {
  display: flex;
  flex-direction: row;
}
.container nav ul li {
  margin-left: 30px;
}
.container nav ul li a {
  text-decoration: none;
}
.container .banner {
  margin: 0px 50px;
}
.container .banner article {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  background-color: #def3ec;
}
.container .banner article img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 30px;
}
.container .banner article h1 {
  display: block;
  font-size: 4rem;
  margin: 10px;
}
.container .banner article p {
  display: block;
  font-size: 1.4rem;
  margin: 10px;
}
.container .banner article button {
  color: white;
  background: gray;
  margin: 10px;
  width: 200px;
  height: 50px;
  font-size: 1.6rem;
  border-radius: 6px;
}
