/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
h1,
h2,
h3 {
  margin-bottom: 15px;
}
.section-layout {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.section-layout h2 {
  font-size: 2rem;
}
.section-layout h3 {
  font-size: 1.8rem;
  color: #959595;
}
.section-layout b {
  font-weight: bold;
}
.section-layout p {
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.5;
}
.container {
  width: 900px;
  margin: auto;
}
header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2.5%;
}
nav {
  font-size: 2rem;
}
nav a {
  text-decoration: none;
  color: darkslategrey;
  padding-left: 10px;
}
.top-content {
  display: flex;
  margin: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #1E4F5C;
  border-bottom: 1px solid black;
}
.top-content img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.top-content .title {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2.5%;
}
.top-content .title h1 {
  font-size: 4rem;
}
.top-content .title p {
  margin-bottom: 10px;
  font-size: 2rem;
}
.content .education {
  display: flex;
  flex-direction: column;
  margin: 5%;
  justify-content: space-evenly;
}
.content .education h1 {
  font-size: 3rem;
  color: #1E4F5C;
  margin-bottom: 20px;
}
.content .education .schooling-information {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.content .education .schooling-information h2 {
  font-size: 2rem;
}
.content .education .schooling-information h3 {
  font-size: 1.8rem;
  color: #959595;
}
.content .education .schooling-information b {
  font-weight: bold;
}
.content .education .schooling-information p {
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.5;
}
.content .work {
  display: flex;
  flex-direction: column;
  margin: 5%;
  justify-content: space-evenly;
}
.content .work h1 {
  font-size: 3rem;
  color: #1E4F5C;
  margin-bottom: 20px;
}
.content .work .work-information {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.content .work .work-information h2 {
  font-size: 2rem;
}
.content .work .work-information h3 {
  font-size: 1.8rem;
  color: #959595;
}
.content .work .work-information b {
  font-weight: bold;
}
.content .work .work-information p {
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .container {
    width: 95%;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
