/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}
/*== Global ==================================================================*/
/*-- Variables ---------------------------------*/
/*-- Mixins ------------------------------------*/
/*== Layout ==================================================================*/
html {
  font-size: 62.5%;
}
body {
  background-color: #FAFAFA;
}
.container {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 880px;
}
@media (max-width: 500px) {
  .container {
    max-width: 470px;
  }
}
.container h1 {
  font-size: 6rem;
}
.container h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
.container a {
  color: inherit;
  text-decoration: none;
}
/*-- Header ------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 2% 25px 0;
  width: 45%;
}
@media (max-width: 500px) {
  header nav {
    width: 98%;
  }
}
/*-- Content -----------------------------------*/
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .intro {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 20px;
  width: 98%;
}
main .intro img {
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}
main .bio {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 20px;
  margin-right: 2%;
  width: 48%;
}
@media (max-width: 500px) {
  main .bio {
    width: 98%;
  }
}
main .skills {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 20px;
  width: 48%;
}
@media (max-width: 500px) {
  main .skills {
    width: 98%;
  }
}
main .work-history {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 20px;
  width: 98%;
}
main .contact {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding: 20px;
  width: 98%;
}
main .contact address {
  text-align: center;
}
