/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.h4 {
  font-size: 1.15rem;
  padding: 2%;
  padding-bottom: 5%;
  font-style: oblique;
}
.p {
  padding: 2%;
  font-size: 1.1rem;
}
.ul {
  font-size: 1rem;
  padding-top: 5%;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  background-color: lightgray;
  width: 100%;
}
.intro .intro-1 {
  border-bottom: 1px solid black;
  padding: 2%;
}
.intro .intro-1 h1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.intro .intro-1 h3 {
  font-size: 1.25rem;
  color: purple;
}
.intro .intro-2 {
  padding: 2%;
}
.intro .intro-2 p {
  padding-bottom: 5%;
}
.content {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 5%;
}
.content .content-1 {
  width: 45%;
  padding-right: 2%;
}
.content .content-1 h2 {
  font-size: 1.35rem;
  padding-bottom: 5%;
  font-style: oblique;
}
.content .content-1 p {
  font-size: 1.2rem;
  padding: 1%;
}
.content .content-2 {
  width: 45%;
  padding-left: 20%;
}
.content .content-2 h3 {
  font-size: 1.25rem;
  padding-bottom: 5%;
}
.content .content-2 ul {
  list-style-type: circle;
  font-size: 1.2rem;
  padding-bottom: 5%;
}
.content .content-2 ul li {
  padding: 2%;
}
.content .content-2 form {
  padding: 2%;
}
.content .content-2 form label {
  font-size: 1.1rem;
}
.his-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-bottom: 1px solid black;
}
.histoire {
  margin: 20px auto;
  width: 400px;
  height: 400px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media (max-width: 500px) {
  .histoire {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
.histoire .job-1 {
  border: 2px solid black;
  padding: 2%;
}
.histoire .job-1 h4 {
  font-size: 1.15rem;
  padding: 2%;
  padding-bottom: 5%;
  font-style: oblique;
}
.histoire .job-1 p {
  padding: 2%;
  font-size: 1.1rem;
}
.histoire .job-1 ul {
  font-size: 1rem;
  padding-top: 5%;
}
.histoire .job-1 ul li {
  padding: 2%;
}
.job-2 {
  border: 2px solid black;
  padding: 2%;
}
.job-2 h4 {
  font-size: 1.15rem;
  padding: 2%;
  padding-bottom: 5%;
  font-style: oblique;
}
.job-2 p {
  padding: 2%;
  font-size: 1.1rem;
}
.job-2 ul {
  font-size: 1rem;
  padding-top: 5%;
}
.job-2 ul li {
  padding: 2%;
}
.job-3 {
  border: 2px solid black;
  padding: 2%;
}
.job-3 h4 {
  font-size: 1.15rem;
  padding: 2%;
  padding-bottom: 5%;
  font-style: oblique;
}
.job-3 p {
  padding: 2%;
  font-size: 1.1rem;
}
.job-3 ul {
  font-size: 1rem;
  padding-top: 5%;
}
.job-3 ul li {
  padding: 2%;
}
.job-4 {
  border: 2px solid black;
  padding: 2%;
}
.job-4 h4 {
  font-size: 1.15rem;
  padding: 2%;
  padding-bottom: 5%;
  font-style: oblique;
}
.job-4 p {
  padding: 2%;
  font-size: 1.1rem;
}
.job-4 ul {
  font-size: 1rem;
  padding-top: 5%;
}
.job-4 ul li {
  padding: 2%;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-style: oblique;
  background-color: lavender;
  color: black;
}
