/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10rem;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
}
body {
  height: 100%;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  background: #ffe5f9;
  width: 100%;
  max-width: 1089px;
}
header {
  display: flex;
  height: 100vh;
}
.right {
  flex: 1;
  order: 2;
  background: url('../images/Sabrina.jpg');
  background-color: #ffe5f9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  flex: 1;
  order: 1;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
}
.left img {
  width: 80%;
  padding: 4rem;
}
.bottom {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 5rem 0;
  align-content: space-between;
  background-color: #918A84;
  color: white;
}
.bottom div {
  flex: 1;
  padding: 4rem 8rem;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: 'Reenie Beanie', cursive;
}
.bottom div img {
  width: 4.5rem;
  padding-bottom: 4rem;
}
.bottom div a {
  text-decoration: none;
  color: lightpink;
}
.bottom div h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-family: 'Rock Salt', cursive;
  padding-bottom: 2rem;
}
footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  background-color: #918A84;
  padding: 2rem;
  border-top: dashed #877f78 1px;
  border-width: 0.8rem;
}
footer a {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.5rem;
  text-decoration: none;
  color: lightpink;
  padding: 2rem;
}
@media (max-width: 500px) {
  .container {
    max-width: 450px;
  }
  header {
    flex-flow: column wrap;
    height: 50vh;
  }
  header div {
    width: 100%;
  }
  header img {
    width: 100%;
  }
  header .right {
    display: none;
  }
  .bottom {
    flex-direction: column;
  }
}
