/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  font-size: 62.5%;
}
.main-container {
  width: 80%;
  margin: 0 auto;
  color: gray;
}
header {
  margin: 1% 5% 1% 1%;
}
header .menubar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .navigation {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
header a {
  color: gray;
  font-size: 1.5rem;
  width: 6rem;
  text-decoration: none;
  align-content: center;
  text-align: center;
}
div .top-content {
  border: 1px solid black;
  width: 90%;
  height: 55%;
  background-color: #a0a6b9;
  margin: 0 auto;
  color: black;
}
div .top-content .my-image {
  border: 2px solid black;
  display: flex;
}
div .top-content #my-pic {
  margin-left: 1rem;
  margin-top: 3rem;
  height: auto;
  width: 45%;
  padding: 5%;
}
div .top-content #code-pic {
  margin-left: 1rem;
  margin-top: 3rem;
  height: auto;
  width: 40rem;
  padding: 5%;
}
div .top-content .about {
  padding: 2%;
}
div .top-content .about h1 {
  font-size: 2rem;
  border-bottom: 0.1rem solid black;
  padding: 2%;
}
div .top-content .about h2 {
  padding: 2%;
}
.button {
  color: white;
  border: 1px solid black;
  padding: 1%;
  background-color: grey;
  text-decoration: none;
}
.middle-content {
  border: 2px solid black;
  background-color: lightgray;
  display: flex;
  width: 90%;
  margin: 2% auto;
}
.middle-content h2 {
  font-size: 1.5rem;
  color: black;
}
.middle-content .history {
  border: 2px solid black;
  width: 45%;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
.middle-content .skills {
  border: 2px solid black;
  width: 45%;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
.middle-content .skills li {
  text-align: left;
  border: 1px solid black;
  padding: 2%;
}
.bottom-content {
  width: 90%;
  margin: 0 auto;
}
.bottom-content table {
  font-family: arial, sans-serif;
  width: 100%;
}
.bottom-content td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.bottom-content h2 {
  text-align: left;
  padding: 8px;
  font-size: 2rem;
}
.bottom-content tr:nth-child(even) {
  background-color: #dddddd;
}
