/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #ea22ea;
  position: relative;
  overflow: hidden;
}
@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}
.container h1,
.container h2 {
  color: #464242;
}
.container footer {
  text-align: center;
  font-size: 1.7rem;
  padding: 30px;
  background-color: grey;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 241, 250, 0.938);
}
@media (max-width: 600px) {
  .container header {
    flex-direction: column;
    align-content: center;
  }
}
.container header .logo {
  width: 20%;
  height: 20%;
  margin-left: 60px;
}
.container header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
@media (max-width: 600px) {
  .container header nav {
    width: 100%;
    justify-content: space-around;
    margin-right: 0;
  }
}
.container header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}
.container section {
  margin: 20px 0;
}
.container .Intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .container .Intro {
    flex-direction: column;
  }
}
.container .Intro img {
  width: 400px;
  height: auto;
  opacity: 0.7;
}
.container .Intro .name {
  font-size: 2rem;
  margin: 40px 0;
}
.container .Intro .quote {
  margin: 20px 20px;
  font-weight: bold;
  font-style: italic;
}
.container .Intro p {
  margin: 20px;
  color: #e7f3a6;
  line-height: 1.4;
  font-size: 1.1rem;
}
.container .Intro button {
  display: block;
  margin: 30px auto;
  border: 1px solid black;
  background-color: white;
  padding: 5px 20px;
  font-size: 2rem;
}
.container .Intro button a:hover {
  background-color: black;
}
.container .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container .content section {
  margin: 20px;
}
.container .content section h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: #464242;
}
.container .content .brief-bio {
  width: 100%;
  padding: 0 20px;
}
.container .content .brief-bio p {
  color: #e7f3a6;
  line-height: 1.4;
  font-size: 1.1rem;
}
.container .content .Skills li {
  margin: 8px 0 8px 50px;
  padding-left: 20px;
  font-size: 1.6rem;
  list-style-type: circle;
  color: rgba(188, 253, 188, 0.87);
}
.container .content .Work-History li {
  margin: 8px 0 8px 50px;
  padding-left: 20px;
  font-size: 1.6rem;
  list-style-type: decimal;
  color: rgba(188, 253, 188, 0.87);
}
.container .content .hobbies {
  width: 100%;
}
.container .content .hobbies h2 {
  text-align: center;
}
.container .content .hobbies ul {
  display: flex;
  flex-wrap: wrap;
}
.container .content .hobbies ul li {
  list-style-type: square;
  width: 40%;
  margin-left: 10%;
  padding: 0 20px;
  line-height: 1.5;
  font-size: 1.5rem;
  color: rgba(188, 253, 188, 0.87);
}
.container:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-image: url(http://i.imgur.com/o1a63.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
