/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 2%;
  }
}
/* ============= Mixins ============ */
.content-paragraph-display {
  display: flex;
  justify-content: space-around;
}
/* Header Styles */
header {
  width: 100%;
  display: flex;
  border: 1px solid blue;
}
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
header nav {
  margin-top: 40px;
  width: 70%;
  justify-content: space-between;
  display: flex;
  border: 1px solid red;
}
@media (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 400px) {
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
header nav a {
  text-decoration: none;
  color: #2B00A3;
}
@media (max-width: 400px) {
  header nav a {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 20px 0;
  }
}
@media (max-width: 400px) {
  header nav a:first-child {
    border-top: 1px solid black;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  margin: 28px 0 0 30%;
}
@media (max-width: 768px) {
  header .logo {
    align-items: center;
    margin: 28px 0 0 0;
  }
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cta {
    display: flex;
    align-items: center;
    border: 1px solid purple;
  }
}
.cta .cta-text {
  font-size: 8.2rem;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9.3% 0 0;
}
@media (max-width: 768px) {
  .cta .cta-text {
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 7.2rem;
    border: 1px solid gold;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 3.2rem;
  background: #2B00A3;
  width: 80%;
  height: 64px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 768px) {
  .cta img {
    display: none;
  }
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 18px;
  width: 100%;
}
@media (max-width: 768px) {
  .main-content {
    width: 100%;
  }
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .top-content {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .main-content .top-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .main-content .top-content .text-content {
    padding: 20px 0;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
  width: 100%;
}
@media (max-width: 768px) {
  .main-content .middle-img {
    margin-top: 45px;
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .bottom-content {
    display: flex;
    flex-direction: space-between;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content .text-content {
    padding: 20px 0;
  }
}
.main-content .bottom-content .text-content p {
  padding-right: 10%;
}
/* Contact Styles */
.contact p {
  margin: 15px 0;
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 20px;
}
