/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid black;
  font-size: 2rem;
}
@media (max-width: 500px) {
  header nav {
    justify-content: space-around;
  }
}
header nav a {
  text-decoration: none;
  margin-left: 50px;
}
@media (max-width: 500px) {
  header nav {
    margin-left: 0;
    font-size: 1.8rem;
  }
}
.text {
  font-size: 1.6rem;
  padding: 5px 0;
}
.identity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: whitesmoke;
}
@media (max-width: 500px) {
  .identity {
    flex-direction: column;
  }
}
.identity .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px 0;
}
.identity .contact h2 {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .identity .contact h2 {
    font-size: 2.8rem;
  }
}
.identity .contact h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .identity .contact h3 {
    font-size: 1.6rem;
  }
}
.identity h1 {
  font-size: 8rem;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 20px 0;
}
.main-content img {
  padding: 20px;
  object-fit: cover;
}
.main-content .main-content-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 50%;
}
@media (max-width: 500px) {
  .main-content .main-content-text {
    width: 90%;
  }
}
.main-content .main-content-text h3 {
  font-size: 2rem;
  padding: 5px;
  border-top: 1px double black;
  border-bottom: 1px double black;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 5px 0;
  width: 50%;
  text-align: center;
}
.bottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
  flex-direction: column;
  width: 100%;
}
.bottom-content table {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.bottom-content table th,
.bottom-content table td {
  padding: 15px;
  text-align: left;
}
.bottom-content table th {
  font-weight: bold;
}
.bottom-content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.bottom-content h3 {
  font-size: 2rem;
  font-weight: bold;
  width: 25%;
  text-align: left;
}
.bottom-content .education {
  padding: 10px;
}
.bottom-content .work-history {
  padding: 10px;
  border-bottom: 2px solid black;
}
footer {
  margin: 20px 0;
}
