html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
  background-color: lightslategray;
  color: lightgray;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: white;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 400px;
    width: 100%;
  }
}
header {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header nav {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  header nav {
    width: 90%;
  }
}
header nav ul {
  margin: 40px 5% 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
@media only screen and (max-width: 768px) {
  header nav ul {
    width: 100%;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 400px) {
  header nav ul {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  header nav ul li {
    width: 100%;
    margin: 0;
  }
  header nav ul li:first-child {
    border-top: 1px solid mintcream;
  }
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 400px) {
  header nav ul li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    border-bottom: 1px solid mintcream;
  }
  header nav ul li a:hover {
    background: ivory;
    text-decoration: none;
  }
}
header nav ul li a:hover {
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 2% 0 10%;
}
@media only screen and (max-width: 768px) {
  header .logo {
    order: -1;
    max-width: 100%;
    margin: 20px 0;
  }
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .cta {
    margin-top: 50px;
    flex-flow: column;
    align-items: center;
  }
}
.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9% 0 0;
}
@media only screen and (max-width: 768px) {
  .cta .cta-text {
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  .cta .cta-text {
    margin: 0;
    font-size: 6rem;
  }
}
.cta .cta-text button {
  border: 1px double lightgray;
  font-size: 1.6rem;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: lightslategray;
  color: lightgray;
}
.cta img {
  max-width: 100%;
  margin-right: 1%;
}
@media only screen and (max-width: 768px) {
  .cta img {
    display: none;
  }
}
.main-content {
  border-top: 2px solid mintcream;
  border-bottom: 2px solid mintcream;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 1.3;
}
@media only screen and (max-width: 768px) {
  .main-content {
    margin: 50px 2% 35px;
  }
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 400px) {
  .main-content .top-content {
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media only screen and (max-width: 768px) {
  .main-content .middle-img {
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  padding-right: 2%;
}
@media only screen and (max-width: 400px) {
  .main-content .bottom-content {
    flex-wrap: wrap;
    align-content: space-between;
    height: 440px;
  }
}
.contact {
  margin: 20px 1%;
}
@media only screen and (max-width: 768px) {
  .contact {
    margin: 20px 2%;
  }
}
@media only screen and (max-width: 400px) {
  .contact {
    margin: 20px;
  }
}
.contact p {
  margin: 15px 0;
}
footer {
  text-align: center;
  margin: 40px 0 20px;
}
