/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 6rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
}
p {
  font-size: 1.6rem;
}
img {
  height: auto;
  width: 100%;
}
table {
  font-size: 1.6rem;
}
th {
  padding: 10px 3%;
  text-align: center;
  background: lightgrey;
}
tr {
  line-height: 1.17;
}
tr:nth-child(odd) {
  background: #eeeeee;
}
td {
  padding: 20px 3%;
  border-top: 1px solid black;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  font-family: "Rubik", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 4% 10px 4%;
  }
}
.container nav div:first-child {
  margin-top: 30px;
}
.container nav div:last-child {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .container nav div:last-child {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }
}
.container nav div:last-child a {
  text-decoration: none;
  color: black;
  margin-left: 10%;
  font-size: 1.6rem;
}
.container nav div:last-child a:hover {
  color: #2ae4b4;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .container nav div:last-child a {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.container header {
  width: 100%;
  background-color: #2ae4b4;
  padding: 20px 2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.54);
}
@media (max-width: 500px) {
  .container header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.container header div:first-child {
  max-width: 30%;
}
@media (max-width: 500px) {
  .container header div:first-child {
    max-width: 95%;
    margin-bottom: 40px;
  }
}
.container header div:last-child p {
  font-size: 2.3rem;
  padding-bottom: 22px;
  margin-left: 3%;
}
.container header div:last-child a {
  text-decoration: none;
  color: black;
  margin-left: 3%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 5%;
  font-size: 2.3rem;
  background: #eeeeee;
}
.container header div:last-child a:hover {
  color: #2ae4b4;
  text-decoration: underline;
}
.container header div:last-child a:hover {
  color: white;
  background: black;
  text-decoration: none;
}
.container .section__one {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .container .section__one {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 4%;
  }
}
.container .section__one div:first-child {
  margin: 0;
}
.container .section__one div:first-child h2 {
  width: 80%;
  font-family: "Rubik", sans-serif;
}
.container .section__one div:first-child p {
  margin: 20px 5% 20px 0;
  line-height: 1.17;
}
.container .section__one div:last-child {
  width: 43%;
}
@media (max-width: 500px) {
  .container .section__one div:last-child {
    margin-top: 20px;
    width: 100%;
  }
}
.container .section__one div:last-child h2 {
  padding-bottom: 20px;
  font-family: "Rubik", sans-serif;
}
.container .section__one div:last-child ul li {
  padding: 20px 3%;
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid black;
}
.container .section__one div:last-child ul li:nth-child(even) {
  border-top: 0;
  border-bottom: 0;
  background: #eeeeee;
}
.container .section__two {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .container .section__two {
    padding: 0 4% 40px;
  }
}
.container .section__two div {
  width: 100%;
}
.container .section__two div h2 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}
.container .section__two div table {
  border: 1px solid black;
  width: 100%;
}
.container footer address {
  padding: 40px 0;
}
@media (max-width: 500px) {
  .container footer address {
    padding: 40px 4%;
  }
}
.container footer address p {
  padding-top: 10px;
}
.container footer div {
  text-align: center;
  height: 100px;
  width: 100%;
  padding-top: 40px;
}
