/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: #09BC8A;
}
.main-container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20% 10px 0;
}
header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
}
header .header-top h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5.5rem;
  color: white;
}
header .header-top h2 {
  font-size: 3rem;
  color: white;
  font-family: 'Satisfy', cursive;
}
header .topnav {
  display: flex;
  align-items: flex-end;
  width: 45%;
  justify-content: space-between;
  font-size: 2.5rem;
}
header .topnav a {
  text-decoration: none;
  color: white;
  font-family: 'Satisfy', cursive;
  padding: 0px 5%;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #172A3A;
  width: 100%;
  height: 775px;
  border-radius: 5%;
}
.img-container {
  display: flex;
  width: 30%;
  justify-content: center;
  margin-right: 3%;
}
.img-container img {
  width: 100%;
  height: 60%;
  border-radius: 50%;
  margin: 0 auto;
}
.info-container {
  width: 60%;
  color: white;
  padding-left: 10%;
}
.info-container p {
  margin-top: 55px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.info-container h1 {
  font-family: 'Satisfy', cursive;
  font-size: 7.5rem;
  margin-top: 10px;
}
.info-container .abit {
  font-family: 'Satisfy', cursive;
  font-size: 5.5rem;
  margin-bottom: 45px;
}
.info-container .button {
  border-radius: 50%;
  padding: 30px 5%;
  margin-bottom: 45px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.info-container .b1 {
  background: #75DDDD;
  margin-right: 1.5%;
}
.info-container .b2 {
  background: #508991;
  margin-right: 1.5%;
}
.info-container .b3 {
  background: #09BC8A;
}
.info-container .skill-section {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  width: 100%;
}
.info-container .ul1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
}
.info-container .ul1 li {
  font-size: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  list-style: inside;
  line-height: 30px;
}
.info-container .ul1 h2 {
  margin-top: px;
  border-bottom: 1px solid #09BC8A;
  padding-left: 30%;
}
.info-container .ul2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 25px;
}
.info-container .ul2 li {
  font-size: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  list-style: inside;
  text-align: center;
  line-height: 30px;
}
.info-container .ul2 h2 {
  padding-left: 30%;
  border-bottom: 1px solid #09BC8A;
}
.info-container ul h2 {
  font-size: 3.5rem;
  font-family: 'Satisfy', cursive;
  margin-bottom: 10px;
}
footer {
  font-size: 3.5rem;
  display: flex;
  justify-content: space-around;
  font-family: 'Satisfy', cursive;
  color: white;
  margin-top: 10px;
}
