/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  margin: 20px 0;
  margin-top: 10px;
  text-decoration: none;
  font-family: Georgia, Sans-Serif;
}
@media (max-width: 500px) {
  header {
    background: gray;
    justify-content: center;
    border-bottom: 3px navajowhite;
    margin: 0px;
    padding: 0px;
  }
}
header nav a {
  text-decoration: none;
  margin: 20px 0;
  padding: 20px;
  color: #6EED61;
}
@media (max-width: 500px) {
  header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px navajowhite;
  }
}
.main-content {
  background-color: lightgray;
  height: 600px;
  padding: 20px;
}
.main-content img {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content h1 {
  font-size: 3rem;
  padding: 10px;
}
.main-content h2 {
  font-size: 2rem;
  border-bottom: 2px dotted black;
}
.main-content p {
  padding-top: 20px;
  font-size: 1.8rem;
}
.main-content button {
  height: 30px;
  width: 100px;
  background: red;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-content h4 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: navy;
  font-style: bold;
}
.other-content .about-me p {
  justify-content: center;
  padding: 20px;
}
.other-content p,
.other-content li,
.other-content h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.6rem;
}
.other-content li {
  color: #6EED61;
}
footer {
  display: flex;
  height: 40px;
  justify-content: center;
  background: navajowhite;
  align-items: center;
}
