/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: #031634;
}
.header-font {
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
}
.header2-font {
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 5px;
}
.para-font {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
}
.para-font-mobile {
  font-size: 1.6rem;
}
.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}
.centered-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  margin: 2px;
}
.sectiondesign {
  background: #033649;
  margin: 5px;
  padding: 3px;
}
.links {
  color: #359668;
  text-decoration: none;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  background: #033649;
  margin: 5px;
  padding: 3px;
}
.container header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  width: 65%;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    margin: 2px;
  }
}
.container header nav a {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
  color: #359668;
  text-decoration: none;
}
@media (max-width: 500px) {
  .container header nav a {
    font-size: 1.6rem;
  }
}
.container header nav a:hover {
  text-decoration: underline;
}
.container .top-content {
  background-color: orangered;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  background: #033649;
  margin: 5px;
  padding: 3px;
}
@media (max-width: 500px) {
  .container .top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    margin: 2px;
  }
}
.container .top-content img {
  width: 150px;
  height: 150px;
}
.container .top-content .title {
  width: 50%;
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
}
.container .top-content .title h2 {
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 5px;
}
.container .top-content .title p {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .container .top-content .title p {
    font-size: 1.6rem;
  }
}
.container .intro {
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
  background: #033649;
  margin: 5px;
  padding: 3px;
}
.container .intro p {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .container .intro p {
    font-size: 1.6rem;
  }
}
.container .middle-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}
@media (max-width: 500px) {
  .container .middle-content {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    margin: 2px;
  }
}
.container .middle-content h1 {
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
}
.container .middle-content h2 {
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 5px;
}
.container .middle-content p {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .container .middle-content p {
    font-size: 1.6rem;
  }
}
.container .middle-content .left-content {
  background: #033649;
  margin: 5px;
  padding: 3px;
  width: 30%;
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
}
@media (max-width: 500px) {
  .container .middle-content .left-content {
    width: 80%;
  }
}
.container .middle-content .left-content li {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .container .middle-content .left-content li {
    font-size: 1.6rem;
  }
}
.container .middle-content .left-content .skills {
  background: #033649;
  margin: 5px;
  padding: 3px;
}
.container .middle-content .left-content .edu {
  background-color: blueviolet;
  background: #033649;
  margin: 5px;
  padding: 3px;
}
.container .middle-content .history {
  width: 50%;
  background: #033649;
  margin: 5px;
  padding: 3px;
}
@media (max-width: 500px) {
  .container .middle-content .history {
    width: 80%;
  }
}
.container .middle-content .history h2 {
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 5px;
}
.container .middle-content .history p {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .container .middle-content .history p {
    font-size: 1.6rem;
  }
}
.container .contact {
  background: #033649;
  margin: 5px;
  padding: 3px;
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #CDB380;
  margin: 10px;
}
.container .contact p {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: #E8DDCB;
  line-height: 2rem;
  margin: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .container .contact p {
    font-size: 1.6rem;
  }
}
