/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  background-color: white;
  width: 100%;
  max-width: 880px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  background-color: whitesmoke;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header h1 {
  margin: 30px 0  30px 10px;
  font-size: 3.6rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left: 20%;
  padding: 20px 0;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  header nav {
    justify-content: space-around;
    margin-left: 0;
  }
}
header nav a {
  text-decoration: none;
  color: black;
  margin: 0 10%;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.personal_info {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
@media (max-width: 500px) {
  .personal_info {
    flex-direction: column;
  }
}
.personal_info .about {
  width: 50%;
}
.personal_info .about img {
  border-radius: 10px;
  width: 80%;
}
@media (max-width: 500px) {
  .personal_info .about {
    width: 100%;
    margin-bottom: 20px;
  }
}
.personal_info .skills {
  width: 30%;
}
@media (max-width: 500px) {
  .personal_info .skills {
    width: 100%;
  }
}
.personal_info .skills li {
  border-bottom: 1px solid gray;
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.personal_info .skills .btn {
  border: 1px solid midnightblue;
  border-radius: 10px;
  background-color: midnightblue;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 45%;
}
.personal_info .skills .btn:hover {
  box-shadow: 5px 5px black;
}
.work {
  margin-top: 20px;
}
.work h2 {
  padding-left: 5%;
}
.work .p2 {
  padding-left: 5%;
}
.work .p1 {
  background-color: whitesmoke;
  padding: 15px 0 15px 5%;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 60px 0 20px 2%;
}
.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
  font-size: 1.6rem;
}
