/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
/* Variables & Maxins......................................................................................................................*/
/*My code starts here.......................................................................................................................*/
.container {
  border: 1px solid black;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
.container header nav {
  display: flex;
  margin-top: 32px;
  justify-content: flex-end;
  margin-right: -6px;
}
.container header nav a {
  text-decoration: none;
  color: #101B7B;
  padding: 0 17px;
}
.container .top-content {
  background: lightgrey;
  margin: 33px 8px 33px 0;
  padding: 61px 34px;
}
.container .top-content .self-picture {
  width: 37.5%;
}
.container .top-content h1 {
  color: #101B7B;
  font-family: sans-serif;
  font-size: 54px;
  margin: 5px 0;
}
.container .top-content p {
  margin: 25px 0 20px 0;
  font-size: 17px;
  line-height: 24.5px;
}
.container .top-content .sub-text {
  border-bottom: 1px solid grey;
  margin-top: 17px;
  font-size: 19px;
  padding-bottom: 25px;
}
.container .top-content button {
  background: darkgrey;
  padding: 10px 11px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 8%;
  margin: -4px 0 0 -2px;
}
.container .middle-content {
  display: flex;
  flex-direction: row;
  margin-top: 56px;
}
.container .middle-content .left-content {
  width: 50%;
  padding-right: 30px;
}
.container .middle-content .left-content h2 {
  font-size: 29px;
  font-weight: bold;
}
.container .middle-content .left-content p {
  margin-top: 19px;
}
.container .middle-content .right-content {
  width: 50%;
}
