/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #EFE8C6;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9B360D;
  width: 100%;
}
.container nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.container nav a {
  text-decoration: none;
  color: white;
  margin: 10px 2%;
  font-size: 1.7rem;
}
.container nav a:hover {
  color: #EFE8C6;
}
.container nav .name {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container nav .name {
    font-size: 1.8rem;
  }
}
.container section.intro {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container section.intro h1 {
  font-size: 3rem;
  color: #B1360D;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .container section.intro h1 {
    font-size: 2.5rem;
  }
}
.container section.intro h2 {
  font-size: 2.5rem;
  margin: 10px 0 15px 0;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container section.intro h2 {
    font-size: 1.8rem;
  }
}
.container section.intro p {
  font-family: 'Mali', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 500px) {
  .container section.intro p {
    font-size: 1.4rem;
  }
}
.container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #9B360D;
  border-top: 2px solid #9B360D;
}
@media (max-width: 500px) {
  .container .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.container .info .skills {
  width: 40%;
}
@media (max-width: 500px) {
  .container .info .skills {
    width: 100%;
  }
}
.container .info section {
  margin-left: 1%;
}
.container .info section h2 {
  font-size: 2.5rem;
  color: #B1360D;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .container .info section h2 {
    font-size: 1.8rem;
  }
}
.container .info section p {
  font-family: 'Mali', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .container .info section p {
    font-size: 1.4rem;
  }
}
.container .info section h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .info section h3 {
    font-size: 1.6rem;
  }
}
.container .info section ul {
  margin: 20px 0;
}
.container .info section li {
  font-size: 1.4rem;
  font-family: 'Mali', cursive;
  margin: 10px 0;
  list-style: disc;
  list-style: inside;
  line-height: 1.5;
}
.container .info section .compImg {
  width: 85%;
}
@media (max-width: 500px) {
  .container .info section .compImg {
    display: none;
  }
}
.container .info .leilaImg {
  margin: 0 10%;
}
