/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 3%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  header {
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 400px) {
  header {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
}
header nav {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 768px) {
  header nav {
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}
@media (max-width: 400px) {
  header nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
@media (max-width: 768px) {
  header nav a {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  header nav a {
    width: 100%;
    text-align: center;
    padding: 6.2%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 768px) {
  header .logo {
    align-self: flex-end;
    margin: 2% 2% 0 7%;
  }
}
@media (max-width: 400px) {
  header .logo {
    margin: 5.8% 0;
    justify-content: center;
    align-self: center;
    height: 100%;
  }
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cta {
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 85%;
    margin: 10.5% 15% 10.5% 0;
  }
}
@media (max-width: 400px) {
  .cta {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 15% 0;
  }
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
@media (max-width: 768px) {
  .cta .cta-text {
    color: #F8354B;
    align-items: center;
    font-size: 50px;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .cta .cta-text {
    color: #255BB6;
    margin: 0 0 10% 0;
    align-items: center;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cta .cta-text button {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .cta .cta-text button {
    align-self: center;
  }
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 768px) {
  .cta img {
    width: 45%;
    height: 45%;
  }
}
@media (max-width: 400px) {
  .cta img {
    width: 95%;
    height: 95%;
  }
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 768px) {
  .main-content {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .main-content {
    margin: 0 5%;
    padding: 10px 0;
  }
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .top-content {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .main-content .top-content {
    height: 100%;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .main-content .top-content .text-content {
    margin: 5% 0;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .main-content .middle-img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .main-content .middle-img {
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .bottom-content {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  .main-content .bottom-content {
    height: 100%;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content .text-content {
    margin: 5%;
  }
}
.main-content .bottom-content p {
  padding-right: 20px;
}
@media (max-width: 400px) {
  .contact {
    margin: 5%;
  }
}
.contact p {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .contact p {
    margin: 0 1% 1% 1%;
  }
}
footer {
  text-align: center;
  margin: 40px 0 20px;
}
@media (max-width: 768px) {
  footer {
    font-size: 13.5px;
    text-align: center;
    margin: 2% 0 20px;
  }
}
