/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f1f1f1;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 4rem;
}
.nav .nav__item {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  padding: 0 3rem;
  text-decoration: none;
  color: #f1f1f1;
}
.nav .nav__item:hover {
  color: #f1f1f1;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 6rem;
  height: 90vh;
  background-color: #EDB5BD;
  padding: 10rem;
}
.hero .hero__textBox {
  display: flex;
  flex-direction: column;
}
.hero .hero__textBox .hero__textBox--headline {
  font-family: 'Abhaya Libre';
  font-size: 14rem;
  color: #BCDFD5;
  text-shadow: 2px 2px 5px black;
}
.hero .hero__textBox .hero__textBox--subheadline {
  font-family: 'Montserrat';
  font-size: 3rem;
  color: #f1f1f1;
  text-transform: uppercase;
  align-self: flex-end;
  text-shadow: 1px 1px 1px black;
}
.hero .hero__imgBox {
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}
.hero .hero__imgBox .hero__imgBox--img {
  filter: grayscale(1);
  height: 320px;
  width: 263px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.about .about__headline {
  font-size: 5rem;
  color: #000;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding-top: 5rem;
}
.about .about__text {
  font-family: 'Abhaya Libre';
  font-size: 3rem;
  line-height: 2;
  padding: 7rem 20rem;
}
.about .about__text--italic {
  font-style: italic;
  font-size: 3.2rem;
}
.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #BCDFD5;
  height: 100vh;
}
.skills .skills__headline {
  font-family: 'Montserrat';
  font-size: 5rem;
  padding-top: 5rem;
  text-transform: uppercase;
}
.skills .skills__text {
  font-family: 'Abhaya Libre';
  font-size: 3rem;
  padding-top: 2rem;
}
.skills .skills__bothBoxes {
  display: flex;
  flex-direction: row;
  padding: 0 15rem;
}
.skills .skills__box {
  display: flex;
  flex-direction: column;
}
.skills .skills__box2 {
  display: flex;
  flex-direction: column;
}
.skills .skills__list {
  font-family: 'Abhaya Libre';
  font-size: 4rem;
  line-height: 1.5;
  padding: 7rem 10rem;
}
.history {
  background-color: #EDB5BD;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.history .history__headline {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 5rem;
  padding-top: 15rem;
}
.history .history__bothBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Abhaya Libre';
  font-size: 3rem;
  padding: 2rem 10rem;
}
.history .history__box {
  padding: 4rem 12rem;
}
.history .history__box2 {
  padding: 4rem 12rem;
}
.history .history__text {
  font-family: 'Abhaya Libre';
  font-size: 3rem;
  padding-top: 2rem;
}
.history .history__text--title {
  font-family: 'Abhaya Libre';
  font-size: 4rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
.history .history__text--item {
  font-family: 'Abhaya Libre';
  font-size: 2.5rem;
  padding-top: 2rem;
}
.history .history__text--date {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 1.8rem;
}
.contact {
  background-color: black;
  color: #BCDFD5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact .contact__headline {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 5rem;
  padding-top: 15rem;
}
.contact .contact__text {
  font-family: 'Abhaya Libre';
  font-size: 3rem;
  padding-top: 2rem;
}
.contact .contact__text--email {
  padding-top: 5rem;
  font-size: 6rem;
  padding-bottom: 9rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #f1f1f1;
  font-family: 'Montserrat';
  color: black;
}
.footer .footer__text {
  padding: 1rem 1rem;
  font-size: 2rem;
}
