/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.imgtester {
  width: 200px;
  height: 200px;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: #F1F4F9;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  background: #F9FAFB;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav {
  margin: 5px;
}
header nav a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2rem;
  margin: 0 5px;
  color: black;
  text-decoration: none;
}
header nav a:hover {
  color: crimson;
}
h1 {
  font-size: 4rem;
  font-family: 'IBM Plex Mono', monospace;
}
h2 {
  font-size: 1.75rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-family: 'IBM Plex Mono', monospace;
}
h6 {
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
}
p {
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
}
footer {
  font-family: 'Open Sans', sans-serif;
  background: crimson;
  font-size: 1.5rem;
  color: white;
  padding: 10px 5px;
}
.intro {
  background: lightgrey;
  width: 100%;
  padding: 15px;
}
.intro .intro1 {
  padding: 10px 0;
  margin: 5px 0;
  border-bottom: 0.5px solid grey;
}
.intro .intro2 {
  padding: 10px 0;
  margin: 5px 0;
}
.intro .intro2 h3 {
  margin-bottom: 15px;
}
.intro button {
  font-size: 1.25 rem;
  background: darkgray;
  color: white;
}
.intro button:hover {
  background: black;
  color: white;
}
.top-content {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0px 10px 2.5px;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 150px;
}
.top-content1 {
  width: 50%;
}
.top-content2 {
  width: 50%;
}
.top-content2 .skills {
  margin: 5px 0px 5px 5px;
  font-family: 'Open Sans', sans-serif;
}
.top-content2 .skills li {
  width: 50%;
  padding: 5px;
  font-size: 1.25rem;
  border: 0.5px solid gray;
}
.bottom-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bottom-content h2 {
  font-size: 1.75rem;
  align-self: flex-start;
}
.work-history {
  width: 100%;
  padding: 10px 10px;
  font-size: 1.5rem;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
}
.work-history th {
  font-size: 1.75rem;
  height: 50px;
  text-align: left;
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav {
    width: 100%;
  }
  header nav a {
    display: block;
    width: 100%;
    border-top: 1px solid grey;
    padding: 10px 0;
  }
  header nav a:hover {
    background: black;
    color: white;
  }
  header nav a:first-child {
    border-top: none;
  }
  header nav a:last-child {
    margin-bottom: 0px;
  }
  .mobile-button {
    display: flex;
    justify-content: center;
  }
  .imager {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-content {
    display: none;
  }
}
