/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* variables */
/* mixins */
/* General Styles */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', serif;
}
h6,
p,
span {
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 1.8rem;
}
.container {
  display: flex;
  width: 95%;
  min-height: 100%;
  margin-left: 5%;
  font-size: 1.6rem;
}
.container .left-content {
  background: #545454;
  width: 35%;
  min-height: 100%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .left-content header {
  width: 100%;
}
.container .left-content header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .left-content header nav a {
  text-decoration: none;
  color: white;
  margin: 0 3%;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .container .left-content header nav a {
    font-size: 1.5rem;
    margin: 0 1.8%;
  }
}
.container .left-content .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.container .left-content .skills h4 {
  display: block;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 45%;
  height: 2.5rem;
}
.container .left-content .skills .card {
  margin: 2rem 0;
  color: white;
  height: 3rem;
}
.container .left-content .skills .css {
  width: 100%;
  position: relative;
}
.container .left-content .skills .css:before {
  position: absolute;
  background: linear-gradient(to right, blue 80%, rgba(23, 23, 136, 0.459) 50px);
  height: 0.5rem;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.container .left-content .skills .css h6 {
  text-align: center;
  padding-bottom: 1 rem;
}
.container .left-content .skills .html {
  width: 100%;
  position: relative;
}
.container .left-content .skills .html:before {
  position: absolute;
  background: linear-gradient(to right, blue 100%, rgba(23, 23, 136, 0.459) 50px);
  height: 0.5rem;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.container .left-content .skills .html h6 {
  text-align: center;
  padding-bottom: 1 rem;
}
.container .left-content .skills .design {
  width: 100%;
  position: relative;
}
.container .left-content .skills .design:before {
  position: absolute;
  background: linear-gradient(to right, blue 20%, rgba(23, 23, 136, 0.459) 50px);
  height: 0.5rem;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.container .left-content .skills .design h6 {
  text-align: center;
  padding-bottom: 1 rem;
}
.container .left-content .skills .python {
  width: 100%;
  position: relative;
}
.container .left-content .skills .python:before {
  position: absolute;
  background: linear-gradient(to right, blue 80%, rgba(23, 23, 136, 0.459) 50px);
  height: 0.5rem;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.container .left-content .skills .python h6 {
  text-align: center;
  padding-bottom: 1 rem;
}
.container .left-content .skills .javascript {
  width: 100%;
  position: relative;
}
.container .left-content .skills .javascript:before {
  position: absolute;
  background: linear-gradient(to right, blue 65%, rgba(23, 23, 136, 0.459) 50px);
  height: 0.5rem;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.container .left-content .skills .javascript h6 {
  text-align: center;
  padding-bottom: 1 rem;
}
.container .left-content .education {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}
.container .left-content .education h4 {
  display: block;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  width: 55%;
  height: 2.65rem;
}
@media (max-width: 500px) {
  .container .left-content .education h4 {
    width: 89%;
  }
}
.container .left-content .education .school {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.container .left-content .education .school h5 {
  font-size: 2rem;
  font-weight: bolder;
}
.container .left-content .education .school h6 {
  font-size: 1.7rem;
  font-weight: bold;
}
.container .left-content .education .school p {
  font-size: 1.7rem;
}
.container .right-content {
  width: 65%;
}
.container .right-content header {
  background: #F0EFEB;
  margin: 10% 0;
}
.container .right-content header h1 {
  text-align: center;
  letter-spacing: 2.5rem;
}
@media (max-width: 800px) {
  .container .right-content header h1 {
    font-size: 4.2rem;
    letter-spacing: 1rem;
  }
}
@media (max-width: 500px) {
  .container .right-content header h1 {
    letter-spacing: 0rem;
  }
}
.container .right-content header hr {
  width: 10%;
  height: 1rem;
  margin: 1rem auto;
  background: black;
}
.container .right-content header span {
  display: block;
  text-align: center;
}
.container .right-content .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1250px) {
  .container .right-content .profile {
    margin: 25px auto;
  }
}
.container .right-content .profile h2 {
  font-family: 'Lora', serif;
  display: block;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: 2rem;
  width: 40%;
  height: 2.5rem;
}
@media (min-width: 1250px) {
  .container .right-content .profile h2 {
    margin: 32px auto;
  }
}
.container .right-content .profile section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.container .right-content .profile section p {
  font-family: 'Merriweather', serif;
  text-indent: 2rem;
  line-height: 1.4;
}
.container .right-content .profile section p:last-child {
  margin: 10px 0;
}
.container .right-content .experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 1250px) {
  .container .right-content .experience {
    margin: 25px auto;
  }
}
.container .right-content .experience .experience-label {
  font-family: 'Lora', serif;
  display: block;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: 2rem;
  width: 42%;
  height: 2.5rem;
}
@media (min-width: 1250px) {
  .container .right-content .experience .experience-label {
    margin: 32px auto;
  }
}
.container .right-content .experience .experience-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.container .right-content .experience .experience-card h5 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}
.container .right-content .experience .experience-card h6 {
  font-weight: bold;
  margin-bottom: 5px;
}
.container .right-content .experience .experience-card p {
  text-align: center;
}
.personal-picture {
  max-width: 100%;
  height: auto;
  padding: 0 5%;
  margin: 20px 0;
  border-radius: 100%;
}
@media (max-width: 500px) {
  .personal-picture {
    margin: 26px 0;
  }
}
