/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
.container {
  font-size: 1.8rem;
  max-width: 1000px;
  margin: 0 auto;
}
.container nav {
  margin-top: 26px;
  margin-left: auto;
  width: 100%;
  padding: 20px;
}
@media (min-width: 800px) {
  .container nav {
    width: 37%;
    padding: 0;
  }
}
.container nav ul {
  display: flex;
  justify-content: space-between;
}
.container nav a {
  text-decoration: none;
  color: #000;
}
.container .intro-main {
  background-color: #e9ecef;
  padding: 30px;
  margin-top: 30px;
  border-radius: 5px;
}
.container .intro-main img {
  max-width: 100%;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 500px) {
  .container .intro-main img {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}
.container .intro-main h1 {
  font-size: 4rem;
  margin-top: 10px;
}
@media (min-width: 500px) {
  .container .intro-main h1 {
    font-size: 5rem;
  }
}
.container .intro-main h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2rem;
}
.container .intro-main p {
  margin-top: 25px;
}
.container .intro-main .btn {
  background-color: #808080;
  margin-top: 20px;
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.container .intro-detailed {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
@media (min-width: 500px) {
  .container .intro-detailed {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 800px) {
  .container .intro-detailed {
    padding: 0;
  }
}
.container .intro-detail-item {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .container .intro-detail-item {
    width: 48.5%;
    margin-bottom: 0;
  }
}
.container .intro-detail-item h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.container .intro-detail-item h3,
.container .work h2 {
  font-size: 2.8rem;
  margin-bottom: 5px;
}
.container .intro-detail-item li {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: -1px;
}
.container .work {
  display: none;
}
@media (min-width: 500px) {
  .container .work {
    display: block;
    margin-bottom: 30px;
  }
}
.container table,
.container th,
.container td {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-collapse: collapse;
}
.container tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.container th,
.container td {
  padding: 12px;
  text-align: left;
}
.container th {
  font-weight: bold;
}
.container footer {
  color: #fff;
  font-weight: bold;
  background-color: #808080;
  text-align: center;
  padding: 20px 0 40px;
}
