/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html,
body {
  font-family: "Lato", sans-serif;
  background: #83a4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b6fbff, #83a4d4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b6fbff, #83a4d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 46%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
header {
  max-width: 100%;
}
header .navDiv {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 2.8%;
}
header .navDiv nav {
  margin-top: 3%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  header .navDiv nav {
    width: 100%;
    justify-content: space-around;
  }
}
header .navDiv nav a {
  text-decoration: none;
  color: white;
}
header .banner {
  background-image: url("https://images.unsplash.com/photo-1507181280972-47966b705fd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 150%;
  padding-bottom: 10%;
  color: #0d0d0d;
  border-radius: 0.5%;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  header .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 300%;
  }
}
header .banner img {
  width: 80%;
  margin: 6% 0 0.5% 4%;
  border-radius: 5px;
}
header .banner .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .banner .titles h1 {
  font-size: 2.5rem;
  padding-left: 4%;
  margin-bottom: 1.8%;
}
header .banner .titles h2 {
  font-size: 1.2rem;
  padding-left: 4%;
  margin-bottom: 6.4%;
}
header .banner .titles p {
  font-size: 1.1rem;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 5%;
  line-height: 1.5;
}
header .banner .titles button {
  font-size: 1.3rem;
  padding: 1% 1%;
  margin-left: 4%;
  width: 50%;
  border: none;
  border-radius: 5px;
  background: black;
  color: white;
}
.midsection {
  margin-top: 4%;
  margin-bottom: 3%;
}
.midsection .midsectionDiv {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .midsection .midsectionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.midsection .midsectionDiv .intro {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 900px) {
  .midsection .midsectionDiv .intro {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .midsection .midsectionDiv .intro {
    padding-left: 4%;
    padding-right: 4%;
  }
}
.midsection .midsectionDiv .intro h2 {
  font-size: 2.2rem;
}
.midsection .midsectionDiv .intro p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 3% 1% 3% 0;
}
.midsection .midsectionDiv .stuff {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3%;
}
@media (max-width: 900px) {
  .midsection .midsectionDiv .stuff {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .midsection .midsectionDiv .stuff {
    margin-top: 8%;
    padding-left: 4%;
    padding-right: 8%;
    margin-bottom: 8%;
  }
}
.midsection .midsectionDiv .stuff h3 {
  font-size: 1.6rem;
  margin-bottom: 3%;
}
.midsection .midsectionDiv .stuff .skills {
  border: 2px solid white;
  border-radius: 5px;
}
.midsection .midsectionDiv .stuff .skills p {
  font-size: 1.1rem;
  padding: 3.5% 4%;
  border-top: 2px solid white;
}
.midsection .midsectionDiv .stuff .skills .topP {
  border-top: none;
}
.workHistory {
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .workHistory {
    margin-bottom: 8%;
  }
}
.workHistory h3 {
  font-size: 1.7rem;
  margin-bottom: 2%;
}
.workHistory table {
  width: 100%;
  vertical-align: top;
  border-top: 3px solid white;
}
.workHistory table tr {
  width: 100%;
  border-bottom: 3px solid white;
}
.workHistory table tr td {
  padding: 1.5%;
}
.workHistory table .oddRow {
  background: white;
}
footer {
  width: 47.5%;
  margin: 0 auto;
  font-size: 0.9rem;
  padding: 1%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  footer {
    width: 80%;
  }
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
}
