/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background: white;
  font-size: 100%;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  background: black;
}
header {
  display: grid;
  min-width: 100%;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  padding-bottom: 1%;
}
header a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0%;
  }
}
img {
  max-width: 100%;
  min-width: 100%;
}
.par {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#r1c1 {
  background: black;
  color: white;
}
@media (max-width: 500px) {
  #r1c1 {
    grid-column: -1;
    grid-row: 0.5;
    justify-self: center;
  }
}
#r1c2 {
  background: black;
  color: white;
  display: grid;
}
@media (max-width: 500px) {
  #r1c2 {
    grid-column: -1;
    grid-row: 0.66666667;
    background: white;
    color: black;
  }
}
#r1c2 h2 {
  justify-self: center;
  font-size: 3rem;
  padding-top: 5%;
}
@media (max-width: 700px) {
  #r1c2 h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  #r1c2 h2 {
    font-size: 2rem;
  }
}
#r1c2 .p {
  justify-self: center;
}
#r1c2 .p h3 {
  font-size: 1.5rem;
  margin-left: 30%;
  margin-bottom: 8%;
  text-decoration: underline;
}
@media (max-width: 700px) {
  #r1c2 .p h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  #r1c2 .p h3 {
    font-size: 1.5rem;
  }
}
#r1c2 .p p {
  padding: 8%;
  line-height: 1.8rem;
}
#r1c2 .p p .indent {
  padding-left: 10%;
}
#r2c1 {
  font-size: 5rem;
  background: black;
  color: white;
  display: grid;
}
@media (max-width: 700px) {
  #r2c1 {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  #r2c1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  #r2c1 {
    grid-column: -1;
    grid-row: 0.75;
    background: black;
    color: white;
  }
}
#r2c1 h4 {
  justify-self: center;
  align-self: center;
}
#r2c2 {
  background: white;
  color: black;
  display: grid;
  grid-gap: 3%;
}
@media (max-width: 500px) {
  #r2c2 {
    grid-column: -1;
    grid-row: 0.8;
    background: white;
    color: black;
  }
}
#r2c2 .hey {
  display: grid;
  justify-self: center;
  align-self: center;
}
#r2c2 .hey .year {
  max-width: 25%;
  color: #B7B7B7;
  font-weight: 600;
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  #r2c2 .hey .year {
    max-width: 25%;
    color: #B7B7B7;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  #r2c2 .hey .year {
    max-width: 25%;
    color: #B7B7B7;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 10%;
  }
}
#r2c2 .hey .duties {
  margin-bottom: 4%;
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  #r2c2 .hey .duties {
    margin-bottom: 4%;
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  #r2c2 .hey .duties {
    margin-bottom: 4%;
    font-size: 0.8rem;
  }
}
#r2c2 .hey .title {
  margin-bottom: 1.5%;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (max-width: 700px) {
  #r2c2 .hey .title {
    margin-bottom: 1.5%;
    font-weight: 700;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  #r2c2 .hey .title {
    margin-bottom: 1.5%;
    font-weight: 700;
    font-size: 1rem;
  }
}
#r3c1 {
  color: black;
  background: white;
  display: grid;
}
@media (max-width: 500px) {
  #r3c1 {
    grid-column: -1;
    grid-row: 0.83333333;
    padding-top: 45%;
    padding-bottom: 45%;
    background: black;
    color: white;
  }
}
#r3c1 h4 {
  justify-self: center;
  align-self: center;
  font-size: 5rem;
}
@media (max-width: 700px) {
  #r3c1 h4 {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  #r3c1 h4 {
    font-size: 3rem;
  }
}
#r3c2 {
  background: black;
  color: white;
  font-size: 2rem;
  display: grid;
}
@media (max-width: 500px) {
  #r3c2 {
    grid-column: -1;
    grid-row: 0.85714286;
    font-weight: 700;
    padding-top: 15%;
    padding-bottom: 15%;
    background: white;
    color: black;
  }
}
@media (max-width: 700px) {
  #r3c2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  #r3c2 {
    font-size: 1.3rem;
  }
}
#r3c2 ul {
  justify-self: center;
  align-self: center;
  list-style-type: square;
  list-style-position: inside;
  list-style-image: none;
}
#r3c2 ul li {
  margin-top: 4%;
}
@media (max-width: 500px) {
  #r3c2 ul li {
    margin-left: 15%;
  }
}
#r4c1 {
  display: grid;
  background: black;
  color: white;
  font-size: 5rem;
}
@media (max-width: 500px) {
  #r4c1 {
    grid-column: -1;
    grid-row: 0.875;
    padding-top: 45%;
    padding-bottom: 45%;
    background: black;
    color: white;
  }
}
@media (max-width: 700px) {
  #r4c1 {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  #r4c1 {
    font-size: 3rem;
  }
}
#r4c1 h4 {
  justify-self: center;
  align-self: center;
}
#r4c2 {
  display: grid;
  font-weight: 700;
  font-size: 1.5rem;
  background: white;
  color: black;
}
@media (max-width: 500px) {
  #r4c2 {
    grid-column: -1;
    grid-row: 0.88888889;
    font-weight: 700;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 1.2rem;
    background: white;
    color: black;
  }
}
#r4c2 .tt {
  justify-self: center;
  align-self: center;
  line-height: 2rem;
}
#r4c2 .tt h3 {
  text-decoration: underline;
  margin-bottom: 0%;
  margin-top: 15%;
}
/********************************************************************************/
a {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
a span {
  font-weight: 100;
  transition: all 0.5s;
  font-size: 2rem;
}
@media (max-width: 700px) {
  a span {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  a span {
    font-size: 1.1rem;
  }
}
@media (max-width: 350px) {
  a span {
    font-size: 0.9rem;
  }
}
a span:nth-child(2) {
  transition-delay: 0.1s;
}
a span:nth-child(3) {
  transition-delay: 0.2s;
}
a span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span {
  font-weight: 700;
}
a:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
a:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
a:hover span:nth-child(1) {
  transition-delay: 0s;
}
a.hover-shadow:hover {
  color: black;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;
}
a.hover-color:hover {
  color: white;
  border-color: darkmagenta;
}
