/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 1300px;
  margin: auto;
  background: pink;
}
.container header {
  width: 100%;
  display: flex;
}
.container header nav ul {
  margin-top: 40px;
  width: 610px;
  justify-content: space-around;
  display: flex;
}
.container header nav ul li a {
  text-decoration: none;
  color: limegreen;
  font-size: 25px;
}
@media (max-width: 2000px) {
  .container header nav ul li a {
    color: purple;
  }
}
@media (max-width: 1536px) {
  .container header nav ul li a {
    color: lightblue;
  }
}
@media (max-width: 800px) {
  .container header nav ul li a {
    color: red;
  }
}
.container header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
.container header .logo {
  align-self: flex-end;
  margin: 28px 0px 0 91px;
}
.container .cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.container .cta .cta-text {
  font-size: 102px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
.container .cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: limegreen;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 2000px) {
  .container .cta .cta-text button {
    background: purple;
  }
}
@media (max-width: 1536px) {
  .container .cta .cta-text button {
    background: lightblue;
  }
}
@media (max-width: 800px) {
  .container .cta .cta-text button {
    background: red;
  }
}
.container .cta .cta-text button:hover {
  background: purple;
  color: white;
}
.container .main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.container .main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.container .main-content .middle-img {
  display: block;
  margin: 30px auto;
}
.container .main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.container .main-content .bottom-content p {
  padding-right: 20px;
}
.container .contact p {
  margin: 15px 0;
}
.container footer {
  text-align: center;
  margin: 40px 0 20px;
}
