html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 4rem;
  font-family: 'Roboto Slab', serif;
}
h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
h3 {
  font-size: 1.7rem;
  font-weight: 650;
  margin-top: 0.2em;
}
p {
  font-size: 1.7rem;
}
.container {
  background-color: lightblue;
  max-width: 900px;
  margin: 2rem auto;
  border: 2rem solid gold;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.container .row {
  width: 100%;
  margin: 2rem 0;
}
.container .row .left-half {
  min-width: 50%;
  padding-right: 5%;
  border-right: 2px dotted black;
  text-align: right;
}
@media (max-width: 500px) {
  .container .row .left-half {
    min-width: none;
    border-right: none;
    text-align: center;
  }
}
.container .row .right-half {
  min-width: 50%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .container .row .right-half {
    min-width: none;
  }
}
.container span {
  font-size: 3rem;
  margin: 0.2rem 0;
  text-align: center;
}
.container .title-header {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .title-header h1 {
  width: 40%;
}
.container .title-header .h1-left {
  text-align: right;
}
.container .title-header .fa-award {
  text-align: center;
  font-size: 8rem;
  width: 20%;
}
@media (max-width: 500px) {
  .container .title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container .intro-contact,
.container .education-experience,
.container .skills-interests {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .container .intro-contact,
  .container .education-experience,
  .container .skills-interests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
.container .intro-contact .contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .intro-contact .contact img {
  margin-right: 1.8rem;
  border-radius: 100%;
  max-width: 10rem;
  height: auto;
}
.container .intro-contact .contact div nav a {
  margin: 0 0.2rem;
}
.container .intro-contact .contact div nav .fab {
  color: gold;
}
@media (max-width: 500px) {
  .container .intro-contact .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
