/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  display: flex;
  justify-content: center;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 900px;
  min-height: 1400px;
}
header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
  width: 40%;
  padding: 30px 0px;
}
header nav a {
  text-decoration: none;
  color: black;
}
@media (max-width: 550px) {
  header nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
.aboutbox {
  padding: 5% 5%;
  margin: 0%;
  background: #dde5e7;
  border-radius: 3px;
  height: 50%;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-flow: column;
}
@media (max-width: 550px) {
  .aboutbox {
    height: 65%;
  }
}
.aboutbox .imgcontainer {
  display: flex;
  width: 50%;
  border: 1px solid black;
}
.aboutbox .imgcontainer img {
  width: 100%;
  height: 100%;
}
.aboutbox .uppercontainer {
  display: flex;
  flex-flow: column;
  border-bottom: 1px dotted #929191;
  height: 20%;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media (max-width: 550px) {
  .aboutbox .uppercontainer {
    height: 35%;
    justify-content: space-evenly;
  }
}
.aboutbox .uppercontainer h1 {
  font-size: 3rem;
  margin: 1% 0;
}
.aboutbox .uppercontainer h4 {
  font-size: 1.2rem;
}
.aboutbox .lowercontainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  height: 25%;
}
@media (max-width: 550px) {
  .aboutbox .lowercontainer {
    padding-top: 10%;
  }
}
.aboutbox .lowercontainer p {
  margin-bottom: 3%;
  line-height: 1.5;
}
@media (max-width: 550px) {
  .aboutbox .lowercontainer .buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
}
.aboutbox .lowercontainer .buttonbox .button {
  display: flex;
  align-items: center;
  background: grey;
  color: white;
  width: 9.5rem;
  height: 2.4rem;
  justify-content: center;
  border-radius: 3px;
}
.aboutbox .lowercontainer .buttonbox .button h4 {
  font-size: 1.2rem;
}
.infobox {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 35%;
  width: 100%;
  padding: 3% 0;
}
@media (max-width: 550px) {
  .infobox {
    height: 70%;
    flex-flow: column;
    align-items: center;
  }
}
.infobox .textbox {
  height: 100%;
  width: 47%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
@media (max-width: 550px) {
  .infobox .textbox {
    width: 100%;
    align-items: center;
  }
}
.infobox .textbox h2 {
  font-size: 1.7rem;
}
.infobox .textbox p {
  line-height: 1.4;
}
.infobox .listbox {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 50%;
  padding: 2% 0;
}
.infobox .listbox h2 {
  font-size: 1.4rem;
  margin-bottom: 2%;
}
.infobox .listbox table {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.infobox .listbox table th {
  width: 30rem;
  text-align: left;
  font-size: 0.9rem;
  border-bottom: 1px lightgrey solid;
  padding: 4.3% 4%;
}
.infobox .listbox table .last {
  border-bottom: none;
}
.workbox {
  display: flex;
  height: 15%;
  width: 100%;
  padding: 0% 0%;
  flex-flow: column;
}
.workbox h2 {
  font-size: 1.4rem;
  margin-bottom: 1%;
}
.workbox table {
  padding-bottom: ;
}
.workbox table tr {
  border-top: 1px solid lightgrey;
}
.workbox table th {
  padding: 1.4% 1%;
  text-align: left;
}
.workbox table .blue {
  background: #dde5e7;
}
.workbox table .bold {
  font-weight: bold;
}
footer {
  margin-top: 4%;
  height: 6%;
  width: 105%;
  background: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
