@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.container {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  max-width: 800px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.container .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.container .main-nav a {
  text-decoration: none;
  color: black;
}
.container .main-nav a:hover {
  color: gray;
}
@media (max-width: 500px) {
  .container .main-nav a {
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .container .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.container h3 {
  font-weight: 600;
  font-size: 2rem;
}
.container ul {
  list-style-type: disc;
  margin: 10px 0 20px 0;
  width: 100%;
}
.container ul li {
  margin-top: 5px;
  margin-left: 10%;
}
.container ol {
  list-style-type: upper-roman;
  margin: 10px 0 20px 0;
  width: 100%;
}
.container ol li {
  margin-top: 5px;
  margin-left: 10%;
}
.container header {
  width: 100%;
  background: lightgray;
}
.container header h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 10px 0 20px 0;
  width: 100%;
  text-align: center;
}
.container header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
.container header div img {
  width: 50%;
  margin: 10px 0 20px 0;
  border: 1px solid black;
}
.container section.main-content {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
.container section.main-content .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-right: 2px solid black;
}
@media (max-width: 500px) {
  .container section.main-content .left {
    border-right: 0px;
    border-bottom: 1px solid black;
    width: 100%;
  }
}
.container section.main-content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container section.main-content .right {
    padding-top: 20px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container section.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.container footer p {
  padding-top: 20px;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
