/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Mixins */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Raleway", Arial, sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  font-size: 1.6rem;
  max-width: 1000px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: right;
  max-width: 90%;
  margin: 40px 5% 40px 5%;
}
header nav {
  font-size: 2rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}
.view {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile {
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 5% 0 5%;
  background-color: #f2f2f2;
}
.profile h1 {
  text-align: center;
}
.profile img {
  margin: 50px 0 50px 0;
  width: 35%;
}
.profile .tagline {
  text-align: center;
  margin: 10px 0 10px 0;
}
.projects {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 40px 5% 40px 5%;
  padding: 10px 0 10px 0;
}
.projects h2 {
  padding: 0 0 10px 0;
  border-bottom: 1px solid darkslategray;
}
.projects h3 {
  margin: 10px 0 10px 0;
}
.combine {
  max-width: 90%;
  margin: 40px 5% 40px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.combine .intro {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.combine .intro h2 {
  width: 80%;
  text-align: center;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  margin: 0 0 20px 0;
}
.combine .intro h3 {
  margin: 0 0 10px 0;
}
.combine .skills {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.combine .skills h2 {
  width: 80%;
  text-align: center;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  margin: 0 0 20px 0;
}
.combine .skills ul li {
  margin: 0 0 0 4%;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 3rem;
}
.education {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 40px 5% 40px 5%;
  padding: 10px 0 10px 0;
}
.education h2 {
  padding: 0 0 10px 0;
  border-bottom: 1px solid darkslategray;
}
.education img {
  width: 5%;
}
.work-history {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 40px 5% 40px 5%;
  padding: 10px 0 10px 0;
}
.work-history h2 {
  padding: 0 0 10px 0;
  border-bottom: 1px solid darkslategray;
}
.work-history img {
  width: 10%;
}
.work-history li {
  margin: 0 0 0 4%;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 3rem;
}
.contact {
  text-align: center;
  margin: 50px 0 50px 0;
}
@keyframes greenflash {
  to {
    background-color: #c8e6c9;
  }
}
.green {
  animation: greenflash 0.5s 2 alternate ease-out;
}
