/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote,
pre {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 25px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h6 {
  font-size: 1.5rem;
}
body {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  background: black;
  color: ghostwhite;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .header h1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.header nav a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 600px) {
  .header nav {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .header nav a {
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid ghostwhite;
    text-align: center;
  }
}
.one {
  width: 60%;
  margin: 0 auto;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 1px solid gray;
  background: ghostwhite;
}
.one .headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
  border: 10px solid black;
  background: black;
}
.one h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
}
.one .tagline {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 1.3rem;
  font-weight: 600;
}
.one .paragraphone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.one .buttonMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  background: black;
  color: ghostwhite;
  border: 1px solid darkslategray;
  border-radius: 10px;
  height: 40px;
  width: 140px;
}
.two {
  background: darkslategray;
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.two .twoxBox {
  width: 35%;
  border-left: 2px solid darkslategray;
  border-right: 2px solid darkslategray;
  border-top: 2px solid darkslategray;
  background: ghostwhite;
}
.two .twoxBox h3 {
  background: gray;
  color: ghostwhite;
  padding: 3%;
}
.two .twoxBox ul li {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  border-bottom: 2px solid darkslategray;
}
.two .nobottom {
  border-bottom: 2px solid darkslategray;
}
