/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  height: 100%;
}
p {
  font-family: "Nato Sans", sans-serif;
}
.fullPage {
  font-size: 1.4rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  font-size: 1.4rem;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background: #3e88c4;
}
.nav {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  width: 60%;
  padding: 2rem 0;
}
@media (max-width:500px) {
  .nav__list {
    flex-wrap: wrap;
    width: 100%;
  }
}
.nav__item {
  text-align: right;
  flex: 1 1 auto;
}
.nav__item a {
  text-decoration: none;
  color: black;
}
@media (max-width:500px) {
  .nav__item {
    text-align: center;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #b3b8c5;
  }
  .nav__item:first-of-type {
    border: none;
  }
}
.bio {
  background: #dde3ee;
  padding: 4rem 3rem 7rem;
}
.bio__name h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
.bio__name h4 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0 2rem;
}
.bio__call-to {
  border-top: 1px solid #b3b8c5;
}
.bio__oneliner {
  padding: 2rem 0;
}
.bio__pic {
  width: 50vmin;
}
.about {
  display: flex;
  padding: 2rem 0 2rem;
}
@media (max-width:500px) {
  .about {
    flex-wrap: wrap;
  }
}
.about h2 {
  font-size: 3rem;
  padding: 0 0 1rem;
}
.about h3 {
  font-size: 2rem;
  padding: 1rem 0;
}
.about__description {
  width: 50%;
}
@media (max-width:500px) {
  .about__description {
    width: 100%;
    padding: 2rem 0;
  }
}
.about__paragraph {
  font-size: 1.4rem;
  line-height: 1.7;
  padding-right: 1rem;
}
.skills {
  width: 50%;
}
.skills h3 {
  padding: 1rem 0 2rem;
}
@media (max-width:500px) {
  .skills {
    width: 100%;
    padding: 2rem 0;
  }
}
.skills__list {
  width: 100%;
  border-radius: 4px;
  border-left: 1px solid #b3b8c5;
  border-right: 1px solid #b3b8c5;
  border-bottom: 1px solid #b3b8c5;
}
.skills__item {
  padding: 1rem;
  border-top: 1px solid #b3b8c5;
}
.skills__item:first-of-type {
  border-radius: 4px;
}
.work {
  margin: 1rem 0 2rem;
}
.work h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.work__table {
  text-align: left;
  width: 100%;
}
.work__row {
  border-top: 1px solid #b3b8c5;
}
.work__row:nth-of-type(even) {
  background: #dde3ee;
}
.work__row:last-of-type {
  border-bottom: 1px solid #b3b8c5;
}
.work__header {
  border-top: 1px solid #b3b8c5;
  font-weight: bold;
}
.work__description {
  padding: 1rem;
  width: auto;
}
.contact {
  font-size: 1.5rem;
  background: #dde3ee;
  margin: 4rem 0;
  padding: 1rem;
}
.contact h3 {
  font-size: 2rem;
  padding: 1rem 0 2rem;
}
.contact__title {
  border-bottom: 1px solid #b3b8c5;
  margin-bottom: 2rem;
}
.contact__input,
.contact__text {
  resize: none;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}
.contact__input .contact__button {
  margin: 1rem 0;
}
.footer {
  text-align: center;
  background: #3e88c4;
  padding: 3rem;
  color: white;
}
