/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Tangerin', 'Ubuntu', Georgia, serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.6rem;
  border: 2px solid blue;
}
header {
  border: 1px solid red;
}
@media (max-width: 500px) {
  header {
    background: hotpink;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  border: 2px solid greenyellow;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header a {
  margin-right: 5%;
  text-decoration: none;
}
header a:hover {
  color: red;
  background: #C9FFE5;
}
