/*Eric Meyer reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*---end of reset---*/
html {
  font-size: 62.5%;
  font-family: 'Courier New', courier;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 880px;
  margin: 0 auto;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 0;
}
p {
  line-height: 1.25;
}
ul {
  list-style: square;
  line-height: 1.25;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  margin-top: 2%;
  background-color: #513D44;
  padding: 2% 0;
}
.top-nav {
  width: 100%;
  margin: 20px 0;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.top-nav h1 {
  font-size: 3rem;
  font-family: 'Permanent Marker', impact;
  color: red;
}
.top-nav nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.top-nav nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
.top-nav nav a:hover {
  text-decoration: underline;
  font-style: italic;
}
@media (max-width: 700px) {
  .top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .top-nav nav {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
  }
}
@media (max-width: 500px) {
  .top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% 0;
  }
  .top-nav h1 {
    padding: 2% 0;
  }
  .top-nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .top-nav nav a {
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
  }
  .top-nav nav a:last-child {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
}
.resume-main h2 {
  margin-top: 4%;
}
@media (max-width: 500px) {
  .resume-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.resume-top {
  width: 100%;
}
.resume-middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.resume-middle section {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 500px) {
  .resume-middle section {
    width: 100%;
  }
}
.resume-middle ul {
  margin-left: 3%;
}
@media (max-width: 500px) {
  .resume-middle {
    flex-direction: column;
  }
}
.resume-bottom address a {
  color: red;
}
