/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
#bodystyle {
  display: flex;
  justify-content: space-evenly;
}
#bodystyle2 {
  display: flex;
  justify-items: center;
}
html,
body {
  height: 100%;
  background-color: #1e1d1d;
  color: #f5f5f5;
  font-family: 'Titillium Web', sans-serif;
}
.header {
  width: 100%;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
  }
}
.header .nav {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  padding-bottom: 3%;
}
@media (max-width: 500px) {
  .header .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header .nav #links {
  text-decoration: none;
  color: #f5f5f5;
}
.header .nav #links:hover {
  animation-name: fill;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes fill {
  from {
    background-color: #1e1d1d;
  }
  to {
    background-color: #48bd25;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  align-items: center;
}
@media (max-width: 500px) {
  .intro {
    width: 95%;
    text-align: center;
  }
}
.intro .profile {
  align-self: center;
  width: 20%;
}
.intro h1 {
  font-size: 3.5rem;
  padding: 2%;
}
.intro p {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .intro {
    width: 95%;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 95%;
  padding: 2%;
  padding-top: 0.5%;
  margin: 0 auto;
}
.content .content-header {
  margin: 2%;
}
.content .content-header .meet {
  text-align: center;
  font-size: 1.5rem;
  margin: 3%;
}
.content .content-header p {
  font-size: 1rem;
}
.content .content-box {
  width: 45%;
  border: 3px solid #0da80d;
  padding: 1%;
  padding-bottom: 20px;
  margin: 2%;
}
.content .content-box ul {
  padding: 2.5%;
}
@media (max-width: 500px) {
  .content .content-box ul {
    width: 100%;
    margin: 2%;
    padding-left: 5%;
  }
}
.content .content-box ul li:before {
  content: '\1F47D';
  padding: 2.5%;
}
.content .middle {
  width: 100%;
  height: 250px;
  margin-bottom: 2%;
  align-self: center;
}
@media (max-width: 500px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
.contacts {
  padding: 1%;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
}
.contacts h3 {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  text-align: center;
}
.contacts address {
  text-align: center;
}
@media (max-width: 500px) {
  .contacts {
    width: 95%;
  }
}
#copy {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 2.5rem;
  align-items: center;
}
#copy .copy_gir {
  width: 20%;
  height: 20%;
  padding-bottom: 2%;
}
#copy .copy-text {
  text-justify: distribute;
}
@media (max-width: 500px) {
  #copy {
    width: 100%;
  }
}
