@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
* {
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #2c2f33;
}
a:hover {
  text-decoration: none;
  color: #2c2f33;
}
.container1 {
  max-width: 880px;
  margin: 0 auto;
}
body {
  font-family: "Lato", sans-serif;
  color: #535c68;
}
body .section-header {
  text-align: center;
  padding: 20px 20px;
  margin: 10px 0;
  background-color: #f5f6fa;
  box-shadow: 1px 1px 3px #ccc;
}
body .heading {
  background-color: white;
  border-bottom: 1px solid #dcdde1;
}
body .heading nav {
  background: #36C5F0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
body .heading nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}
body .heading .hero {
  display: flex;
  border-right: 1px solid #dcdde1;
}
body .heading .hero .img-div {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
body .heading .hero .img-div img {
  border-radius: 50%;
  height: 200px;
  width: 190px;
}
body .heading .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
body .heading .name h1 {
  font-weight: 700;
  font-size: 4.5rem;
  padding-left: 10px;
  margin: 5px;
  color: #36C5F0;
}
body .heading .name p {
  margin-bottom: 0;
  font-weight: 300;
  padding-left: 1em;
  width: 70%;
}
body .heading .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 16px;
}
body .heading .contact .icon {
  font-size: 18px;
  margin-right: 10px;
  color: #36C5F0;
}
body .heading .contact p {
  margin-bottom: 0;
  color: #535c68;
}
body .main-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
}
body .main-body .experience {
  border-right: 1px solid #dcdde1;
}
body .main-body .experience h3 {
  font-weight: 700;
  color: #36C5F0;
  margin-bottom: 0;
  padding: 15px 0;
}
body .main-body .experience .work-experience .disclaimer {
  color: #666;
}
body .main-body .experience .work-experience .disclaimer .disclaimer-link {
  color: #36C5F0;
  font-weight: 700;
  text-decoration: underline;
}
body .main-body .experience .work-experience .job {
  margin: 25px;
}
body .main-body .experience .work-experience .job ul {
  list-style-type: disc;
  color: #36C5F0;
}
body .main-body .experience .work-experience .job ul li {
  font-weight: 300;
  color: #535c68;
  margin-bottom: 10px;
}
body .main-body .experience .work-experience .job .job-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .main-body .experience .work-experience .job .job-row .job-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #36C5F0;
  margin-bottom: 0;
}
body .main-body .experience .work-experience .job .job-row .date {
  font-size: 14px;
  color: #535c68;
  margin-left: auto;
}
body .main-body .experience .work-experience .job .position {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}
body .main-body .experience .work-experience .job .position .location {
  font-style: normal;
}
body .main-body .side-bar h3 {
  font-weight: 700;
  color: #36C5F0;
  margin-bottom: 0;
  padding: 15px 0;
}
body .main-body .side-bar .school {
  margin-top: 25px;
  padding: 0 1em;
}
body .main-body .side-bar .school h5 {
  font-size: 1.25rem;
  font-weight: 700;
}
body .main-body .side-bar .school .date {
  font-size: 14px;
  margin-bottom: 0;
}
body .main-body .side-bar .school .description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
body .main-body .side-bar .school .description span {
  color: #36C5F0;
  font-weight: bold;
}
body .main-body .side-bar .skills {
  max-width: 100%;
  padding: 0 1em;
}
body .main-body .side-bar .skills .skills-heading {
  font-weight: 700;
  padding: 15px 0;
  margin-bottom: 0;
}
body .main-body .side-bar .skills .dev-list {
  margin-bottom: 0;
}
body .main-body .side-bar .skills .dev-list li {
  display: block;
  color: #2c2f33;
  font-weight: 300;
}
body .main-body .side-bar .skills .design-list {
  list-style-type: none;
  margin-bottom: 0;
}
body .main-body .side-bar .skills .design-list li {
  display: block;
  color: #2c2f33;
  font-weight: 300;
}
body .main-body .side-bar .skills .skills-list {
  list-style-type: none;
}
body .main-body .side-bar .skills .skills-list li {
  display: inline-block;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #ccc;
  margin: 3px 1.5px;
  border-radius: 5px;
  background-color: #ecf0f1;
  color: #36C5F0;
  font-weight: 400;
}
body .main-body .side-bar .interests {
  padding: 1em;
}
body .main-body .side-bar .interests p {
  margin-top: 10px;
  font-weight: 300;
}
