/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.body {
  width: 100%;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .body {
    background-color: #131313;
    color: #ececec;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    transition-duration: 1s;
  }
}
body,
p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  body,
  p {
    font-size: 1.2rem;
  }
}
p {
  margin: 10px 0;
}
h1 {
  font-size: 2.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
  }
}
h2 {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}
h3 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}
@media screen and (max-width: 500px) {
  h3 {
    font-size: 1.4rem;
  }
}
ul {
  margin: 0 40px;
}
li {
  list-style-type: square;
}
hr {
  border-top: 1px solid #00000033;
  margin: 20px 0;
}
.strike {
  text-decoration: line-through;
  color: #999999;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 20px;
  text-align: left;
}
th {
  font-weight: bold;
}
thead th:nth-child(1) {
  width: 10%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 25%;
}
thead th:nth-child(4) {
  width: 45%;
}
tbody tr:nth-child(odd) {
  background-color: #99999955;
}
.row {
  display: flex;
}
.col-6 {
  width: 50%;
}
.main {
  margin: 20px 20px 0 20px;
}
.main .top-nav {
  width: 100%;
  height: 40px;
}
.main .top-nav ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 56.66%;
  float: right;
  transition-duration: 1s;
}
@media screen and (max-width: 500px) {
  .main .top-nav ul {
    width: 100%;
    float: none;
  }
}
.main .top-nav li {
  list-style-type: none;
  font-size: 1.4rem;
  padding: 0 0 0 10px;
}
@media screen and (max-width: 500px) {
  .main .top-nav li {
    padding: 0 10px 0 10px;
  }
}
.main .top-nav li a {
  color: #131313;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .main .top-nav li a {
    color: #ececec;
  }
}
.main header {
  width: 100%;
  background-color: #99999955;
  padding: 20px;
  margin: 0 0 20px 0;
}
.main header img {
  margin: 20px 0;
  width: 33.33%;
  max-width: 400px;
}
.main .middle {
  margin: 0 0 20px 0;
}
.main .middle .row .col-6 p {
  padding: 0 10px 0 0;
}
.main .middle .row .col-6 .fake-table {
  border: 1px solid #99999955;
  margin: 0 0 -1px 0;
  padding: 10px;
}
.main .bottom thead tr th {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.main footer {
  text-align: center;
  background-color: #999999;
  color: #ececec;
  width: 100%;
  height: 120px;
  margin: 20px 0 0 0;
  padding: 20px;
}
@media screen and (max-width: 500px) {
  .main footer {
    background-color: #3e3e3e;
  }
}
.main footer img {
  width: 32px;
  margin: 10px;
}
