/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
header nav .links {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
header nav .links a {
  margin-left: 4%;
}
#sec1 {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10%;
  background-color: gainsboro;
}
#sec1 .intro-img {
  display: flex;
  justify-content: flex-start;
}
#sec1 .intro-img img {
  width: 40%;
  height: 400px;
  margin: 3% 3% 1% 4%;
  padding: 2%;
}
#sec1 .intro {
  display: flex;
  flex-direction: column;
}
#sec1 .intro h1 {
  font-size: 50px;
  justify-content: center;
  margin: 2% 2%;
}
#sec1 .intro h3 {
  font-size: 30px;
  margin: 2% 2% ;
  justify-content: center;
}
#sec1 .intro hr {
  width: 80%;
}
#sec1 .intro p {
  font-size: 20px;
  width: 50%;
  margin: 2%;
}
#sec1 .intro button {
  background-color: #34495e;
  padding: 2%;
  border-radius: 8px;
  width: 20%;
  margin: 2% 2% 5% 2%;
  font-size: 20px;
  color: whitesmoke;
}
#sec2 {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 10%;
  background-color: gainsboro;
}
#sec2 .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#sec2 .about {
  justify-content: flex-start;
  flex-direction: column;
}
#sec2 .about h2 {
  font-size: 30px;
  margin: 4%;
}
#sec2 .about p {
  font-size: 20px;
  width: 50%;
  margin: 4%;
}
#sec2 .skill-list {
  justify-content: center ;
  font-size: 20px;
  width: 50%;
  border: 1px solid black;
  margin: 4%;
  background-color: #34495e;
  color: whitesmoke;
}
#sec2 .skill-list ul li {
  border: 1px solid black;
  padding: 4%;
}
#sec3 {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10%;
  background-color: gainsboro;
  padding: 10%;
}
#sec3 .workhistory {
  width: 100%;
  flex-direction: column;
}
#sec3 .workhistory h3 {
  font-size: 30px;
}
#sec3 .workhistory table {
  width: 100%;
  border-collapse: collapse;
  background-color: #34495e;
  color: #f3f3f3;
}
#sec3 .workhistory table tr {
  border-bottom: 1px solid whitesmoke;
}
#sec3 .workhistory table td,
#sec3 .workhistory table th {
  padding: 8px;
  text-align: left;
}
#contact {
  display: flex;
  justify-content: flex-start;
  margin: 0 10% 10% 10%;
}
#contact h3 {
  font-size: 30px;
}
#contact address {
  font-size: 20px;
}
