/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #283044;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
.container {
  width: 900px;
  margin: 0 auto;
  background-color: #EBF5EE;
  padding: 0 20px;
}
.container header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container header nav {
  padding: 20px;
}
.container header nav a {
  text-decoration: none;
  padding: 30px;
  background-color: #283044;
  color: #E88D67;
}
.container header nav a:hover {
  color: #BFA89E;
}
.container .intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .intro .aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.container .intro .aboutme img {
  width: 100%;
  height: 300px;
}
.container .intro .aboutme h1 {
  font-weight: 700;
  font-size: 3rem;
}
.container .intro .skill-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  text-align: center;
}
.container .intro .skill-list .skill {
  border-left: 10px solid #78A1BB;
  border-right: 10px solid #78A1BB;
  padding: 22px;
  background-color: #283044;
  color: #EBF5EE;
  text-decoration: none;
}
.container .education {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container .education .school {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  height: 200px;
  background-color: #A54657;
  color: #EBF5EE;
  border-top: 10px solid #E88D67;
  text-align: center;
  margin: 20px 0;
}
.container .education .school i {
  font-size: 4rem;
}
.container .employment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container .employment .work .work-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .employment .work .work-info h5 {
  width: 33%;
}
.container .employment .work .work-description p {
  margin: 10px 0;
}
