/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), url(https://fonts.gstatic.com/s/notosanstc/v9/-nF7OG829Oofr2wohFbTp9i1OCEJ.otf) format('opentype');
}
.Intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .Intro-section {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .Intro-section .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0;
  }
}
@media (max-width: 500px) {
  .Intro-section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
a {
  color: #D4AC0D;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
body p {
  font-size: 1.5rem;
  display: flex;
  margin: 30px 90px;
  line-height: 1.3;
}
@media (max-width: 500px) {
  body p {
    font-size: 1.1rem;
    margin: 10px 30px;
    max-width: 100%;
  }
}
h1 {
  font-size: 3.5rem;
  color: #4A235A;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 2rem;
  color: #4A235A;
  margin: 0 60px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
    margin: 0 20px;
  }
}
h3 {
  font-size: 1rem;
}
hr {
  margin: 60px auto;
}
header {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  header {
    display: flex;
    margin: 10px auto;
  }
}
nav {
  font-size: 2rem;
  color: #D4AC0D;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 20px auto;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  nav a {
    display: flex;
    border-top: 1px solid gray;
    width: 100%;
    justify-content: center;
    margin: 5px auto;
  }
}
.PlaySay-section,
.Salesforce-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px auto;
}
.Lambda-section {
  margin: 20px auto;
}
.Lambda-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media (max-width: 500px) {
  .Lambda-section img {
    width: 75%;
  }
}
footer {
  display: flex;
  justify-content: center;
}
