/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 75%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(10, 107, 163, 0.856);
}
body .container nav {
  display: flex;
  justify-content: space-between;
  margin-left: 80%;
}
body .container nav a {
  padding: 15px;
  color: black;
}
body .container .top {
  background-color: grey;
  height: 50%;
  padding: 20%;
  width: 100%;
  margin-bottom: 5%;
}
body .container .top h1 {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5%;
  text-align: center;
}
body .container .top h5 {
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
body .container .top p {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
body .container .top button {
  margin-left: 40%;
  font-size: 1.3em;
}
body .container .mid {
  display: flex;
  flex-direction: row;
}
body .container .mid .mid-left {
  display: flex;
  flex-direction: column;
  width: 48%;
}
body .container .mid .mid-left h3 {
  margin-bottom: 5%;
}
body .container .mid .mid-left p {
  margin-top: 5%;
  margin-bottom: 5%;
}
body .container .mid .mid-right {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-left: 40%;
}
body .container .mid .mid-right h3 {
  margin-bottom: 5%;
}
body .container .mid .mid-right ul li {
  margin-bottom: 5%;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  list-style-type: circle;
  margin-top: 5%;
}
body .container .bottom {
  display: flex;
  flex-direction: row;
}
body .container .bottom .years {
  width: 25%;
  justify-content: space-between;
  align-content: space-between;
}
body .container .bottom .years h6 {
  margin-top: 5%;
}
body .container .bottom .company {
  width: 25%;
}
body .container .bottom .company h6 {
  margin-top: 5%;
}
body .container .bottom .title {
  width: 25%;
}
body .container .bottom .title h6 {
  margin-top: 5%;
}
body .container .bottom .techUsed {
  width: 25%;
}
body .container .bottom .techUsed h6 {
  margin-top: 5%;
}
body .container h2 {
  font-size: 1.8em;
  font-family: 'Raleway', sans-serif;
}
body .container h3 {
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
}
body .container h4 {
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
}
body .container h6 {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
body .container p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}
body .container footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
body .container footer ul {
  list-style-type: none;
  margin-top: 5%;
}
body .container footer li {
  padding: 1%;
}
