/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
}
.container nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
  }
}
.container nav a {
  margin: 1%;
  text-decoration: none;
  color: black;
}
.top-section {
  text-align: center;
  background: lightgrey;
  margin: 6%;
  padding: 4%;
}
.top-section h1 {
  font-size: 4rem;
  color: purple;
  display: flex;
  font-family: Century Gothic;
  align-items: center;
}
.top-section .second-heading {
  justify-content: flex-end;
}
.middle-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
  margin: 3%;
  line-height: 3rem;
}
@media (max-width: 500px) {
  .middle-content {
    background: lightgray;
  }
}
.middle-content .text-content {
  width: 44%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .middle-content .text-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.middle-content .text-content h2 {
  font-size: 3rem;
  color: purple;
  font-family: Century Gothic;
}
.middle-content .text-content p {
  margin-top: 5%;
}
@media (max-width: 500px) {
  .middle-content .text-content p {
    margin-bottom: 5%;
  }
}
.bottom-content {
  padding: 3%;
  margin: 3%;
}
@media (max-width: 500px) {
  .bottom-content {
    background: lightgray;
  }
}
.bottom-content .bottom-text h2 {
  font-size: 3rem;
  color: purple;
  font-family: Century Gothic;
  text-align: center;
  margin-bottom: 2%;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3%;
}
@media (max-width: 500px) {
  .contact {
    background: lightgray;
  }
}
.contact h2 {
  font-size: 3rem;
  color: purple;
  font-family: Century Gothic;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 8px;
  font-size: 1.7rem;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
