.center-element {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  max-width: 1024px;
  padding: 70px 90px;
  line-height: 1.2em;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  body {
    padding: 0;
  }
}
h1,
h3,
h4 {
  letter-spacing: 0.1em;
}
h1 {
  font-size: 4.2em;
  font-family: 'Charmonman', cursive;
}
h3 {
  font-size: 1.2em;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.02em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
ul li {
  padding: 4px 0;
}
ul li:before {
  content: "\000bb \0020";
}
header {
  display: flex;
}
header .header-img {
  width: 233px;
  height: 233px;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  header .header-img {
    display: none;
  }
}
header .header-img .profile {
  height: 100%;
  position: relative;
  left: -50px;
}
header .header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  line-height: normal;
  height: 233px;
  align-self: center;
  background-color: #21180508;
  margin-left: 21px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  header .header-name {
    font-size: 0.6rem;
    height: auto;
    padding: 20px 0;
  }
}
header .header-name h4 {
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
.container aside div,
.container section div {
  margin: 20px 0;
}
.container section {
  margin-left: 19px;
  line-height: 1.6em;
}
.container section .experiences .experience-content h4:first-child {
  margin-top: -10px;
}
.container aside {
  width: 577px;
  margin-top: 19px;
  padding: 20px;
  background-color: #21180508;
  font-size: 0.77em;
}
@media screen and (max-width: 500px) {
  .container aside {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
  }
  .container aside div {
    padding: 3px;
  }
}
.container aside p,
.container aside h4 {
  letter-spacing: 0.02em;
}
.container aside p span {
  font-style: italic;
}
.container aside p span i {
  padding-right: 5px;
}
@media screen and (max-width: 500px) {
  .container aside .contact {
    order: 2;
  }
}
.container aside .skills ul li:before {
  content: '';
}
.container aside .education h3 {
  margin-bottom: -20px;
}
