/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
header nav {
  display: flex;
  width: 300px;
  font-size: 1.6rem;
  justify-content: space-evenly;
}
header a {
  text-decoration: none;
  color: #313638;
}
header a:hover {
  color: #B90021;
}
.main-content {
  display: flex;
  justify-content: space-between;
  background-color: #E0DFD5;
  padding: 10px;
}
@media (max-width: 500px) {
  .main-content {
    flex-direction: column;
  }
}
.main-content .main-left {
  display: flex;
  flex-direction: column;
}
.main-content .main-left h1 {
  margin-bottom: 15px;
}
.main-content .main-left a {
  text-decoration: none;
  font-size: 1.5rem;
}
.main-content .main-left .button {
  padding: 10px 15px;
  border: 1px solid #313638;
  border-radius: 6px;
  width: 150px;
  color: #313638;
  text-align: center;
  background-color: #E8E9EB;
}
.main-content .main-left .button:hover {
  background-color: #B90021;
  color: #E8E9EB;
}
@media (max-width: 500px) {
  .main-content .main-right {
    order: -1;
  }
}
.main-content .main-right .headshot {
  width: 250px;
  margin-left: 15px;
}
@media (max-width: 500px) {
  .main-content .main-right .headshot {
    margin: 0 auto;
  }
}
.mid-content {
  display: flex;
  padding: 10px 5px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  .mid-content {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.mid-content .mid-left {
  width: 50%;
  padding-right: 10px;
}
@media (max-width: 500px) {
  .mid-content .mid-left {
    width: 100%;
  }
}
.mid-content .mid-right {
  width: 50%;
}
@media (max-width: 500px) {
  .mid-content .mid-right {
    width: 100%;
  }
}
.mid-content .mid-right ul {
  width: 100%;
  margin-top: 15px;
  font-size: 1.6rem;
}
.mid-content .mid-right ul li {
  padding: 10px;
  border: 1px solid #313638;
  margin-bottom: -1px;
}
.bottom-content h2 {
  padding-left: 5px;
}
.bottom-content .table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-content .table .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25px;
}
.bottom-content .table .row:first-child {
  font-weight: 500;
  border-bottom: 2px solid #313638;
}
.bottom-content .table .row:nth-child(even) {
  background-color: #E0DFD5;
}
.bottom-content .table .row p {
  width: 25%;
  padding-top: 10px;
}
footer {
  background-color: #F09D51;
  opacity: 0.8;
  color: #E8E9EB;
  padding: 30px 0;
  margin-top: 25px;
  text-align: center;
  font-size: 1.4rem;
}
.main-content-portfolio .flex-column .git {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content-portfolio .flex-column .git .project {
  width: 24%;
  border: 1px solid #313638;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}
@media (max-width: 500px) {
  .main-content-portfolio .flex-column .git .project {
    width: 100%;
  }
}
.main-content-portfolio .flex-column .git .project:hover {
  border-color: #B90021;
  background-color: #E8E9EB;
}
