body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3rem;
  font-family: 'Charmonman', cursive;
}
h3 {
  font-size: 1.8rem;
  font-family: 'Lora', serif;
}
h4 {
  font-size: 1.2em;
  font-family: 'Lora', serif;
}
header {
  display: flex;
}
header .header-img {
  width: 25%;
}
header .header-img .profile {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row-reverse;
}
