/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  display: flex;
  justify-content: center;
}
.pageContainer {
  width: 800px;
  border: 1px solid black;
}
.line {
  margin: 30px 0 20px 30px;
  width: 25%;
  border: 1px solid black;
}
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
.navContainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.navContainer nav a {
  color: navy;
  text-decoration: none;
}
.navContainer nav a:last-child {
  color: dodgerblue;
  margin-right: 30px;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: lightslategrey;
  border-radius: 10px;
  padding: 30px;
}
.hero .heroTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.hero .heroTop .mainDuck {
  width: 300px;
}
.hero .callToAction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero .callToAction button {
  margin: 30px 0 10px 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_1 .personalSummary {
  width: 60%;
}
.content_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content_1 .personalPropsList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}
.content_1 .item {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
}
.content_1 .item:hover {
  background-color: lightcoral;
}
.content_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}
.content_2 .project {
  background-color: lightblue;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin: 10px;
}
.legal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
