@mixin easeOut
    transition: all 0.3s ease-out

@mixin scaleIn
    animation: scale .3s ease-in-out forwards

@mixin colorChange
    animation: changeColor 2.5s ease-in infinite
    
@keyframes scale
    0%
        transform: scale(1)
    100%
        transform: scale(1.15)

@keyframes changeColor
    0%
        color: #fff
    100%
        color: $secondary