@mixin easeOut
    transition: all 0.3s ease-out

@mixin scaleIn
    animation: scale .3s ease-in-out forwards
    
@keyframes scale
    0%
        transform: scale(1)
    100%
        transform: scale(1.15)