//Using sass because, in the end, I want to use Suzy
//Typography  Variables
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed&display=swap');
$dark-color:#272727;
$highlight-color: #79b869;
$text-color: #fff;
$fill-color: #999999;
$font-stack-1: Roboto Condensed,
san-serif;
$font-stack-2: Raleway,
san-serif;
$font-weights: ( "regular": 400,
"medium": 600,
"thick": 900);
$sm: 1rem;
$md: 1.7rem;
$lg: 2.8rem;
// Mixins
@mixin global-borders ($border-top,
$border-bottom,
$border-l,
$border-r,
$rad,
) {
    border-top: $border-top;
    border-bottom: $border-bottom;
    border-left: $border-l;
    border-right: $border-r;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -ms-border-radius: $rad;
    border-radius: $rad;
}

@mixin global-spacing($height,
$width,
$bg,
$box-margins,
$box-padding) {
    height: $height;
    width: $width;
    background: $bg;
    margin: $box-margins;
    padding: $box-padding;
}

// Media Queries

/* Media Queries */

$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
// Spacing 
body {
    background: $dark-color;
    font-weight: map-get($font-weights, regular);
    font-family: $font-stack-2;
    color: $text-color;
}

//Responsive at desktop viewport
.container {
    width: 90%;
    margin: 0 auto;
    @media (min-width: $breakpoint-desktop) {
        #{&}__bio a {
            color: $highlight-color;
            font-weight: map-get($font-weights, thick);
            & p {
                background-color: lightcoral;
            }
        }
    }
}

header {
    display: flex;
    img {
        display: contents;
    }
    nav {
        display: flex;
        flex-direction: wrap;
        justify-content: space-around;
        a {
            li {
                @include global-spacing(100%,
                90%,
                $highlight-color,
                20px,
                2px);
            }
        }
        background-color: $dark-color;
        padding: $md $lg;
        width: 100%;
        text-align: center;
    }
    .me {
        max-width: 100%;
    }
    h1,
    h2 {
        display: inline-block;
        height: 100%;
    }
}

section {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    @include global-spacing(100%,
    90%,
    $highlight-color,
    20px,
    20px);
    .bio {
        flex-grow: 1;
        width: 33%;
        .bio-par:last-child {
            flex-grow: 2;
        }
        h2 {
            color: $dark-color;
        }
    }
}

// Fake table - Using divs courtesy of https://codepen.io/wsiqueira/pen/JheLK
.work-history {
    .table {
        display: table;
        table-layout: fixed;
        width: 100%;
        .row {
            display: table-row;
            .cell {
                display: table-cell;
                @include global-borders(1px solid #444,
                0px solid #444,
                0px solid #444,
                0px solid #444,
                0px);
                @include global-spacing($sm,
                $md,
                transparent,
                20rem,
                2rem);
            }
            div.cell:hover {
                background-color: $dark-color;
                color: $highlight-color;
            }
        }
    }
}