@import 'config'
@import 'animations'

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

/* Set every element's box-sizing to border-box

*
  box-sizing: border-box

html, body
  height: 100%

.container
    width: 75%
    height: 100%
    margin: 0 auto   

header
    ul
        margin-top: 1rem
        display: flex
        justify-content: flex-end
        a
            padding: 0 1rem

div
    section.intro
        margin-top: 1rem
        background: lighten($primary, 70)
        padding: 1rem
        display: flex
        text-align: center
        // justify-content: center
        .intro-img
          width: 50%
        .intro-bio
          padding: 0 10rem
          width: 50%
        img
            border-radius: 2rem 0 2rem 10px
            border: 3px solid $secondary
        h1 
            font-size: 3rem
        h2 
            font-style: italic
        p
            margin: 1rem 0
            span
                margin-top: 11rem
                &.btn-primary
                        @include easeOut
                        text-align: center
                        background: $info
                        border: 1px solid #000
                        box-shadow: #222 1px 2px 5px
                        border-radius: 12px
                        padding: .5rem
                        width: 100%
                        &:hover
                          color: $secondary
                          cursor: pointer
                          @include scaleIn

.landing
    // background: green
    background-image: url(../img/background.jpg)
    height: 100vh
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h1
        font-size: 4rem

    h2
      font-size: 3rem