@import 'reset'
@import 'config'
@import 'menu'
@import 'animations'

*
  box-sizing: border-box
  @include easeOut

html
  font-size: 62.5%

html, body
  height: 100%

h1,h2,h3,h4,h5,h6,p,li
  font-size: 1.6rem
  &.lg-heading
    font-size: 7rem
    color: $primary
    // @include textShadow
    margin: .5rem 0
  &.sm-heading
    font-size: 3rem
    font-style: italic
    color: $secondary
    // @include textShadow


.container
    width: 75%
    height: 100%
    margin: 0 auto   

div
    section.intro
        margin-top: 1rem
        // background: lighten($primary, 70)
        padding: 1rem
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center
        img
            border-radius: 2rem 0 2rem 10px
            border: 3px solid $secondary
        p
          font-size: 2rem
          margin: 1rem 0
          span
            margin-top: 1rem
            &.btn-primary
              @include easeOut
              text-align: center
              background: lighten($primary, 70)
              border: 1px solid
              box-shadow: #222 1px 2px 5px
              // border-radius: 12px
              padding: .5rem
              width: 100%
              &:hover
                color: $info
                cursor: pointer
                @include scaleIn

.landing
    // background: green
    background-image: url(../img/background.jpg)
    height: 100vh
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: set-text-color($primary)

.about-section
  height: 100vh
  .about
    p
      margin: 1rem 0
      font-size: 2rem
      text-align: center
      line-height: 1.5

  .skills
    h2
      font-size: 3rem
    .skills-img
      display: flex
      justify-content: center
      img
        padding: 4rem 1rem
        width: 15%
        max-width: 100%
        height: 100%
.work
  height: 100vh
  
  h2
    font-size: 3rem
    text-align: center
  h3.sm-heading
    margin: 1rem 0
    text-align: center
    font-size: 1.6rem 

  .projects
    display: flex
    text-align: center
    .sub-pro
      // flex: 1 1 auto
      margin: 1rem 
      .project-info
        text-align: center
    img
      max-width: 100%
      width: 85%
      opacity: .5