@import 'reset'
@import 'config'
@import 'menu'
@import 'animations'

*
  box-sizing: border-box
  @include easeOut

html
  font-size: 62.5%

body
  height: 100%
  background: $primary

h1,h2,h3,h4,h5,h6,p,li
  font-size: 1.6rem
  color: set-text-color($primary)
  &.lg-heading
    font-size: 7rem
    // @include textShadow
    margin: .5rem 0
  &.sm-heading
    font-size: 3rem
    font-style: italic
    color: $secondary
    // @include textShadow

.img-cover
  color: set-text-color($primary)
  background: rgba($primary, .1)
  padding: 1rem 0
  @include textShadow
  width: 100%
  text-align: center

.container
    width: 75%
    height: 100%
    margin: 0 auto   

div
    section.intro
        margin-top: 1rem
        // background: lighten($primary, 70)
        padding: 1rem
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center
        img
            border-radius: 2rem 0 2rem 10px
            border: 3px solid $secondary
        p
          font-size: 2rem
          margin: 1rem 0
          span
            margin-top: 1rem
            &.btn-primary
              @include easeOut
              text-align: center
              background: lighten($primary, 70)
              border: 1px solid
              box-shadow: #222 1px 2px 5px
              // border-radius: 12px
              padding: .5rem
              width: 100%
              &:hover
                color: $info
                cursor: pointer
                @include scaleIn

.landing
    // background: green
    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg)
    height: 100vh 
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: set-text-color($primary)

.about-section
  height: 100%
  .about
    p
      margin: 1rem 0
      font-size: 2rem
      text-align: center
      line-height: 1.5

  .skills
    margin: 5rem 0
    .skills-img
      display: flex
      justify-content: center
      img
        padding: 0 1rem
        margin: 4rem 0
        width: 15%
        max-width: 100%
        height: 100%
.work
  height: 100%
  
  h2
    text-align: center
    margin-top: 2rem
  h3.sm-heading
    margin: 1.6rem 0
    text-align: center

  .projects
    margin: 4rem 0
    display: flex
    flex-flow: column
    text-align: center
    .p-section-1
      display: flex
      margin: 3rem 0
    img
      max-width: 100%
      // background: #222
      border-radius: 12px
      &:hover
        border: 3px solid $highlight
    .p-img
      position: relative
      width: 50%
      margin: 0 2rem
      .image
        display: block
        width: 100%
        height: auto
    .middle
      @include easeOut
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      height: 100%
      width: 100%
      opacity: 0
      transition: .5s ease
      // background-color: #008CBA
      background-color: rgba($secondary, .9)
      border-radius: 12px
      &:hover
          opacity: 1
          border: 3px solid $highlight
    .text
      color: white
      font-size: 2.6rem
      position: absolute
      top: 50%
      left: 50%
      -webkit-transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      text-align: center
      width: 100%
      h2
        font-size: 3rem
      p
        margin-top: 5px
        font-size: 2.6rem
    .img-cover
      color: $highlight
      background: $primary       

#contact
  height: 100%
  h2
    margin-top: 9rem
    text-align: center
    margin-bottom: 10rem
  .form-container
    // padding: 15rem 0 0 0 
  form 
    margin: 0 auto
    display: flex
    flex-direction: column
    width: 60rem 
    font-size: 1.6rem
    // background-color: lighten($primary, 50)
    padding: 2rem 2.6rem
    border-bottom: 3px solid $secondary
    border-radius: 1rem 1rem 0 0
    box-shadow: #000 1px 1px 10px 1px
    label
      font-size: 2rem
      margin-bottom: 2px
      color: $secondary
    textarea
      margin: 0 0 1rem 0
      font-size: 2rem
      border: none
      background: lighten($highlight, 15)
    input
      height: 3rem
      margin: 0 0 2rem 0
      font-size: 1.8rem
      border: none
      background: lighten($highlight, 15)
      &[type='submit']
        align-content:  center
        background-color: $secondary
        cursor: pointer
        // color: #fff
        &:hover
          box-shadow: #333 1px 2px 3px
          border: 2px solid $highlight
      &:focus
        outline: none
        border-bottom: 5px solid $secondary

footer
  text-align: center
  background: #222
  color: #fff
  padding: 2rem 0
  width: 100%


@import 'mobile'