@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@fstyle: 'open sans';
@fweight: 700;
@fsize: 1.6em;


.font-style(@fweight, @fsize) {
  weight: @fweight;
  font-size: @fsize;
}

@primary-f-color: #444444;
@secondary-f-color:#FFFFFF;
@terciary-f-color:rgb(118, 224, 118);

// @modal-width: 1080px!important; 

//   h3 {
// color: @primary-f-color;
//     }
// .modal {
//     max-width: @modal-width;
// }