/* *********************
      Media Breakpoints
************************* */
@mb_phone_only : ~"screen and (max-width: 599px)" ;

@mb_tablet_up : ~"screen and (min-width: 600px)";

@mb_tablet_lg_up : ~"screen and (min-width: 900px)"; 

@mb_desktop_up : ~"screen and (min-width: 1200px)";

@mb_desktop_lg_up : ~"screen and (min-width: 1700px)";
