/* *********************
     Colors
************************* */
@darkBlue : #01024e;
@mPurple : #543864;
@redPurp : #8b4367;
@pinkRed : #ff6464;
@softYell : #f0d78c;
@white : #fff;

/* *********************
     Fonts
************************* */
.exa(){
  font-family: 'Lexend Exa', sans-serif;
}

.ptNarrow(){
  font-family: 'PT Sans Narrow', sans-serif;
}
