.container .code {
    flex-direction: column;
    align-items: center;
    margin-left: 8rem;
  }
hr {
    border-top-color: brown;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
  }
  th {
    color: brown;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2rem;
    font-size: 2rem;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .container h2 {
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
  }
  .code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 20px;
  }
  .border p {
    justify-content: space-between;
    width: 200px;
    font-size: 1.6rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .pic {
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  ul li {
    margin: 20px;
    margin-top: 40px;
    font-size: 1.6rem;
  }
  .summary {
    color: brown;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  .bottom-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-bottom: 60px;
    margin-top: 40px;
  }