@import "index";

.main-contact{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin:20px 0;
    width:100%; 
    @media(max-width: 500px){
            display:flex;
            flex-direction: column;
            width:95%;
            justify-content: space-evenly;
            align-items: center;
            margin:0 auto;
    }
    .info{
        font-family: 'Crushed', cursive;
        .flex-column;
        .boxes-config;
        color:white;
        padding:40px 2%;
        
        @media(max-width: 500px){
            width:95%;
        
        }
    }
       

       .name{
        color:@secondary-color;
        font-size:2rem;
         border-bottom: 3px solid white;

         .phone, .email{
             font-size: 1.8rem;
             letter-spacing: 8px;
         }
       } 
    }

    .chances-img img{
        width:100%;
        @media(max-width: 500px){
            width:95%;
            margin: 8px;
            
        }
       
    }

