.content-middle{
    .mainflex(none,none,none,none,none);
    padding:0px 0px 20px 30px;

    .about-Me{
        padding-top:20px;
        padding-bottom:20px;
        width:50%;
        margin-right:100px;
        h2{
            .h2style(10px);
        }

        p{
           .pspacing();
        }
    }

    .mySkills{
        padding-top:20px;
        h2{
            .h2style(10px);
        }

        p{
            .pspacing();
        }

    
        td{
            
            border:1px solid black;
            padding:10px 100px 10px 100px;
            text-align:center;
            font-size:1.1rem;
            

            &:hover{
                cursor:pointer;
                background:skyblue;
                color:white;
            }
            
        }
    }
}
