/* Contact Styles */
.contact {
    p {
        margin: 15px 0;

        @media @tablet {
            margin: 2% 0;
        }

        @media @mobile {
            margin: 3.75% 0;
        }
    }

    @media @tablet {
        margin: 0 2.6%;
        padding: 0 1.3%; 
    }

    @media @mobile {
        margin: 0 5%;
        padding: 0;
    }
}