.form-wrapper {
	
	width: 100%;
	height: 420px;
	background-color: @grey;
}

.form-container {
	margin: 0 auto;
	padding: 3rem 0;
	.font-small;
	.flex-column;
	line-height: 4rem;

	.form-title {
		.font-large;
		text-align: center;
		color: @blue;
	}
}



#fname {
	.form-styles;
}

#email {
	.form-styles;
}

#subject {
	.form-styles;
}

#submit-button:hover {
	color: @blue;
}