/* Call To Action (CTA) Styles */
.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    @media @tablet {
        justify-content: center;
        margin: 9.4% 0 0 0;
    }

    @media @mobile {
        margin: 12.5% 0 0 0;
    }

    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;

        @media @tablet {
            margin: 0;

            h1 {
                margin: 0 0 5.1% 0;
            }
        }

        @media @mobile {
            margin: 0;
        }

        button {
            border: 1px double black;
            font-size: 16px;
            background: white;
            width: 170px;
            height: 32px;
            margin-top: 10px;
            cursor: pointer;
            
            &:hover {
                background: black;
                color: white;
            }

        }
    }

   img {
        @media @tablet {
            display: none;
        }
   }
}