// Is this working?
// http://meyerweb.com/eric/tools/css/reset/ 
//  v2.0 | 20110126
// License: none (public domain)

@bg1: lightblue;
@phoneFont: 2rem;
@tabletFont: 3rem;
@deskFoont: 4rem;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Set every element's box-sizing to border-box
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    background: @bg1;
    max-width: 400px;
    width: 100%;
    font-size: 62.5%;
    margin: auto;

    @media (min-width: 401px) {
        background: white;
        max-width: 768px;
        width: 100%
    }

    @media (min-width: 769px) {
        background: lightpink;
        max-width: 1000px;
    }
}

// Header Styles

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 401px) {
        flex-direction: row-reverse;
    }

    nav { 
            
        @media (min-width: 401px) {
            width: 100%
        }

        ul {
            margin: 40px auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            
            @media (min-width: 401px) {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
            
            @media (min-width: 769px) {
                margin: 40px auto;
            }

            li {
                border-top: 1px solid black;
                width: 100%;
                text-align: center;
                padding: 10px 0;
            
                @media (min-width: 401px) {
                    border-top: none;
                    
                }

                a {
                    font-size: @phoneFont;
                    text-decoration: none;
                    color: #b0b0b0 / 2; // Modified for Task 2
            
                    @media (min-width: 401px) {
                        font-size: @phoneFont / 2;
                    }
                
                    a:hover {
                        text-decoration: underline;
                        color: black;
                    }
                }
            // li:last-element {
            //     border-bottom: 1px solid black;
            // }
            }// li
        }// ul
    }// nav

    .logo {
        width: 50%;
        order: -1;
        align-self: center;
        margin: 50px auto;

        @media (min-width: 401px) {
            width: 25%;
            align-self: center;
        }
        
        @media (min-width: 769px) {
            margin: auto;
        }
    }
}// header

// Call To Action (CTA) Styles

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    @media (min-width: 769px) {
        display: flex;
        margin-top: 70px;
        margin-right: 100px;
        justify-content: center;
    }

    .cta-text {
        font-size: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 auto 0;


        button {
            border: 1px double black;
            font-size: 1rem;
            background: @bg1;
            width: 170px;
            height: 32px;
            margin-top: 10px;
            cursor: pointer;
            
            @media (min-width: 401px) {
                background: white;
            }
            
            @media (min-width: 769px) {
                background: pink;
            }

            button:hover {
                background: black;
                color: white;
            }
            
        }// .button
    }// .cta-text

        img {
            width: 35%;
        }
}// .cta

// Main Content Styles

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

    .top-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-size: 1.2rem;
            
        @media (min-width: 401px) {
            flex-direction: row;
        }

        .text-content {
            padding: 10px;
        } 
}

    .middle-img {
        width: 100%;
        display: block;
        margin: 30px auto;
}

    .bottom-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-size: 1.2rem;
            
        @media (min-width: 401px) {
            flex-direction: row;
        }

        .text-content {
            padding: 10px;
        }
}

// Contact Styles

.contact {

    @media (min-width: 769px) {
        margin-left: 10px;
    }

    h4 {
        font-size: @phoneFont / 2;
    }

    p {
    margin: 15px 0;
    font-size: @phoneFont / 2;
}
}
// Footer Styles

footer {
    text-align: center;
    margin: 40px 0 40px;
    font-size: @phoneFont / 2;

    p {
        padding-bottom: 25px;
    }
}