.education-box-wrapper {
	width: 100%;
	background-color: @grey;

}

.education-wrapper {
	.flex-around;
	.spacing;
	line-height: 3rem;
	align-items: flex-start;
	width: 70%;
	margin: 0 auto;

	img {
		.photo-sizing;
		}
}

.education-item {
	width: 50%;
}

.education-item:first-of-type {
	.divider
}

.education-item:last-of-type {
	padding-left: 3rem;
}

.pipe {
	color: @blue;
	font-weight: bold;
}