.column-container {
	// .flex-around;
	display: flex;
	.spacing;
}

.experience-title {
	border-bottom: 2px solid @blue;
	padding-bottom: 3rem;
	width: 50rem;
	margin: 5rem auto 5rem;
	line-height: 3rem;
}

.experience-column {
	width: 50%;
	text-align: left;
	line-height: 4rem; 
}

.experience-column:first-of-type {
	.divider;
}

.experience-column:last-of-type {
	text-align: right;
	padding-left: 4rem;
}