p a#footer{
  text-decoration: none;
  color: white;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  margin-top: 50px;
}
footer{
  width: 100%;
  text-align: center;
  background: azure;
  border-top: 1px dashed black;
  margin-top: 20px;
  
}

/* sca.html */

footer{
  width: 100%;
  text-align: center;
  background: black;
  border-top: 1px dashed black;
}
footer p {
  font-family: 'advent pro';
  font-size: 20px;
  text-align: center;
}
footer nav a.backto {
  margin: 0 5px;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  color: white;
  background-color: #e65c00;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer p a#footer {
  text-decoration: none;
  /* color: midnightblue; */
}
