.footer-style {
	margin-top: 20px;
	background-color: @button-footer-background;
	text-align: center;
	border: @gray;
	width: @seventy-five-percent;
	height: @ten-percent;
	padding-top: 40px;
	justify-items: center;
}