footer {
	width: 100%;
	height: 5rem;
	background-color: @black;
	color: @white;
	.flex-around;
	.font-small;
	border-bottom: 2px solid @blue;

	a:hover {
		border-bottom: 2px solid @blue;
	}
}

.footer-images {
	width: 2.5rem;
	padding: 0 .2rem;
}