.Contact {
  text-align: center;

  h1 {
    font-size: @title;
    margin-bottom: 20px;
  }

  padding-top: 10%;

  form {
    height: 400px;
    max-width: 80%;
    background: black;
    opacity: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    #msgArea {
      height: 150px;
      width: 500px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      outline: none;
      font-size: 18px;

      &:hover {
        background: grey;
      }
    }

    .msg {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 30px;
        width: 100px;
        background: magenta;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        outline: none;
        &:active{
          border-bottom: 1px solid black;
        }
      }
    }

    .formInfo {
      padding: 20px;
      display: flex;
      flex-direction: column;

      label {
        padding: 20px;
      }

      input {
        border-radius: 5px;
        outline: none;
        height: 30px;
        font-size: 18px;

        &:hover {
          background: grey;
        }
      }
    }
  }
}