@import "variables";

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100%;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 6%;
    background-color: dodgerblue;
  }
  
    .container{	
      width: 90%;
      margin: 0 auto;
      padding: 6%;
      background-color: @colorchange;
    }
      @media(max-width: 500px){
        width: 100%;
        background-color: goldenrod;	
        font-family: @font-stack;
      }
    