.container {
	margin: 0 auto;
	width: 800px;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: @one-hundred-percent;
}

h1 {
	font-size: 34px;
}

h3 {
	font-size: 34px;
	margin-bottom: 15px;
}

h2 {
	font-size: .97rem;
	margin-top: 15px;
	margin-bottom: 15px;
}