header nav {
	display: flex;
	justify-content: space-between;
	padding-left: @sixty-two-percent;
	padding-right: 15px;
	color: @black;

	@media (max-width: @phones) {
		display: flex;
		padding-left: @forty-percent;
		color: @black;
		padding-right: 15px;
	}

	a {
		color: @black;
		font-family: "Times New Roman", 'Times New Roman', Times, serif;
		text-decoration: none;	
	}
}
