.home {

  .content-section {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   .welcome{
     border-bottom: 1px dashed black;
   }
   
  
    .text-content {
      width: 48%;
      padding-right: 1%;
    

      @media @mobile {
        width: auto;
    }
      }

    
    
    .img-content {
      width: 48%;
      padding-left: 1%;
   
      
      img {
        border-radius: 10px;
        
        @media @mobile {
         max-width: none;
  
      }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
        flex-direction: column-reverse;
   }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    }
  

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
      
  }
}

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
 }


    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        text-align: center;
        width: 94.1%;
   }
  

    }
      .btn {
        background-color: #357D92;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 2rem; 
        padding: 5px 20px;
        margin: 10px;
        #mixins.border-radius(10px);

        @media @mobile {
          font-size: 1.5em;
          width: 63.2%;
          padding: 1.8%;
     }

    }
    
}} // home