.home {
  .header {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadein 500ms ease-in-out 500ms forwards;

    @media @tablet {
      height: calc(100vh - 210px);
    }

    @media @phone {
      height: 100%;
    }
  }

  .btn {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    // transition: transform 0.2s;

    @media @phone {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    &:active {
      transform: translateY(5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
