// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
// -- ** -- **
// -- ** -- **
// VARIABLES
	//FONTS
		// Main Font
			@fontVariable: 'Cinzel', serif;
		// Sub Font
			@fontVariableSub: 'Raleway', serif;


	//COLORS
		// Main
			@colorMAIN: #708090;
		// Sub
			@color2: #bebebe;

// MIXIN 



// -- ** -- **
// -- ** -- **
img {
	width: 125px;
	border-radius: 25px;
}

// -- ** -- **
// HEADER
// -- ** -- **
.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	.header-container-Right {
		flex-grow: 1;
		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

.nameAddress {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-family: @fontVariable;
		font-size: 30px;
	}

	address {
		display: flex;
		text-align: center;
		font-family: @fontVariable;
	}
}

// MENU
.dropbtn {
	font-family: @fontVariable;
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	display: flex;
	// position: relative;
	// display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


// -- ** -- **
// PERSONAL SUMMARY
// -- ** -- **

.summary-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: @colorMAIN;

	.summaryTitle {
		display: flex;
		justify-content: center;
		font-family: @fontVariable;
		margin-bottom: 15px;

		.summaryStatement{
			font-family: @fontVariableSub;
		}
	}
}

// -- ** -- **
// CONTENT
// -- ** -- **

.content {
	background: @color2;
	display: flex;
	flex-direction: column;
	font-family: @fontVariableSub;

	.cards-Container {
		display: flex;
		justify-content: space-around;

		.contentCard-Container {
			display: flex;
			padding: 10px;


			.contentCard {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: @colorMAIN;
				border-radius:5px;

				.contentTitle {
					font-family: @fontVariable;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				.contentSummary {
					flex-grow:1;
					display: flex;
					align-items: center;
					text-align: center;
				}
			}
		}
	}
}


// -- ** -- **
// DOWN TIME
// -- ** -- **
.downTime .contentCard-Container {
	width: 30%;
}

// -- ** -- **
// WORK EXPERIENCE
// -- ** -- **
.workExperience .contentCard-Container {
	width: 30%;
}