/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.flex-col {
  flex-direction: column;
  width: 40%;
}
.container {
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
body {
  line-height: 1;
  font-size: 62.5%;
  width: 1250px;
  margin: auto;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
nav {
  font-size: 1.6em;
  background: green;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  width: 200px;
  color: black;
  transition: 0.3s;
}
nav a:hover {
  color: #52c1d4;
}
content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin-top: 10px;
}
content h1 {
  font-size: 4.8em;
  text-align: center;
  width: 100%;
  height: 75px;
  padding-top: 20px;
  padding-left: 50px;
}
content h2 {
  font-size: 2.4em;
  text-align: center;
  margin-left: 20px;
  padding-top: 15px;
  flex-direction: column;
  width: 40%;
}
content p {
  font-size: 1.6em;
  line-height: 25px;
  text-align: left;
  margin-left: 20px;
  padding-top: 15px;
  flex-direction: column;
  width: 40%;
}
.picture {
  height: 300px;
  width: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
