/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.img * {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  background-color: #290c29;
}
h1 {
  font-size: large;
  justify-content: center;
  font-style: italic;
  color: #ebcdf7;
}
.top-content h1 {
  font-size: large;
  justify-content: center;
  font-style: italic;
  color: #ebcdf7;
}
.top-content nav {
  color: #b0e0e6;
  justify-content: space-between;
}
.top-content p {
  color: #b0e0e6;
  justify-content: space-evenly;
  font-size: medium;
}
.middle-content h2 {
  font-size: medium;
  justify-content: center;
  color: #ebcdf7;
}
.middle-content #list {
  float: left;
  color: #b0e0e6;
}
.middle-content p {
  color: #ebcdf7;
  justify-content: space-between;
}
