/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.flex-col {
  width: 100%;
}
.container {
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}
body {
  line-height: 1;
  font-size: 62.5%;
  width: 1250px;
  margin: auto;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
@media (max-width: 768px) {
  body {
    width: 750px;
  }
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
}
nav {
  font-size: 1.6em;
  background: green;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav li {
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  width: 200px;
  color: black;
  transition: 0.3s;
}
nav a:hover {
  color: #52c1d4;
}
.row {
  display: flex;
}
@media (max-width: 768px) {
  .row {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .row {
    width: 100%;
  }
}
content {
  width: 100%;
  height: 900px;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media (max-width: 768px) {
  content {
    width: 750px;
    height: 800px;
  }
}
@media (max-width: 500px) {
  content {
    width: 500px;
    height: 900px;
  }
}
h1 {
  font-size: 4.8em;
  text-align: center;
  width: 100%;
  height: 75px;
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  h1 {
    display: none;
  }
}
@media (max-width: 500px) {
  h1 {
    display: none;
  }
}
.mobiledisplay {
  display: none;
}
@media (max-width: 768px) {
  .mobiledisplay {
    display: flex;
    font-size: 4.8em;
    text-align: center;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    padding-left: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .mobiledisplay {
    display: flex;
    font-size: 4.8em;
    text-align: center;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    padding-left: 50px;
    margin-bottom: 10px;
  }
}
.primary {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 768px) {
  .primary {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .primary {
    width: 80%;
  }
}
.primary h2 {
  font-size: 2.4em;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
  height: 100px;
  width: 100%;
}
@media (max-width: 768px) {
  .primary h2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .primary h2 {
    display: none;
  }
}
.primary p {
  font-size: 1.6em;
  line-height: 25px;
  text-align: left;
  height: 200px;
  margin-left: 5px;
  padding-top: 15px;
  width: 100%;
}
@media (max-width: 768px) {
  .primary p {
    width: 70%;
    height: 250px;
    text-align: center;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .primary p {
    width: 80%;
    height: 250;
    text-align: center;
    margin-left: 10px;
  }
}
.primary li {
  height: 60px;
  text-align: center;
  font-size: 2.0em;
  padding-top: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .primary li {
    display: none;
  }
}
@media (max-width: 500px) {
  .primary li {
    display: none;
  }
}
.primary2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 768px) {
  .primary2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .primary2 {
    display: none;
  }
}
.primary2 h2 {
  font-size: 2.4em;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
  height: 100px;
  width: 100%;
}
.primary2 li {
  height: 60px;
  text-align: center;
  font-size: 2.0em;
  padding-top: 20px;
  width: 100%;
}
.picture {
  height: 300px;
  width: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .picture {
    width: 50%;
    height: 260px;
  }
}
@media (max-width: 500px) {
  .picture {
    width: 70%;
    height: 250px;
  }
}
.history {
  width: 100%;
  height: 400px;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .history {
    display: none;
  }
}
@media (max-width: 500px) {
  .history {
    display: none;
  }
}
.history h1 {
  font-size: 4.8em;
  text-align: left;
  width: 100%;
  height: 75px;
  padding-top: 20px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .history h1 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .history h1 {
    width: 100%;
    text-align: center;
  }
}
.history p {
  font-size: 2.4em;
  line-height: 25px;
  margin-left: 10px;
  text-align: left;
  height: 50px;
  padding-top: 15px;
}
.workHistory {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.workHistory td,
.workHistory th {
  border: 1px solid #ddd;
  padding: 8px;
}
.workHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}
.workHistory tr:hover {
  background-color: #969090;
}
.workHistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #242424;
  color: white;
}
footer {
  text-align: center;
  font-size: 1.6em;
  padding-top: 20px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media (max-width: 768px) {
  footer {
    text-align: center;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  footer {
    text-align: center;
    margin-left: 10px;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
