/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 90em;
  margin-left: 3%;
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #6d6a6a;
  font-size: 1.4em;
  margin-right: 145px;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header nav {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header nav a {
    width: 100%;
    margin: 2em;
    margin-left: 25%;
    text-align: center;
    align-items: space-between;
    border-bottom: 1px solid grey;
  }
}
.top-section {
  padding: 3em;
  background-color: #f4f4f4;
}
.top-section img {
  width: 15%;
  max-width: 60em;
  border-radius: 50%;
  padding: 1em 0;
}
.top-section h4 {
  margin-bottom: 5px;
  font-size: 1.5em;
}
.top-section .top-section p {
  border: 2px solid black;
  margin-top: 3em;
  margin-bottom: 6em;
  width: 100px;
}
.top-section button {
  background-color: dodgerblue;
  color: white;
  margin-top: 2%;
  padding: .5em;
  font-size: 1.56em;
  font-weight: bold;
}
@media (max-width: 500px) {
  .top-section img {
    width: 100%;
  }
}
article h1 {
  font-size: 3em;
  margin-bottom: 30px;
  color: mediumblue;
}
.middle-section h2 {
  display: flex;
  font-size: 1.6em;
  width: 600px;
  color: mediumblue;
  margin-bottom: 30px;
}
.middle-section p {
  font-size: 1.1em;
  line-height: 2;
}
.middle-section article {
  margin-right: 100px;
  margin-bottom: 2%;
}
.skills {
  width: 600px;
  margin-left: 9%;
}
.skills h3 {
  padding-bottom: 4%;
  font-size: 1.6em;
  color: mediumblue;
}
.middle-section {
  margin-left: 80Px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-section .middle-section-column {
  width: 100%;
}
.middle-section li {
  padding: 1em;
  border: solid 1px lightgrey;
}
@media (max-width: 500px) {
  width: 100%;
  display: flex;
  flex-direction: column;
  .middle-section-column {
    width: 90%;
  }
}
.bottom-section table {
  width: 100%;
}
.bottom-section table tr:first-child {
  font-weight: bold;
}
.bottom-section table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.bottom-section table tr:nth-child(even) {
  background-color: blanchedalmond;
}
.bottom-section table td {
  padding: 2em;
}
@media (max-width: 500px) {
  .bottom-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.3em;
    margin-right: 2em;
    margin: 0 auto;
    width: 100%;
  }
}
.work-history {
  width: 100%;
}
.work-history h3 {
  font-size: 1.3em;
  margin: 1.5% 1% 1% 3%;
  color: mediumblue;
}
p {
  line-height: 1.9;
}
footer {
  font-size: 1.2em;
  margin-top: 3%;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 1.5em;
}
