/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.mixin-0 {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.mixin-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mixin-2 {
  text-align: center;
  font-size: 2.2rem;
}
.mixin-3 {
  text-align: center;
  font-size: 1.6rem;
}
.mixin-4 {
  padding-top: 2%;
  padding-bottom: 2%;
}
.nav-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid grey;
  justify-content: space-around;
  background-color: darkred;
  text-align: center;
  font-size: 2.2rem;
}
.nav-container a {
  text-decoration: none;
  color: black;
}
.intro {
  width: 60%;
  height: 450px;
  background-color: black;
  margin-left: 20px;
}
.intro h5 {
  text-align: center;
  font-size: 2.2rem;
  color: white;
}
.intro h6 {
  font-style: italic;
  text-align: center;
  font-size: 2.2rem;
  color: darkred;
}
.intro p {
  padding-top: 2%;
  font-size: 1.6rem;
  font-family: "Arial Narrow";
  margin-left: 1%;
  color: white;
}
.intro .image-1 {
  width: 25%;
  width: 30%;
}
@media (max-width: 500px) {
  .intro {
    width: 80%;
    height: 400px;
    background-color: darkblue;
  }
  .intro h5 {
    text-align: center;
    font-size: 2.2rem;
  }
  .intro h6 {
    font-style: normal;
    text-align: center;
    font-size: 2.2rem;
    color: whitesmoke;
    font-style: italic;
  }
  .intro p {
    padding-top: 2%;
    font-size: 1.4rem;
    font-family: "Arial Hebrew";
    font-style: italic;
    margin-left: 1%;
  }
  .intro .image-1 {
    width: 30%;
    margin-left: 200px;
    width: 40%;
  }
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.middle .table {
  width: 59%;
  height: 50px;
  font-size: 2rem;
}
.middle .table h4 {
  text-align: center;
  font-size: 2.2rem;
}
.middle .highlights {
  padding-top: 2%;
  width: 40%;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .middle .table {
    font-size: 2rem;
  }
  .middle .table h4 {
    text-align: center;
    font-size: 2.2rem;
  }
  .middle .highlights {
    padding-top: 2%;
    width: 40%;
    font-size: 1.8rem;
  }
}
#technicalSkill {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 50%;
  margin-top: 2%;
}
#technicalSkill td,
#technicalSkill th {
  border: 1px solid #ddd;
  padding: 1%;
  font-size: 1.8rem;
}
#technicalSkill tr:nth-child(even) {
  background-color: lightgrey;
}
@media (max-width: 500px) {
  #technicalSkill tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
#technicalSkill tr:hover {
  background-color: #ddd;
}
#technicalSkill th {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  background-color: darkred;
  color: white;
}
.lower {
  font-size: 1.6rem;
  padding-top: 2%;
  width: 100%;
}
#workHistory {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#workHistory h3 {
  text-align: center;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Black";
}
#workHistory td,
#workHistory th {
  border: 1px solid #ddd;
  padding: 1%;
}
#workHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}
#workHistory tr:hover {
  background-color: #ddd;
}
#workHistory th {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  background-color: darkred;
  color: white;
}
.contact {
  padding-top: 2%;
  font-family: "Arial Black";
  text-align: center;
  font-size: 1.6rem;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .contact .contact {
    padding-top: 2%;
    font-family: "Arial Black";
    background-color: dodgerblue;
    text-align: center;
    font-size: 1.6rem;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .nav-container {
    height: 120px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    background-color: dodgerblue;
    color: black;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 2.2rem;
  }
  .nav-container a {
    text-decoration: none;
    color: white;
  }
  #technicalSkill {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 50%;
    height: 320px;
    margin-top: 2%;
  }
  #technicalSkill td,
  #technicalSkill th {
    border: 1px solid #ddd;
    padding: 1%;
    font-size: 1.8rem;
  }
  #technicalSkill tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  #technicalSkill tr:hover {
    background-color: #ddd;
  }
  #technicalSkill th {
    text-align: left;
    background-color: dodgerblue;
    color: white;
  }
  #workHistory td,
  #workHistory th {
    border: 1px solid black;
    padding: 1%;
  }
  #workHistory tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  #workHistory tr:hover {
    background-color: gray();
  }
  #workHistory th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    background-color: darkblue;
    color: white;
  }
}
/*# sourceMappingURL=index.css.map */