/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: repeating-linear-gradient(90deg, blue 0px, darkblue 25px, silver 25px, white 50px);
}
html,
body {
  height: 100%;
}
.container {
  max-width: 680;
  margin: 0 auto;
  border: none;
}
header {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 2rem;
  border: 1rem dotted gold;
  background-color: rgba(52, 34, 34, 0.829);
  box-shadow: 5px 5px 15px 5px #333300;
}
@media (max-width: 500px) {
  header {
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
  }
}
header h1 {
  font-size: 5rem;
  font-family: 'Limelight', cursive;
  color: #ebfdef;
  padding: 2rem;
}
@media (max-width: 500px) {
  header h1 {
    text-align: center;
    margin-bottom: 5px;
  }
}
header nav {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  width: 45%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    width: 50%;
    margin-top: 4px;
  }
}
header nav a {
  font-family: 'Lobster', cursive;
  color: #ebfdef;
  font-size: 1.5rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  header nav a {
    max-width: 680;
    margin: 0 auto;
    border: none;
    padding: 7px 50% 7px;
    background-color: darkgreen;
    border: 1px solid black;
    margin: 2px;
  }
}
header nav a:hover {
  color: goldenrod;
  text-shadow: 4px 2px 5px rgba(18, 25, 36, 0.65);
  text-decoration: underline;
}
.main-content {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-flow: column;
}
.introduction {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a08f352f5829c74dc63969317fd278f&auto=format&fit=crop&w=1350&q=80");
  width: 95%;
}
@media (max-width: 500px) {
  .introduction {
    flex-flow: column;
    justify-items: center;
    align-items: center;
  }
}
.introduction img {
  border-radius: 50%;
  margin: 4%;
}
@media (max-width: 500px) {
  .introduction img {
    width: 50%;
    height: auto;
    margin-top: 10px;
  }
}
.introduction article {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .introduction article {
    margin-left: 12%;
    padding-bottom: 10px;
  }
}
.introduction article h2 {
  color: #ebfdef;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  margin: 8%;
  padding-right: 65px;
  text-align: center;
}
.introduction article p {
  font-family: "Arvo", cursive;
  color: #ebfdef;
  font-size: 2rem;
  text-indent: 12px;
  text-align: center;
  line-height: 3.3rem;
  letter-spacing: 2px;
  text-shadow: 4px 2px 5px rgba(13, 45, 36, 0.99);
  margin-right: 14%;
  margin-bottom: 14%;
  background-color: rgba(60, 161, 2, 0.55);
  padding: 1%;
  box-shadow: 5px 5px 55px 26px rgba(60, 161, 2, 0.58);
}
.listBoxes {
  max-width: 680;
  margin: 0 auto;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .listBoxes {
    flex-flow: column;
    align-items: center;
  }
}
.list {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 2rem;
  border: 1rem dotted gold;
  background-color: rgba(52, 34, 34, 0.829);
  box-shadow: 5px 5px 15px 5px #333300;
  width: 48%;
}
@media (max-width: 500px) {
  .list {
    width: 80%;
  }
}
.list h3 {
  color: #ebfdef;
  font-size: 4rem;
  text-shadow: 1px 2px 2px #771111;
  margin: 4%;
  align-self: center;
  font-family: 'Limelight', cursive;
}
.list ul {
  font-family: "Arvo", cursive;
  color: #ebfdef;
  text-shadow: 1px 2px 2px #771111;
  list-style-type: square;
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin: 4%;
}
.list ul li {
  padding: 6%;
  list-style-position: inside;
  text-align: center;
}
.experience {
  max-width: 680;
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 2rem;
  border: 1rem dotted gold;
  background-color: rgba(52, 34, 34, 0.829);
  box-shadow: 5px 5px 15px 5px #333300;
  width: 48%;
}
@media (max-width: 500px) {
  .experience {
    width: 80%;
  }
}
.experience h3 {
  color: #ebfdef;
  font-size: 4rem;
  text-shadow: 1px 2px 2px #771111;
  margin: 4%;
  align-self: center;
  font-family: 'Limelight', cursive;
}
.experience ul {
  font-family: "Arvo", cursive;
  color: #ebfdef;
  text-shadow: 1px 2px 2px #771111;
  list-style-type: square;
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin: 4%;
}
.experience ul li {
  padding: 6%;
  list-style-position: inside;
  text-align: center;
}
footer {
  max-width: 680;
  margin: 0 auto;
  border: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a08f352f5829c74dc63969317fd278f&auto=format&fit=crop&w=1350&q=80");
}
@media (max-width: 500px) {
  footer {
    flex-flow: column;
  }
}
footer img {
  width: 16%;
  margin: 40px;
  border-radius: 15%;
}
@media (max-width: 500px) {
  footer img {
    width: 15%;
  }
}
footer contact {
  max-width: 680;
  margin: 0 auto;
  border: none;
  font-family: "Arvo", cursive;
  color: #ebfdef;
  font-size: 2rem;
  text-indent: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 4px 2px 5px rgba(13, 45, 36, 0.99);
  background-color: rgba(60, 161, 2, 0.48);
  padding: 1%;
  box-shadow: 5px 5px 55px 26px rgba(60, 161, 2, 0.48);
}
footer a {
  font-family: 'Lobster', cursive;
  color: #ebfdef;
  font-size: 2.5rem;
  text-decoration: none;
  margin-bottom: 5px;
}
footer a:hover {
  color: goldenrod;
  text-shadow: 4px 2px 5px rgba(18, 25, 36, 0.65);
  text-decoration: underline;
}
footer p {
  margin-top: 15px;
}
