// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
/* End of Reset*/
@table-color: green;
@header-color:indigo ;
@main-font-color: black;

html {
	font-size: 62.5%;
}

.main-container {
	width:100%;
	max-width:880px;
	margin:0 auto;
	padding: 0px 4.5%;
	display:flex;
	flex-direction:column;
	background-color: whitesmoke;
	border: 2px solid purple;


}

header {
	display:flex;
	justify-content: flex-end;

	nav {
		display: flex;
		width:50%;
		justify-content: space-around;
		font-size: 1.8rem;
	}

	a{
		text-decoration:none;
		padding:3%;

	}


}

.top-container {
	background-color:blanchedalmond;
	width:100%;
	padding:1.5%;
	border-radius:5%;
	color:@main-font-color;

	img {
		border-radius: 10%;
		margin: 10px 1.5%;
		padding-top:15px;

	}

	h1 {
		font-size:4.5rem;
	}

	p{
		font-size:2.2rem;
		padding:1.5% 0px;
		
	}
	.personal-quote {
		border-top: 1px dashed black;
	}

	button {
		padding: 10px 7%;
		font-size: 2rem;
		border-radius:20%;
		background-color: teal;
		color:indigo;
		margin-left:3.7%;
	}
}

	.middle-container {
		display:flex;
		font-size:1.8rem;
		margin-top: 25px;
		color: @main-font-color;
		
		section {
			width:49%;

			h2 {
				
				font-size:2.2rem;
				color:@header-color;
			}

			.skills {
				border:1px solid @table-color;
				padding:1.5%;
				background-color:lightgray;
			}

		}

		.about-me {
			padding-right:2%;

			h2 {
				font-size:2.8rem;
			}
		}
	}

	.bottom-container {
		font-size:1.6rem;
		color:@main-font-color;

		h2 {
			font-size:2.2rem;
			color:@header-color;

		}
	

	table {
	   border-spacing: 10px;
	   border-collapse: separate;
	   width:100%;

	   th {
		   background-color:darkgoldenrod;
	   }

		th, td {
			border: 1px solid @table-color;
			padding: 15px;
			text-align: left;
		}

		tr:nth-child(even) {
			background-color:darkgray;
		}
	}

	footer {
		display:flex;
		justify-content: center;
		padding:3.2%;
	}
}