.introduction{
	background:skyblue;
	border-radius:10px;
	padding:@sectionpadding;
	.mainflex(column,none,none,none,flex-start);

	img{
		border-radius:10px;
		display:block;
		margin-right:auto;
		margin-left:auto;
		width:50%;
		margin: 0 0 0 20px;
	}

	.content{
		.mainflex(column,none,none,none,flex-start);
		text-align:left;
		margin:10px 10px 20px 10px;
		padding:20px 0 20px 0;
		border-bottom:1px solid gray;
	}
	

	h1{
		font-size: 3rem;
		padding-bottom:15px;
		font-weight:550;
	}

	h3{
		font-size: 1.3rem;
		padding-bottom:10px;
		letter-spacing:0.3px;
	}

	p{
		padding-bottom:20px;
		.pspacing();
	}

	button {
		top: 0;
		font-size: 1.875rem;
		border-radius: 4px;
		background:gold;
		color:skyblue;
	
		&:hover{
			cursor: pointer;
		}
		&:active {
			top: 0px;
			background:skyblue;
			color:white;
		}
	}

	p{
		.pspacing();
	}
}