#content > #introduction {
    .flex(space-between, center);
    margin-bottom: 2rem;

    >#intro-text {
        margin-right: 2rem;

        >a {
            .button();

            &:hover {
                background-color: @secondaryColor;
            }
        }
    }

    >img {
        width: 30rem;
        border: 0.2rem solid @primaryColor;
        border-radius: 100%;
    }
}