/* Main Content Styles */
.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;

    @media @tablet {
        margin: 9.8% 2.6% 4.6% 2.6%;
        padding: 4.6% 0;
    }

    @media @mobile {
        margin: 18.75% 5% 8.75% 5%;
        padding: 12.5% 0;
    }

   .top-content {
        .flex-with-space-around;

        @media @tablet {
            justify-content: space-between;
            margin: 0 1.3%;

            .text-content {
                width: 49%;
            }
        }

        @media @mobile {
            flex-direction: column;
            margin: 0;

            .text-content {
                margin: 8.4% 0 0 0;
                width: 100%;
            }
        }
    }

    .middle-img {
        display: block;
        margin: 30px auto;

        @media @tablet {
            margin: 4% auto; 
            width: 100%;
        }

        @media @mobile {
            margin: 10% 0 0 0;
        }
    }

    .bottom-content {
        .flex-with-space-around;
        

        p {
            padding-right: 20px;
        }

        @media @tablet {
            justify-content: space-between;
            margin: 0 1.3%;

            .text-content {
                width: 31%;
            }
        }

        @media @mobile {
            flex-direction: column;
            margin: 0;
            margin: 8% 0 0 0;

            .text-content {
                margin: 8.4% 0 0 0;
                width: 100%;

                &:first-child{
                    margin: 0;
                }
            }
        }
    }
}