// Main Content //

.main-content-container {
	.display-flex();

	@media (max-width: 500px){
		display: flex;
		flex-direction: column;

		.mobile-disappear{
			display: none;
		}
	} 

	div {
		width: 45%;
		margin: 2%;
	}

	.text-container {
		padding: 6%;
	}

		p {
			font-size: 1.25rem;
			
		}
}