body {
  @media (min-width: 500px) {
    .navbar {
      height: 15%;
    }

    .main {
      position: relative;
      top: 35%;
      bottom: auto;
    }
    .project-boxes{
      flex-direction: column;
    }
  }
}