.photo-sizing() {
	width: 100px;
	height: 100px;
}

.content-styling() {
	width: 100%;
	height: 500px;
	text-align: center;
	
	h2 {
		padding-bottom: 5rem;
	}
}

.content-styling-larger() {
	width: 100%;
	height: 700px;
	text-align: center;
	
	h2 {
		padding-bottom: 5rem;
	}
}

.content-styling-largest() {
	width: 100%;
	// height: 900px;
	text-align: center;
	
	h2 {
		padding-bottom: 5rem;
	}
}

.font-small() {
	font-size: 1.6rem; 	
}

.font-medium() {
	font-size: 1.8rem; 	
}

.font-large() {
	font-size: 2.5rem; 	
}

.flex-around() {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
}

.spacing() {
	h4 {
		padding-bottom: 3rem;
	}

	h5 {
		padding-bottom: 3rem;
	}

	p {
		padding-bottom: 5rem;
	}

	img {
		padding-bottom: 3rem;
	}
}

.divider() {
	border-right: 3px solid @blue;
	padding-right: 3rem;
}

.form-styles() {
	width: 40rem;
	height: 2.5rem;
	border-radius: .4rem;
}