ul.mainmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'advent pro';
  font-size: 20px;
  }
li.mainmenu {
  float: left;
}
nav li a{
  text-decoration: none;
  color: white;
  font-family: 'advent pro';
  font-size: 20px;
  text-align: center;
}