.container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
  }
  .container nav a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: bold;
  }
  nav a:hover {
    color: peru;
  }

 
 
  