.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 10vw;
  // background: #cccfff;
  .navbarstyle(#c4f8, 10vw, 2px solid black);
  font-size: 35px;
  position: fixed;
  width: 100%;
  z-index: 1;


  h1 {
    color: white;
  }

  a {
    padding: 5px;
    margin-right: 40px;
    margin-left: 60px;
    // margin-left: auto;
    .navstyle(#fff333, 1.5rem);
    text-decoration: none;

    &:hover {
      // color: black;
      // background: #c8c8c8;
      // border-radius: 5px;
      border-bottom: 1px solid white;
      opacity: 70%;
    }
  }
}