body {
    background: linear-gradient(#eee,#fff);
    background-repeat: no-repeat;
}
nav {
    background: #eee;
    z-index: 500;
    @media only screen and (max-width:460px){
        display:none;
    }
   
}
header {
    margin-top: 4rem;
    @media only screen and (max-width:460px){
        margin-top:0;
    }
    h1 {
        background: linear-gradient(60deg, #2e0079, #0f0);
        -webkit-background-clip: text;
        background-clip: text;
        display:inline-block;
        color: transparent;
    }
    h2 {
        position: absolute;
        left: 0;
        width: 100%;
        background: #373438;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 1rem 1rem rgba(#2e0079,.5);
    }
}
main {
    margin-top: 3em;
}
img.snapshot {
    padding: 0;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 0 2rem #373438;
    max-width: 75%;
    margin: 2rem;
}
button {
    background: #fff;
    border: 1px solid #000;
    border-radius: 3pt;
    padding: 2rem;
    transition: all .2s;
    &:hover{
        background: #eee;
        color: #333;
    }
    &:active{
        transform: translateY(2px);
    }
}
hr {
    border-bottom: .25rem solid #373438;
    box-shadow: 0 .25rem 1rem rgba(black,.5);
}
.skills {
    @media only screen and (max-width: 900px){
        text-align:center;
    }
}
.intro li, .certs li, .history li {
    list-style: square;
    margin-left: 3rem;
}