table {
	border-collapse: collapse;
	width: @one-hundred-percent;
	border: 1px solid red;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding-right: 10px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }

  ul {
	  background-color: @white;
	  border-bottom: thick solid @gray;
	  border-top: thick solid @gray 
  }

.main-info-block{
	display: flex;
	margin-top: 40px;
	background-color: @gray;
	width: @one-hundred-percent;
	height: @seventy-five-percent;
    border: 5px solid purple;
}

.left-side {
	width: 40%;
	border: 2px solid yellow;
}

.section1 {
	width: @fifty-percent;
	margin-bottom: 40px;
	margin-right: 30px;
}

.center-content {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.image-formater{
	border: 5px, solid green;
	width: @seventy-five-percent;
}

.text-centerer{
	text-align: center;
}

.intro-paragraph {
	width: 50%;
}

.button-team-up {
	border-radius: 1px;
	background-color: @button-footer-background;
	border: @black;
	width: @ten-percent;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	.text-centerer();
	color: @white;

	@media (max-width: @phones) {
	
		width: 75px;
		height: 25px;
		.text-centerer();
	}
}