/* EXPERIENCE & EDUCATION */

.experience {
  display: flex;
  flex-direction: column;
  .card {
    margin-bottom: @mb-small;
  }
  .btn {
    align-self: flex-end;
  }
}

.experience,
.education {
  margin-bottom: @mb-medium;
}
