@main-header: 'Charmonman', cursive;

@title: 'Lora', serif;

@text: 'Open Sans', sans-serif;

body {
	font-size: 16px;
	font-family: @text;
	width: 1024px;
}

h1 {
	font-size: 3rem;
	font-family: @main-header;
}

h3 {
	font-size: 1.8rem;
	font-family: @title;
}

h4 {
	font-size: 1.2em;
	font-family: @title;
}

ul {
	li {
		&:before {
			content: "\000bb";
		}
		padding: 4px 0;
	}
}

header {
	display: flex;
	.header-img {
		width: 25%;

		.profile {
			width: 100%;
		}
	}

	.header-name {
	}
}

.container {
	display: flex;
	flex-direction: row-reverse;
}
