// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@color-primary-0: #48534D;	/* Main Primary color */
@color-primary-1: #87928C;
@color-primary-2: #65716B;
@color-primary-3: #272E2A;
@color-primary-4: #15231C;

@color-secondary-1-0: #41474B;	/* Main Secondary color (1) */
@color-secondary-1-1: #798083;
@color-secondary-1-2: #5B6266;
@color-secondary-1-3: #232729;
@color-secondary-1-4: #141B20;

@color-secondary-2-0: #636A5C;	/* Main Secondary color (2) */
@color-secondary-2-1: #B4BBAC;
@color-secondary-2-2: #899181;
@color-secondary-2-3: #363B31;
@color-secondary-2-4: #242D1B;



@maxheight: 1080px;
@maxwidth: 1920px;
@skillheight: 24%;
@skillmargin: 5px;
@flex: flex;
@border: black solid 1px;
@padding: ;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
a{
	padding-right: 100px;
	img{
		height: 30px;
		width: 30px;
	}
}
hr{
	border: black solid 1px;
	width: 728px;
}
li{
	margin-bottom:7px;
}
i{

}
.container{
	width: @maxwidth;
	height: @maxheight;
	background-image: linear-gradient(to bottom,rgba(35, 35, 35, 0.35), rgba(255, 255, 255, 0.35)), url("img/FullSizeR.jpg");
	background-size: cover;
	position: relative;

}
.content-box{
	background-color: @color-primary-1;
	height: 1000px;
	width: 40%;
	margin-top: 5px;
	opacity: .95;
	border-radius: 20px;
	position: sticky;
	box-shadow: 5px 5px 10px rgba(0,0,0,.8),
	inset 0px 0px 15px @color-secondary-1-3;
}
.content-center{
	display: flex;
	justify-content: center;
}
.nav-container{
	border:@border;
	display: @flex;
	justify-content:center;
	background-color: @color-secondary-1-4;
	padding: 5px 0px;

}
.nav-container-bottom{
	border:@border;
	display: @flex;
	justify-content:center;
	background-color: @color-secondary-1-4;
	padding: 5px 0px;
	position: absolute;
	bottom: 0px;
	width:@maxwidth;
}
.skill{
	height: @skillheight;
	margin-bottom: @skillmargin;
	display: @flex;
	h3{
		font-size: 30px;
		display:inline-block;
	}
	h4{
		font-size: 25px;
		display:inline;
	}
	ul{
		margin-left: 10px;
	}

}


.skill-container{
	padding: 20px;
	height: 100%;
	h1{
		font-size: 35px;
		text-align: center;
		margin-bottom: 5px;
		text-decoration:underline;
	}
}
