header {
    width: 100%;
    display: flex;
    nav {
        ul {
            margin-top: 40px; 
            width: 610px;
            justify-content: space-between;
            display: flex;
            li {
                a {
                    text-decoration: none;
                    color: @cerulean;
                    transition: 0.25s linear;
                    &:hover {
                        transition-timing-function: ease-in-out;
                        transition: 0.15s;
                        font-size: 1% + 3em / 0.75 * 55%;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;
    }
}

// Call To Action (CTA) Styles

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
        color: @cool-blue;
        button {
            border: 1px double @cerulean;
            font-size: 16px;
            background: white;
            width: 170px;
            height: 32px;
            margin-top: 10px;
            cursor: pointer;
            :hover {
                background: black;
                color: white;
            }
        }
    }
}

// Main Content Styles

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
    .top-content {
        display: flex;
        justify-content: space-around;
    .middle-img {
        display: block;
        margin: 30px auto;
    }
    .bottom-content {
        display: flex;
        justify-content: space-around;
            p {
                padding-right: 20px;
            }
        }
    }
}

// Contact Styles

.contact p {
    margin: 15px 0;
}

// Footer Styles

footer {
    text-align: center;
    margin: 40px 0 20px;
    color: @grey;
}
