
// IMPORTS

    @import "TL_redo_reset.less";
    @import "TL_redo_variables.less";
    @import "TL_redo_mixins.less";

// MAIN LESS CSS
    body {
        display: flex;
        justify-content: center;
    }
    .pageContainer {
        width: 800px;
        border: 1px solid black;
    }

// NAV Styles
    .navContainer {
        .flexParent(flex-end, center);
        padding: 10px 0;

        nav {
            .flexParent(space-between, center);
            width: 50%;

            a {
                // color: @some-color;
                color: @someOther-color;
                text-decoration: none;

                &:last-child {
                    color: @some-color;
                    margin-right: 30px;
                }
            }
        }
    }