// -- ** -- **
// -- ** -- **
// VARIABLES
	//FONTS
		// Main Font
            @fontVariable: 'Cinzel', serif;
		// Sub Font
			@fontVariableSub: 'Raleway', serif;


	//COLORS
		// Main
			@colorMAIN: #708090;
		// Sub
            @color2: #bebebe;
            
// -- ** -- **
// -- ** -- **
// MIXINS


// -- ** -- **
// General
// -- ** -- **

.hero {
    border: 1px solid black
}
body {
    background-color: orange;
    
    p {
        color: orange;
        border: 1px solid black;
    }
    
}
h1 {
    color: yellow;
}