
// IMPORTS

    @import "TL_redo_reset.less";
    @import "TL_redo_variables.less";
    @import "TL_redo_mixins.less";

// MAIN LESS CSS
    body {
        display: flex;
        justify-content: center;
    }
    .pageContainer {
        width: 800px;
        border: 1px solid black;
    }

    .line {
        margin: 30px 0 0 30px;
        width: 25%;
        border: 1px solid black;
    }

// -- *** NAV Styles *** -- //
    .navContainer {
        .flexParent(flex-end, center);
        padding: 10px 0;

        nav {
            .flexParent(space-between, center);
            width: 50%;

            a {
                // color: @some-color;
                color: @someOther-color;
                text-decoration: none;

                &:last-child {
                    color: @some-color;
                    margin-right: 30px;
                }
            }
        }
    }

// -- *** HERO Styles *** -- //
    .hero {
        .flexParent(space-around, center);
        flex-direction: column;

        background-color: lightslategrey;
        border-radius: 10px;
        padding: 30px;
        
        .heroTop {
            .flexParent(space-around, center);
            width: 100%;
            margin-bottom: 30px;

            .title {
                .flexParent(center, flex-start);
                flex-direction: column;

                h1 {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
            }
            
            .mainDuck {
                width: 300px;
            }
        }

        .callToAction {
            .flexParent(center, flex-start);
            flex-direction: column;

            button {
                margin: 30px 0 10px 0;
            }

        }
    }

