div.topsection {
  padding-left: 6%;
  padding-right: 6%;
  background:#001f3fb8;
  
}
img {
  width: 44%;
  // height: 350px;
  padding-top: 6%;
  padding-left: 12%;
}
h1 {
  font-size: 8.5rem;
  height: 125px;
  padding-top:2%;
}
h2 {
  font-size: 2.2rem;
  padding-top:2%;
}
button {
  // padding-left: 6%;
  border: 1px solid black;
  font-size: 2rem;
  padding: .5% 2%;
  color: white;
  background: rgba(128, 128, 128, 0.722);
  margin-bottom: 5%;
  border-radius: 7px;
  
}