// border
@border1: 1px solid black;

// backgrounds
@background: rgb(231, 231, 231);

@background2: white;

// fonts
@main-font: 'Quicksand', sans-serif;

// break-points
@phone:      ~"only screen and (max-width: 500px)";

@tablet:     ~"only screen and (max-width:800px)";
