// Variables - colors & fonts
@white: whitesmoke;
@blue: #3d5f96;
@dark: black;
@font-size-h2: 1.6rem;
@font-size-h3: 1.4rem;
@margin-h2-mixin: 10px 0 0 5%;
@margin-h3-mixin: 0 0 0 5%;
@a-font-size: 1.2rem;
