@primaryColor: rgb(99, 26, 236);
@secondaryColor: lighten(@primaryColor, 45%);
@black: #444;

@mobileBreakpoint: ~"screen and (max-width: 600px)";

@extraLargeText: 4.5rem;
@largeText: 3.5rem;
@normalText: 2rem;

@borderRadius: 0.5rem;
