.workHistory{
    padding:@bottomsectionpadding;
    padding-top:20px;

    h2{
        .h2style(10px);
    }

    td{
    padding:10px 10px 10px 10px;
    font-size:1rem;
    border:1px solid black;
    border-radius:5px;
    }

    li{
        margin-left:15px;
        list-style-type: disc;
        .pspacing();
    }
}