#content > #work-history {
    >table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        >tr > td, >tr > th {
            border: 1px solid red;
            text-align: left;
            padding: 8px;
          }

          >tr:nth-child(even) {
            background-color: #dddddd;
          }
      }
}