/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  background: #F0F0F0;
  height: 100%;
}
.container-home {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container-home .header {
  margin: 1% 0 2% 0;
}
.container-home .header h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.container-home .header .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.2rem;
}
.container-home .header .nav a {
  color: black;
  text-decoration: none;
}
.container-home .header .nav a:hover {
  font-size: 1.7rem;
  color: black;
}
.container-home .dash {
  margin: 1% 0 1% 0;
  border: 1px solid black;
}
.container-home .image {
  border: 10px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.main-content {
  width: 100%;
  display: flex;
}
.main-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-content .boxes .box {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  background: white;
  margin: 20px 5%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .boxes .box h2 {
  font-size: 2.5rem;
}
.main-content .boxes .box h2 p {
  font-size: 1rem;
}
.footer {
  margin-bottom: 1%;
}
.footer .bottom-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer .bottom-nav a {
  color: black;
  text-decoration: none;
}
.footer .bottom-nav a:hover {
  font-size: 1.7rem;
  color: black;
}
@media (max-width: 500px) {
  .container-home {
    width: 100%;
  }
}
