.bottomsection {
  padding-left: 6%;
}.work h3 {
  font-size: @f-font;;
}div.skillsss {
  background: #00d0ff29;
}.skillsss {
  padding-left: 6%;
}.skills h3 {
  font-size: @f-font;
}p, li {
  font-size: 1.5rem;
}