// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html{
	height: 100%;
	padding-left: 4rem;
	padding-right: 4rem;
}

body{
	height: 100%;
	.mobile-formatting;
}


@nav-text-color:(grey);

.nav-formattig {
	font-size: 150%;
	text-decoration: none;
}

.list-formating{
	ul
	{ 
	list-style-type: circle;
	list-style-image: url(' ');
	list-style-position: inside;
		}
	li
	{ 
		padding: 16px; 
		margin: 0px; 
		} 
	}

.mobile-formatting{
	@media (max-width: 500px) {
		.container {
			display: flex;
			max-width: 100%;
			flex-direction: column;
			margin: 20px;
		}
	}
}

.title-formating{
	.nav-formattig;
	display: flex;
	color: @nav-text-color;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.wrapper {
	width: 100%;
	position: relative;
		.header {
			max-width: 100%;
			display: flex;
			flex-flow: row;
			justify-content: center;
			padding: 2rem;
				button{
					text-decoration: none;
					.nav-formattig;
					display: flex;
					color: @nav-text-color;
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: 3rem;
					margin-right: 3rem;
					border: none;
					background: none;
					}	
				}
		}

.middle {
	width: 100%;
	position: relative;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	padding-top: 2rem;
	padding-bottom: 2rem;
		.about-me-title{
			.title-formating;
			padding-left: -1rem;
			margin-left: -1rem;
		}
		.objective-title{
			.title-formating;
			padding-left: -1rem;
			margin-left: -1rem;
			padding-bottom: 1rem;
		}
		.work-experience{
			.title-formating;
			padding-left: -1rem;
			margin-left: -1rem;
			padding-bottom: 1rem;
				.work-experience-content{
					.list-formating;
				}
		}
		.skills-title{
			.title-formating;
			padding-left: -1rem;
			margin-left: -1rem;
	{ 
	list-style-type: circle;
	list-style-image: url(' ');
	list-style-position: inside;
	}
li
{ 
	padding: 16px; 
	margin: 0px; 
	} 
		}
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}


.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: none;
	  ul 
	  { 
	  list-style-type: circle;
	  list-style-image: url(' ');
	  list-style-position: inside;
	  } 
	 li 
	 { 
	  padding: 16px; 
	  margin: 0px; 
	  }  
}

.footer {
	height: 200px;
	background: none;
	
	.footer-title{
		.title-formating;
		padding-left: -1rem;
		margin-left: -1rem;
		padding-bottom: 1rem;
		padding-top: 2rem;
		
	}

}

