/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .container {
    margin: 0% 0% 0% 0%;
    padding: 0% 2% 0% 2%;
  }
}
.container header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0% 0% 2% 0%;
  padding: 3% 0% 3% 0%;
  background-color: black;
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid black;
}
.container header h2 {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  width: 35%;
}
.container header h2:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container header h2:hover:hover {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .container header h2 {
    margin: 5% 10% 4% 10%;
    padding: 0% 0% 0% 1%;
  }
}
.container header nav {
  width: 65%;
  margin: 5% 5% 0% 0%;
  padding: 0% 0% 0% 1%;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
  }
}
.container header a {
  text-decoration: none;
  color: white;
  margin: 0% 5% 0% 2%;
  padding: 0% 0% 0% 1%;
}
.container header a:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container header a:hover:hover {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .container header a {
    margin: 1% 0% 4% 11%;
    padding: 0% 0% 0% 1%;
  }
}
.container .intro {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .container .intro {
    flex-direction: column;
  }
}
.container .intro .myimg {
  width: 48%;
  height: 100%;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .container .intro .myimg {
    width: 100%;
    height: 50%;
  }
}
.container .intro .introcon {
  background-color: lightcyan;
}
.container .intro .introcon:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .intro .introcon:hover:hover {
    font-size: 1.8rem;
  }
}
.container .intro .introcon .intro-h2 {
  font-size: 2rem;
  margin: 10% 0% 6% 18%;
  padding: 3% 4% 0% 15%;
  font-family: Arial;
}
@media (max-width: 500px) {
  .container .intro .introcon .intro-h2:hover {
    font-size: 1.8rem;
  }
}
.container .intro .introcon p {
  width: 100%;
  margin: 0% 0% 0% 0%;
  padding: 3% 5% 10% 10%;
}
.container .ski {
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}
.container .ski .ski-h2 {
  background-color: lightblue;
  font-size: 1.8rem;
  padding: 2% 0% 2% 40%;
  margin: 0% 0% 0% 0%;
}
.container .ski .ski-table .ski1strow th {
  border-bottom: 1px solid black;
  padding: 2% 0% 2% 0%;
  margin: 0% 0% 0% 0%;
  background-color: black;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.container .ski .ski-table .ski2ndrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .ski .ski-table .ski2ndrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .ski .ski-table .ski2ndrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .ski .ski-table .ski3rdrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .ski .ski-table .ski3rdrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .ski .ski-table .ski3rdrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .ski .ski-table .ski4throw {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .ski .ski-table .ski4throw:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .ski .ski-table .ski4throw:hover:hover {
    font-size: 1.8rem;
  }
}
.container .edu {
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}
.container .edu .edu-h2 {
  background-color: lightblue;
  font-size: 1.8rem;
  padding: 2% 0% 2% 40%;
  margin: 0% 0% 0% 0%;
}
.container .edu .edu-table .edu1strow th {
  border-bottom: 1px solid black;
  padding: 2% 0% 2% 0%;
  margin: 0% 0% 0% 0%;
  background-color: black;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.container .edu .edu-table .edu2ndrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .edu .edu-table .edu2ndrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .edu .edu-table .edu2ndrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .edu .edu-table .edu3rdrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .edu .edu-table .edu3rdrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .edu .edu-table .edu3rdrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .edu .edu-table .edu4throw {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .edu .edu-table .edu4throw:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .edu .edu-table .edu4throw:hover:hover {
    font-size: 1.8rem;
  }
}
.container .exp {
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}
.container .exp .exp-h2 {
  background-color: lightblue;
  font-size: 1.8rem;
  padding: 2% 0% 2% 40%;
  margin: 0% 0% 0% 0%;
}
.container .exp .exp-table .exp1strow th {
  border-bottom: 1px solid black;
  padding: 2% 0% 2% 0%;
  margin: 0% 0% 0% 0%;
  background-color: black;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.container .exp .exp-table .exp2ndrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .exp .exp-table .exp2ndrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .exp .exp-table .exp2ndrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .exp .exp-table .exp3rdrow {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .exp .exp-table .exp3rdrow:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .exp .exp-table .exp3rdrow:hover:hover {
    font-size: 1.8rem;
  }
}
.container .exp .exp-table .exp4throw {
  border-bottom: 1px solid black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: lightgrey;
}
.container .exp .exp-table .exp4throw:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container .exp .exp-table .exp4throw:hover:hover {
    font-size: 1.8rem;
  }
}
.container footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0% 0% 2% 0%;
  padding: 3% 0% 3% 0%;
  background-color: black;
  font-size: 2rem;
  color: white;
}
.container footer h2 {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  width: 35%;
}
.container footer h2:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container footer h2:hover:hover {
    font-size: 1.8rem;
  }
}
.container footer nav {
  width: 65%;
  margin: 5% 5% 0% 0%;
  padding: 0% 0% 0% 1%;
}
.container footer nav a {
  text-decoration: none;
  color: white;
  margin: 0% 5% 0% 2%;
  padding: 0% 0% 0% 1%;
}
.container footer nav a:hover {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container footer nav a:hover:hover {
    font-size: 1.8rem;
  }
}
