/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/* my code goes below */
.p-style {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
}
.container {
  max-width: 880px;
  margin: 0 auto;
}
.container .header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-end;
}
.container .nav {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}
@media (max-width: 800px) {
  .container .nav {
    width: 100%;
    justify-content: center;
  }
}
.container .nav a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  width: 25rem;
  height: 5rem;
  padding-top: 1.4rem;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
  margin: 3rem 0;
  font-size: 1.6rem;
}
.container .intro img {
  width: 25rem;
  height: 25rem;
}
@media (max-width: 500px) {
  .container .intro img {
    display: none;
  }
}
.container .intro .intro-text {
  width: 40rem;
  height: 25rem;
  margin-left: 5%;
}
.container .intro .intro-text h2 {
  font-family: 'Bubblegum Sans', regular;
  font-size: 6rem;
  padding: 1rem 0;
}
.container .intro .intro-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
}
.container .divider {
  border: 1px dashed black;
  margin: 1rem auto;
  width: 80%;
}
.container .work-experience {
  width: 100%;
  height: 45rem;
}
.container .work-experience .work-text {
  width: 75%;
  height: 20rem;
}
.container .work-experience .work-text h2 {
  font-family: 'Bubblegum Sans', regular;
  font-size: 6rem;
  padding: 1rem 0;
}
.container .work-experience .work-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
}
.container .work-experience .timeline {
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  margin: 6rem auto;
  width: 80%;
}
.container table {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  border-collapse: collapse;
  width: 80%;
  margin: 5rem auto;
}
.container td,
.container th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.container tr:nth-child(even) {
  background-color: #dddddd;
}
.container .work-experience .timeline .dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.container .more-info {
  display: flex;
  flex-direction: column;
}
.container .more-info .work-text {
  width: 75%;
  height: 20rem;
  justify-content: flex-end;
  margin-left: 20%;
}
.container .more-info .work-text h2 {
  font-family: 'Bubblegum Sans', regular;
  font-size: 6rem;
  padding: 1rem 0;
  text-align: right;
}
.container .more-info .work-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: right;
}
.container .more-info .blocks {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: space-between;
}
.container .more-info .content-block {
  width: 30%;
}
.container .more-info .content-block h1 {
  font-family: 'Bubblegum Sans', regular;
  font-size: 6rem;
  padding: 1rem 0;
  font-size: 4rem;
}
.container .more-info .content-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
  font-size: 1.6rem;
}
.container .footer {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
