/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 15px;
  height: 100%;
  max-width: 100%;
  background-color: lightgray;
}
.navigation-container .main-navigation {
  max-width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1.2rem 0 1.2rem 0;
}
.navigation-container .main-navigation a {
  color: green;
  font-size: 1.2rem;
  text-decoration: none;
}
.navigation-container .main-navigation a:hover {
  color: red;
}
header {
  background-color: lightgray;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}
header h1 {
  font-size: 2rem;
  text-align: center;
}
header img {
  width: 40%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 1.1rem;
}
@media (max-width: 800px) {
  header img {
    width: 40%;
    margin: 0 auto;
    display: flex;
  }
}
@media (max-width: 500px) {
  header img {
    display: none;
  }
}
header p {
  width: 40%;
  margin: 0 auto;
  padding-top: 1.1rem;
  border-top: 1px solid green;
  font-size: 1.3rem;
  text-align: center;
}
@media (max-width: 500px) {
  header p {
    border-top: 1px solid green;
    width: 90%;
  }
}
.middle-content-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 800px) {
  .middle-content-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .middle-content-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
  }
}
.middle-content-container .bio-div {
  background-color: #cdeaf3;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
}
.middle-content-container h1 {
  margin: 0 auto;
  width: 5.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.flex-skills {
  display: flex;
  width: 30%;
  margin: 0 auto;
  padding-top: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
}
.flex-skills .skill-div {
  border: 1px solid black;
  padding: 1.1rem;
  background-color: #a6d973;
}
.flex-skills .workhist-div {
  @mixinuse 1;
}
.flex-skills h2 {
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}
.flex-skills .mixinuse2 {
  list-style-type: square;
  padding-left: 0.5em;
}
.flex-skills li {
  padding: 0.5em;
}
.flex-skills ol {
  @mixinuse 2;
}
.contact-section {
  width: 80%;
  margin: 0 auto;
  padding-top: 1.2rem;
  font-size: 1.2rem;
}
.contact-section .contact-div {
  background-color: #cdeaf3;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
}
.contact-section h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
