/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  max-width: 180px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.heading-style-1 {
  font-variant: small-caps;
  color: #223344ff;
}
.heading-style-2 {
  font-variant: small-caps;
  color: #ddccbbff;
}
html,
body {
  height: 100%;
  background-color: #223344ff;
  color: #ccccccff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  font-size: 10px;
  margin: 1rem;
  line-height: 1.15;
}
.home {
  font-size: 2rem;
}
.headshot {
  max-width: 20rem;
  max-height: 30vh;
  padding: 1rem;
  border-radius: 10px;
  border: solid #223344ff 5px;
  box-shadow: 1.25rem 1.25rem 4rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  max-height: 30vh;
  justify-content: flex-end;
  padding: 0rem 10rem 1rem 10rem;
  color: #ccccccff;
}
.navlink {
  text-decoration: none;
  color: #ccccccff;
  padding: 0rem 1rem 0rem 1rem;
}
.navlink:hover {
  color: blanchedalmond;
}
li {
  padding-left: 2rem;
}
.topbox {
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #ddccbbff;
  color: #223344ff;
  display: flex;
  flex-direction: column;
}
#awesome-work {
  display: flex;
  color: #223344ff;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: dotted #888888ff 1px;
}
#awesome-work:hover {
  color: dodgerblue;
}
.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.name-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.name-title h1 {
  font-size: 5rem;
  font-variant: small-caps;
  color: #223344ff;
}
.name-title h2 {
  font-size: 4rem;
  font-variant: small-caps;
  color: #223344ff;
}
.name-title h3 {
  font-size: 3rem;
  font-variant: small-caps;
  color: #223344ff;
}
.list-level-2 {
  padding: 0 0 0 4rem;
  list-style: circle;
}
.mid-box h2 {
  font-variant: small-caps;
  color: #ddccbbff;
  font-size: 3rem;
}
.mid-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}
.box1 {
  width: 50%;
}
.box2 {
  width: 40%;
}
.box2 tr:nth-child(even) {
  background-color: #666666aa;
}
tr {
  border: solid #ccccccff 1px;
}
td {
  padding: 1rem;
}
.bottom-box tr:nth-child(odd) {
  background-color: #666666aa;
}
.bottom-box h2 {
  font-size: 4rem;
  color: #ddccbbff;
  padding-bottom: 1rem;
}
.bottom-box {
  margin: 2rem;
}
.work-history {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
