/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
header {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    position: relative;
    height: 100px;
  }
}
header nav {
  height: 25px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 5%;
}
@media (max-width: 500px) {
  header nav {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100px;
    padding: 5px 0;
  }
}
header nav a {
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.4rem;
}
header nav a:hover {
  color: white;
}
@media (max-width: 500px) {
  header nav a {
    border-bottom: 1px solid darkgray;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
  }
  header nav a:last-of-type {
    border-bottom: none;
  }
}
.lead {
  display: flex;
  justify-content: space-between;
}
.lead img {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 15%;
  border: 2px solid white;
  box-shadow: 2px 2px 2px #404040;
}
@media (max-width: 500px) {
  .lead {
    flex-direction: column;
  }
}
.lead h1 {
  color: darkslategray;
  font-family: 'Pacifico', cursive;
  margin: -28px 0 5px -10px;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF, 3px 3px 2px #404040;
}
.lead .headline {
  flex: 1;
}
.lead .headline h2 {
  text-decoration: none;
}
.lead .headline h3 {
  margin: 0;
}
@media (max-width: 500px) {
  .lead .headline {
    margin: 0 auto;
  }
}
.lead .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.lead .skills {
  margin: 15px 0;
}
.lead .skills ul {
  display: flex;
  justify-content: space-between;
  list-style: disc inside;
  flex-wrap: wrap;
  margin-left: 10px;
}
.lead .skills h2 {
  margin-bottom: 15px;
}
.lead .education h3 {
  font-size: 2rem;
  font-style: italic;
  margin: 10px 0 10px 10px;
}
.lead h3,
.lead h4 {
  margin-left: 10px;
}
.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 600px;
  font-size: 1.6rem;
  background-color: #E8E8E8;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .container {
    margin-top: 0;
  }
}
.intro p {
  margin: 25px;
}
.intro h2 {
  margin-top: 20px;
}
.experience h3,
.experience h4 {
  margin-left: 10px;
}
.experience h3 {
  margin-top: 10px;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
  text-decoration: underline;
}
