.home {

  .content-section {
    padding-top: 0px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // border-top: 2px dashed @navigation-border;

    .mobile-layout (@a:center, @j:center) {
      display: flex;
      flex-direction: column;
      align-items: @a;
      justify-content: @j;
      width: 100%;
      padding: 0;
  }

    .header-content{
      padding-bottom: 1rem;
      border-bottom: 2px dashed @navigation-border;
      border-top: 2px dashed @navigation-border;
    }

    .header-text{
      margin-bottom: 0px;
    }

    .top-content{
      margin-top: 30px;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }

    }
  }


.title-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 40px;


    .main-title{

    }
    
    p{
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0rem;
    }
  }
}

  .inverse-content {
    padding-bottom: 30px;
    margin-top: 0px;
    border-bottom: 2px dashed @navigation-border;
    border-top: 0px dashed @navigation-border;
    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
// home