// Navigation Styles here

.nav-formattig{
    text-decoration: none;
    color: black;
    display: inline-flex;
    flex-flow: row;
}

.container-home{
    nav{
        border-bottom: 3px grey dashed;
    }
}

.btn{
    margin-right: 4rem;
    border: none;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    background: @button-bg;
}
