// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

// mixin

html,
body {
  height: 100%;
  font-size: 62, 5%;
  box-sizing: border-box;
}

.con {
  width: 100%;
  max-width: 982px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 1.1rem;
}

header {
  width: 100%;
  background-color: gray;
  background-image: linear-gradient(
      to right,
      rgba(24, 22, 22, 0.6),
      rgba(0, 7, 7, 0.6)
    ),
    url(../coding.jpeg);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;

  section {
    margin-top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;

    a {
      padding: 10px 20px;
      color: #fff;
      margin-top: 20px;
      text-transform: capitalize;
      border: 1px solid #fff;
      width: 20%;
      margin-left: 40%;
      border-radius: 1rem;

      &:hover {
        background-color: #000;
        transition: 0.5s;
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  nav {
    width: 90%;
    max-width: 982px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    margin: 0 auto;

    a {
      margin-left: 60px;
      text-transform: capitalize;
      padding: 10px 10px;
      color: #fff;
      border-bottom: 2px solid #fff;
      transition: 0.5s;

      &:hover {
        border-bottom: 2px solid transparent;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  height: 300px;

  section {
    width: 45%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin-top: 5%;
    }
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  section:not(:first-of-type) {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

.box {
  width: 28%;
  height: 90%;
  background-color: #fff;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 5%;
  padding: 2rem;
  margin-left: -4rem;
}
