/* Header Styles */

header {
    width: 100%;
    display: flex;
  
    nav {
      
        ul {
        margin-top: 40px;
        width: 610px;
        justify-content: space-between;
        display: flex;
  
            li {
                
                a {
                text-decoration: none;
                color: #b0b0b0;
  
                    &:hover {
                    text-decoration: underline;
                    color: black;
                    } //&:hover
                } //a
            } //li
        } //ul
    } //nav    
    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;
        }
  } //header

  /* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
  
    .cta-text {
      font-size: 72px;
      text-align: center;
      letter-spacing: 5px;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      margin: 0 82px 0 0;
  
      button {
        border: 1px double black;
        font-size: 16px;
        background: white;
        width: 170px;
        height: 32px;
        margin-top: 10px;
        cursor: pointer;
  
        button:hover {
          background: black;
          color: white;
        } //button:hover
      } //button
    } //.cta-text
  } //.cta
  
  /* Main Content Styles */

.main-content {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 75px 0 35px 0;
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
  
    .top-content {
      display: flex;
      justify-content: space-around;
  
      .middle-img {
        display: block;
        margin: 30px auto;
  
        .bottom-content {
          display: flex;
          justify-content: space-around;
  
          p {
            padding-right: 20px;
          } //p
        } //.bottom-content
      } //.middle-img
    } //.top-content
  } //.main-content